.0.0.0.0.0" tabindex="0" role="link" class="r-rjly70 alchemy-rte" target="_top" contenteditable="false" href="https://www.qureskincare.com/pages/privacy-page"><p>Privacy Policy</p></a></div><a data-rid="6e9ba59a-c998-4d3d-bf6c-42465b3098b5" data-replo-repeated-index=".0.0.0.0.0" tabindex="0" role="link" class="r-55omvt alchemy-rte" target="_top" contenteditable="false" href="https://www.qureskincare.com/pages/terms-and-conditions"><p><span>© 2022 Qure. All rights reserved.</span></p></a><a data-rid="0495cc35-816e-4b9e-8deb-49ac2077018c" data-replo-repeated-index=".0.0.0.0.0" tabindex="0" role="link" class="r-1owvlwv alchemy-rte" target="_top" contenteditable="false" href="https://www.qureskincare.com/pages/terms-and-conditions"><p><span>Our products are not intended to diagnose, cure, or prevent specific diseases of medical conditions. The Qure website is for education and information purposes only and is not intended as medical advice or a substitute for medical advice.</span></p></a></div></div></div><div data-rid="6fe9399f-20bb-450e-82b7-f3d76437356b" data-replo-repeated-index=".0.0" class="r-2g71e6"><style>
#shopify-section-newsletter {
display: none !important;
}
</style></div></div></div></div>

    <script id="replo-deps-element-id" data-id="110760886511"></script>
  {%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}<script type="application/json" id="replo-deps-shopify-store">{ "shop": { "moneyFormat": {{ shop.money_format | json }} } }</script>{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}