<!-- --  board of advisors start -- -->
<div class="board_of-advisors">
    <div class="container">
        <div class="section_header">
            <h2 class="title-lg  mx-auto text-center d-md-block d-none">
                Meet our board of advisors
            </h2>
            <h2 class="title-lg  mx-auto text-center d-md-none d-block">
                Board of advisors
            </h2>
            <p class="mw-680 text-center">At Qure Skincare, we are proud to have a team of esteemed
                Dermatologists guiding our mission to deliver high-quality skincare solutions.</p>
            <p class="d-md-none d-block pt-3 text-center">Meet our board of advisors:</p>
        </div>
        <div class="swiper twa__swiper targetSkin dot_pagination" id="twa__swiper-targetSkin-2"
            data-section-id="targetSkin-2" data-autoplay="false" data-loop="false" data-centerslide="false"
            data-mobile="1.24" data-tablet="4" data-desktop="4" data-spacing="20"
            data-arrowleft="targetSkin-swiper-prev-2" data-arrowright="targetSkin-swiper-next-2">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="advisor_content">
                        <img src="https://qureskincaredns.com/new/assets/advisor_1.webp" alt="" class="img-fluid">
                        <div class="advisor_detail">
                            <div class="accordion accordion-flush" id="advisorOne">
                                <div class="accordion-item bg-transparent">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                        <button class="accordion-button collapsed bg-transparent" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                            aria-expanded="false" aria-controls="flush-collapseOne">
                                        </button>
                                        <div class="text-white ps-3">
                                            <h6 class="mb-0">Dr Shah, MD</h6>
                                            <p class="pt-0">Board-Certified Dermatologist</p>
                                        </div>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingOne" data-bs-parent="#advisorOne">
                                        <div class="accordion-body pt-2">
                                            <p>“I like that they put a lot of R&D into their products -
                                                Ultimately, I think that they care a lot about the products they
                                                are putting out”</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advisor_content">
                        <img src="https://qureskincaredns.com/new/assets/advisor_2.webp" alt="" class="img-fluid">
                        <div class="advisor_detail">
                            <div class="accordion accordion-flush" id="advisorTwo">
                                <div class="accordion-item bg-transparent">
                                    <h2 class="accordion-header" id="flush-headingTwo">
                                        <button class="accordion-button collapsed bg-transparent" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                            aria-expanded="false" aria-controls="flush-collapseTwo">
                                        </button>
                                        <div class="text-white ps-3">
                                            <h6 class="mb-0">Dr Maxfield, MD</h6>
                                            <p class="pt-0">Board-Certified Dermatologist</p>
                                        </div>
                                    </h2>
                                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingTwo" data-bs-parent="#advisorTwo">
                                        <div class="accordion-body pt-2">
                                            <p>“Qure do studies on this, taking a look at how effective it is, so you can have confidence it’s going to hep what you’re doing for your skincare routine”</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advisor_content">
                        <img src="https://qureskincaredns.com/new/assets/advisor_3.webp" alt="" class="img-fluid">
                        <div class="advisor_detail">
                            <div class="accordion accordion-flush" id="advisorThree">
                                <div class="accordion-item bg-transparent">
                                    <h2 class="accordion-header" id="flush-headingThree">
                                        <button class="accordion-button collapsed bg-transparent" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                            aria-expanded="false" aria-controls="flush-collapseThree">
                                        </button>
                                        <div class="text-white ps-3">
                                            <h6 class="mb-0">Dr Alexis Stephens, MD</h6>
                                            <p class="pt-0">Board-Certified Dermatologist</p>
                                        </div>
                                    </h2>
                                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingThree" data-bs-parent="#advisorThree">
                                        <div class="accordion-body pt-2">
                                            <p>"What really sets Qure apart is the level of innovation and thoughtfulness they put into each product. Their commitment to quality and attention to detail really shines through in everything they create"</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advisor_content advisor_4">
                        <img src="https://qureskincaredns.com/new/assets/advisor_4.webp" alt="" class="img-fluid">
                        <div class="advisor_detail">
                            <div class="accordion accordion-flush" id="advisorFour">
                                <div class="accordion-item bg-transparent">
                                    <h2 class="accordion-header" id="flush-headingFour">
                                        <button class="accordion-button collapsed bg-transparent" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseFour"
                                            aria-expanded="false" aria-controls="flush-collapseFour">
                                        </button>
                                        <div class="text-white ps-3">
                                            <h6 class="mb-0">Dr Prem Tripathi, MD</h6>
                                            <p class="pt-0">Double Board Certified Facial Plastic Surgeon</p>
                                        </div>
                                    </h2>
                                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingFour" data-bs-parent="#advisorFour">
                                        <div class="accordion-body pt-2">
                                            <p>“I love that Qure Skincare products go beyond just topical treatments, helping to maintain the results of in-office procedures.”</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination_navigation d-md-none">
                <div class="swiper-pagination"></div>
                <div class="targetSkin-swiper-prev-2 swiper-button-prev swiper-button"></div>
                <div class="targetSkin-swiper-next-2 swiper-button-next swiper-button"></div>
            </div>
        </div>
    </div>
</div>
<!-- --  board of advisors end -- -->