<!-- -- get compliment worthy skin start [/sections/how-to-use.liquid]-- -->
<div class="affect_skin section affect_howToUse">
    <div class="dsn-right-container">
        <div class="section_header ms-0 d-block d-md-none">
            <h2 class="title-lg paddingB">How to use Qure’s Micro-Infusion System</h2>
        </div>
        <div class="video_with_slide justify-content-end">
            <div class="actVideo_block">
                <div class="ctmVideo__block">
                    <div class="player">
                        <video poster="https://qureskincaredns.com/new/assets/demo.png" width="640" height="264"
                            class="player__video viewer video-js ctmVideo-js"
                            src="https://cdn.shopify.com/videos/c/o/v/ceec5349f67d4c0787fe34201dfe5300.mp4"></video>
                        <div class="player__controls">
                            <div class="progress">
                                <div class="progress__filled"></div>
                            </div>
                            <button class="player__button toggle" title="Toggle Play">►</button>
                            <input type="range" name="volume" class="player__slider" min="0" max="1" step="0.05"
                                value="1">
                            <input type="range" name="playbackRate" class="player__slider" min="0.5" max="2"
                                step="0.1" value="1">
                            <button data-skip="-10" class="player__button">« 10s</button>
                            <button data-skip="25" class="player__button">25s »</button>
                            <button class="player__button player__fullscreen">⧉</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="affect_skinContent">
                <div class="section_header ms-0 d-none d-md-block">
                    <h2 class="title-lg paddingB">How to use Qure’s Micro-Infusion System</h2>
                    <p>Qure’s Micro-Infusion System is simple and intuitive to use.</p>
                </div>
                <div class="get_compliment_wrap">
                    <div class="tab-content" id="pills-tabContent1">
                        <div class="tab-pane fade active show" id="pills-specs" role="tabpanel"
                            aria-labelledby="pills-specs-tab">
                            <div class="gc_img_wrap">
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp1.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp2.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp10.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp3.webp">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-quick" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <div class="gc_img_wrap">
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp2.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp10.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp3.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp1.webp">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-customize" role="tabpanel"
                            aria-labelledby="pills-customize-tab">
                            <div class="gc_img_wrap">
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp10.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp3.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp1.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp2.webp">
                                </div>
                            </div>
                        </div>
                        {% comment %} <div class="tab-pane fade" id="pills-storage" role="tabpanel"
                            aria-labelledby="pills-customize-tab">
                            <div class="gc_img_wrap">
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp3.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp1.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp2.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp10.webp">
                                </div>
                            </div>
                        </div> {% endcomment %}
                    </div>
                    <ul class="nav nav-pills" id="pills-tab-skin" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-specs-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-specs" type="button" role="tab"
                                aria-controls="pills-specs" aria-selected="true">Prepare</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-quick-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-quick" type="button" role="tab"
                                aria-controls="pills-quick" aria-selected="false">Treatment</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-customize-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-customize" type="button" role="tab"
                                aria-controls="pills-customize" aria-selected="false">Aftercare</button>
                        </li>
                        {% comment %} <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-customize-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-storage" type="button" role="tab"
                                aria-controls="pills-customize" aria-selected="false">Storage</button>
                        </li> {% endcomment %}
                    </ul>
                    <div class="tab-content" id="pills-tabContent2">
                        <div class="tab-pane fade show active" id="pills-specs" role="tabpanel"
                            aria-labelledby="pills-specs-tab">
                            <p>Twist open the chamber of the device and fill with one ampule of serum. <br>Twist
                                on needle head with lid to close it tight.
                            </p>
                            <p>Leave the device upside down for 1-2 minutes. <br>During this time, wash your
                                face and make sure your hands are clean.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-quick" role="tabpanel"
                            aria-labelledby="pills-quick-tab">
                            <p>Once the serum has had enough time to make its way into the needles, you can take
                                off the lid and start micro-infusing!</p>
                            <p>Start at the centre of the face and work your way outward to cover the full face.
                                Perform 2/3 passes. Take any leftover serum from the device and pat it onto your
                                face and neck to leave on overnight.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-customize" role="tabpanel"
                            aria-labelledby="pills-customize-tab">
                            <p>Once treatment is completed, place lid back on the needle head. </p>
                            <p>Twist the lid off and dispose safely.</p>
                            <p>Open a new sterile needle head and put it on the device ready for your next
                                treatment.</p>
                        </div>
                        {% comment %} <div class="tab-pane fade" id="pills-storage" role="tabpanel"
                            aria-labelledby="pills-customize-tab">
                            <p>Once treatment is completed, place lid back on the needle head.</p>
                            <p>Twist the lid off and dispose safely.</p>
                            <p>Open a new sterile needle head and put it on the device ready for your next
                                treatment.</p>
                        </div> {% endcomment %}
                    </div>
                </div>

                <div class="get_confident-btn mw-452 mr-auto">
                    <a class="btn btn-lg btn-primary buy_btn" href="#new-landing-purchase">See How Easy It
                        Is</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- get compliment worthy skin end -- -->