<!-- -- skin barrier start -- -->
<div class="skin_barrier section">
    <div class="container">
        <div class="section_header mw-546 m-0 me-auto">
            <h2 class="title-lg paddingB">Break through your skin’s barrier and rejuvenate from the inside out.
            </h2>
        </div>
        <div class="row align-items-end">
            <div class="col-md-6">
                <div class="sb_img">
                    <img src="https://qureskincaredns.com/new/assets/skin_barrier.webp" alt="" class="img-fluid">
                </div>
            </div>
            <div class="offset-md-1 col-md-5">
                <div class="skin_barrier_wrap">
                    <div class="skin_barrier_item">
                        <img src="https://qureskincaredns.com/new/assets/q_w_derma.svg" alt="" class="img-fluid">
                        <p>Real results after your very first treatment.</p>
                    </div>
                    <div class="skin_barrier_item">
                        <img src="https://qureskincaredns.com/new/assets/q-w_effective.svg" alt="" class="img-fluid">
                        <p>More effective than topical creams.</p>
                    </div>
                    <div class="skin_barrier_item">
                        <img src="https://qureskincaredns.com/new/assets/q_w_plus.svg" alt="" class="img-fluid">
                        <p>Clinic-like skincare without clinic prices.</p>
                    </div>
                    <div class="skin_barrier_item">
                        <img src="https://qureskincaredns.com/new/assets/q_w_time.svg" alt="" class="img-fluid">
                        <p>Saves you time.</p>
                    </div>
                    <div class="skin_barrier_item">
                        <img src="https://qureskincaredns.com/new/assets/q_w_needles.svg" alt="" class="img-fluid">
                        <p>Virtually painless, minimal to no downtime. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- skin barrier start -- -->
