<!-- Comparison Section table start -->
<div class="bg-white comparison-section section anti_comparison-section">
    <div class="section_header text-md-center mb-3 px-4">
        <h2 class="title-lg d-none d-md-block pb-2">Why choose Qure?</h2>
        <h2 class="title-lg d-block d-md-none pb-2">
            Why choose Qure?
        </h2>

    </div>
    <div class="container">
        <div class="comparison_row--main">
            <div class="comparison-row border-0">
                <div class="row g-0">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <div class="row g-0">
                            <div class="col-md-3 col-6">
                                <div class="comp-col comp_hdr bg-default py-0">
                                    <div class="comp_mask_img">
                                        <img src="https://qureskincaredns.com/new/assets/compare_micro.webp" alt="" class="img-fluid">
                                        <h6>Qure</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 col-6">
                                <div class="comp-col comp_hdr py-0">
                                    <div class="comp_mask_img">
                                        <img src="https://qureskincaredns.com/new/assets/face_cream.png" alt="" class="img-fluid">
                                        <h6 class="comp_mask--text">Face Creams</h6>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comparison_row-main">
            <div class="comparison-row">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="comp-col comp-row__text-wrapper">
                            <div class="comp-row__title pt-md-4 pt-2">More effective than topical treatments
                            </div>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row g-0 h-100">
                            <div class="col-md-3 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center bg-default">
                                    <span class="g__checkBox"></span>
                                </div>
                            </div>
                            <div class="col-md-9 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center pt-md-4 pt-2">
                                    <span class="cross__checkBox"></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="comparison-row">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="comp-col comp-row__text-wrapper">
                            <div class="comp-row__title">Penetrates the skin barrier</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row g-0 h-100">
                            <div class="col-md-3 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center bg-default">
                                    <span class="g__checkBox"></span>
                                </div>
                            </div>
                            <div class="col-md-9 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center">
                                    <span class="cross__checkBox"></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="comparison-row">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="comp-col comp-row__text-wrapper">
                            <div class="comp-row__title">Deliver ingredients deep into the skin</div>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row g-0 h-100">
                            <div class="col-md-3 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center bg-default">
                                    <span class="g__checkBox"></span>
                                </div>
                            </div>
                            <div class="col-md-9 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center">
                                    <span class="cross__checkBox"></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="comparison-row">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="comp-col comp-row__text-wrapper">
                            <div class="comp-row__title">Visible results after one treatment</div>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row g-0 h-100">
                            <div class="col-md-3 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center bg-default">
                                    <span class="g__checkBox"></span>
                                </div>
                            </div>
                            <div class="col-md-9 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center">
                                    <span class="cross__checkBox"></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="comparison-row">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="comp-col comp-row__text-wrapper">
                            <div class="comp-row__title">Only takes 5 minutes</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row g-0 h-100">
                            <div class="col-md-3 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center bg-default">
                                    <span class="g__checkBox"></span>
                                </div>
                            </div>
                            <div class="col-md-9 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center">
                                    <span class="cross__checkBox"></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="comparison-row">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="comp-col comp-row__text-wrapper">
                            <div class="comp-row__title pb-md-4 pb-2">Reviewed by dermatologists</div>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row g-0 h-100">
                            <div class="col-md-3 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center bg-default rounded-0">
                                    <span class="g__checkBox"></span>
                                </div>
                            </div>
                            <div class="col-md-9 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center pb-md-4 pb-2">
                                    <span class="g__checkBox"></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="get_confident-btn mw-452 mx-auto">
            <a class="btn btn-lg btn-primary buy_btn" href="#new-landing-purchase">Try It Now</a>
        </div>
    </div>
</div>
<!-- Comparison Section table end -->
