<!-- -- safest way start -- -->
<div class="safest_way section">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-6">
                <div class="section_header">
                    <h2 class="title-lg paddingB d-none d-md-block">The safest way to microneedle at home…</h2>
                    <h2 class="title-lg paddingB d-block d-md-none">The safest way to “stamp your skin” at home…
                    </h2>
                    <p class="pb-4">Qure Micro-Infusion system is designed to be as <strong>safe, sterile and,
                            painless as
                            possible.</strong>
                        Each 24k gold plated microneedle head is single use, <strong>limiting any risk of
                            infection.</strong></p>
                    <p>Bypass your skin’s outer defensive layer and stamp your way to younger looking skin.</p>
                </div>
                <div class="safest_way_img d-block d-md-none mb-5">
                    <img src="https://qureskincaredns.com/new/assets/safeest_way.webp" alt="" class="img-fluid">
                </div>
                <div class="trusted_cl bg_clr_transparent p-0">
                    <div class="t_c_info mb-3 d-flex">
                        <p class="d-block d-md-none">"It’s an amazing 5-minute facial with minimal to no
                            downtime! I absolutely
                            love this. Ten out of ten from me."
                        </p>
                        <div class="c_img">
                            <img src="https://qureskincaredns.com/new/assets/cl_doireann.webp" alt="" class="img-fluid">
                        </div>
                        <div class="c_desc ps-2">
                            <p class="d-none d-md-block">"It’s an amazing 5-minute facial with minimal to no
                                downtime! I absolutely
                                love this. Ten out of ten from me."
                            </p>
                            <h6><span>Dr Doireann O’Leary,</span><br> Medical Doctor</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="safest_way_img ps-md-5 d-none d-md-block">
                    <img src="https://qureskincaredns.com/new/assets/safeest_way.webp" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="safest_way_ftr">
            <div class="safest_way_item">
                <img src="https://qureskincaredns.com/new/assets/sw_1.webp" alt="" class="img-fluid">
                <p>Built-in safety mechanism for <strong>safe and even stamping</strong> and effortless 5-minute
                    treatments</p>
            </div>
            <div class="safest_way_item">
                <img src="https://qureskincaredns.com/new/assets/sw_2.webp" alt="" class="img-fluid">
                <p>Sterile 24k gold plated <strong>disposable needleheads</strong> for better hygiene and safety
                </p>
            </div>
            <div class="safest_way_item">
                <img src="https://qureskincaredns.com/new/assets/sw_3.webp" alt="" class="img-fluid">
                <p>Almost painless with <strong>minimal downtime</strong></p>
            </div>
        </div>
    </div>
</div>
<!-- -- safest way start -- -->