<!-- -- stamping your skin start -- -->
<div class="stamping_your-skin">
    <div class="container">
        <div class="section_header text-md-center mw-680">
            <h2 class="title-lg paddingB mb-3">How does “stamping your skin” work?</h2>
            <p class="pb-3">Qure’s microneedles <strong> bypass the stratum corneum</strong> (the tough
                protective outer
                layer of skin) to <strong>deliver our scientifically-backed serum</strong> where it is needed to
                give you faster, better results.</p>
            <p>It also triggers your <strong>natural recovery process</strong> giving your skin a rejuvenating
                boost.</p>
        </div>
        <div class="row justify-content-between">
            <div class="col-md-6">
                <div class="stamping_skin-gif  d-none d-md-block">
                    <div class="wistia_responsive_padding" style="position:relative;">
                        <div class="wistia_responsive_wrapper"
                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                            <div class="wistia_embed wistia_async_womq9t497b seo=false videoFoam=true"
                                style="height:100%;position:relative;width:100%">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="stamping_skin-row">
                    <div class="stamping_skin-gif d-block d-md-none">
                        <div class="wistia_responsive_padding" style="position:relative;">
                            <div class="wistia_responsive_wrapper"
                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                <div class="wistia_embed wistia_async_womq9t497b seo=false videoFoam=true"
                                    style="height:100%;position:relative;width:100%">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="stamping_content-main">
                        <div class="stamping_skin-content">
                            <div class="stamping_content-head">
                                <img src="https://qureskincaredns.com/new/assets/Lines_Wrinkles.svg" alt="">
                                <h5>
                                    Minimizing the look of<br> Fine Lines and Wrinkles
                                </h5>
                            </div>
                            <p>Our powerful Hydra-Soothing Serum gets deep into your skin where it can be
                                quickly
                                absorbed, <strong> fading</strong> the appearance of wrinkles,
                                <strong>reducing</strong>
                                fine lines, and <strong>deeply hydrating
                                </strong>for a dewy glow. 
                            </p>
                        </div>
                        <div class="stamping_skin-content">
                            <div class="stamping_content-head">
                                <img src="https://qureskincaredns.com/new/assets/dark_spots.svg" alt="">
                                <h5>
                                    Reducing the appearance of Dark Spots<br> and Hyperpigmentation
                                </h5>
                            </div>
                            <p>Our scientifically-backed rejuvenating serum gets deep into your skin where it
                                can be
                                quickly absorbed, <strong>reducing pigmentation</strong> and <strong>fading dark
                                    spots</strong> while <strong>evening the look of the skin </strong>and
                                reducing
                                the
                                size appearance of pores. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="get_confident-btn mw-452 mx-auto">
            <a class="btn btn-lg btn-primary buy_btn" href="#new-landing-purchase">Get Confident Skin</a>
        </div>
    </div>
</div>
<!-- -- stamping your skin end -- -->