<!-- -- trusted section start -- -->
<div class="trusted_bl section">
    <div class="trusted_cl bg_clr_transparent">
        <div class="container">
            <div class="section_header text-start  d-block d-lg-none">
                <h2 class="title-lg">
                    The dermatologist's choice for safety and effectiveness…
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="trusted_cl_m mb-2 mb-md-0">
                        <img src="https://qureskincaredns.com/new/assets/trusted_anthony_main.webp" alt="" class="img-fluid t_m_img">
                        <div class="play_btn">
                            <a class="popup-youtube"
                                href="https://www.youtube.com/watch?v=gGVKgTHloXw"><span><img
                                        src="https://qureskincaredns.com/new/assets/trusted_play_sm.svg" alt="" class="">
                                    <h6>Watch Review</h6>
                                </span></a>
                        </div>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-6">
                    <div class="trusted_left">
                        <div class="section_header d-none d-lg-block pt-0">
                            <h2 class="title-lg">
                                The dermatologist's choice for safety and effectiveness…
                            </h2>
                        </div>
                        <div class="t_c_wrapper">
                            <div class="t_c_info mb-3 d-flex">
                                <p class="d-block d-md-none">"The Qure’s System is the closest thing that
                                    you can get to
                                    bringing your
                                    aesthetician home with you!"
                                </p>
                                <div class="c_img">
                                    <img src="https://qureskincaredns.com/new/assets/cl_anthony.webp" alt="">
                                </div>
                                <div class="c_desc ps-2">
                                    <p class="d-none d-md-block">"The Qure’s System is the closest thing that
                                        you can get to
                                        bringing your
                                        aesthetician home with you!"
                                    </p>
                                    <h6><span>Dr Anthony Youn,</span><br> Board-Certified Plastic Surgeon</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="mw-546 mx-auto mt-4 d-block d-md-none">
                <a href="https://www.qureskincare.com/pages/qurify-offer#shop"
                    class="btn btn-lg btn-primary buy_btn">Choose Your Treatment
                </a>
            </div>
        </div>
    </div>
</div>
<!-- -- trusted section end -- -->