<!-- -- beauty clinical start -- -->
<div class="beauty_skincare bg-white">
    <div class="container">
        <div class="section_header text-start text-md-center mw-750 mb-3">
            <h2 class="title-lg mw-680 mx-auto paddingB">Qure’s Micro-Infusion System goes where your skin
                creams can’t…
            </h2>
            <p class="pb-3 pb-md-0">Tired of constantly switching skincare products and still <strong>not seeing
                    results?</strong>
            </p>
            <p><strong>Topical skincare alone isn't effective </strong> because many ingredients in face creams
                and serums are too large to penetrate deep enough into the skin, where your skin needs them
                most. </p>

        </div>
        <div class="bs_grid">
            <div class="bs_item">
                <div class="bs_img">
                    <div class="wistia_responsive_padding beauty_img" style="position:relative;">
                        <div class="wistia_responsive_wrapper"
                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                            <div class="wistia_embed wistia_async_9gjsppjkja seo=false videoFoam=true"
                                style="height:100%;position:relative;width:100%">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="bs_content">
                    <h4>Topical creams</h4>
                </div>
            </div>
            <div class="bs_vs_item">
                <div class="bs_versace">
                    <span>vs</span>
                </div>
            </div>
            <div class="bs_item">
                <div class="bs_content d-md-none d-block pb-3 pt-0">
                    <h4 class="pb-1"><span class="d-md-block d-none">Stamping</span> <span
                            class="d-md-none">Stamp</span> Your Skin with <br>
                        Micro-Infusion System</h4>
                </div>
                <div class="bs_img">
                    <div class="wistia_responsive_padding beauty_img" style="position:relative;">
                        <div class="wistia_responsive_wrapper"
                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                            <div class="wistia_embed wistia_async_na8z16hdlx seo=false videoFoam=true"
                                style="height:100%;position:relative;width:100%">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="bs_content d-md-block d-none">
                    <h4>Stamping Your Skin with <br>
                        Micro-Infusion System</h4>
                </div>
            </div>
        </div>
        <div class="your_quest mw-546 mx-auto">
            <h2 class="title-lg">Your quest for the “one product that finally works” ends here.</h2>
            <div class="your_quest-inner mw-464 mx-auto">
                <div class="your_quest-icon">
                    <img src="https://qureskincaredns.com/new/assets/deeply-hydrates.svg" alt="">
                </div>
                <div class="your_quest-text">
                    <p><strong>2-in-1 system</strong> stimulates skin rejuvenation while infusing serum deeper
                        for <strong>faster results.</strong></p>
                </div>
            </div>
            <div class="your_quest-inner mw-464 mx-auto">
                <div class="your_quest-icon">
                    <img src="https://qureskincaredns.com/new/assets/TIME.svg" alt="">
                </div>
                <div class="your_quest-text">
                    <p>With just one easy, virtually painless, <strong>at-home 5-minute treatment</strong> every
                        2 weeks.</p>
                </div>
            </div>
            <div class="your_quest-inner mw-464 mx-auto">
                <div class="your_quest-icon">
                    <img src="https://qureskincaredns.com/new/assets/MONEY.svg" alt="">
                </div>
                <div class="your_quest-text">
                    <p>At a price up to <strong> 30X lower</strong> than any professional in-clinc treatment!
                    </p>
                </div>
            </div>
            <div class="your_quest-btn mw-464 mx-auto pt-2">
                <a class="btn btn-lg btn-primary buy_btn" href="#new-landing-purchase">Discover Qure</a>
            </div>
        </div>
    </div>
</div>
<!-- -- beauty clinical start -- -->