<!-- -- main banner start -- -->
<div class="anti_cream-banner tabSlider">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-2 order-md-1">
                <div class="">
                    <div>
                        <div class="section_header text-start">
                            <h2 class="title-xl d-none d-md-block mb-0">Fed Up With Creams That Don't Work The
                                Way
                                You Want?</h2>
                            <h2 class="title-xl d-md-none">Fed Up With Creams That Don't Work The Way You Want?
                            </h2>
                        </div>
                        <div class="">
                            <div class="anti_cream-text">
                                <p>Qure’s Micro-Infusion System stamps your skin and gets <strong> past your
                                        skin's</strong>
                                    defences to deliver active ingredients <strong>exactly where you need
                                        them,</strong>
                                    reducing
                                    the appearance of wrinkles and fine lines, and fading the look of dark
                                    spots.</p>
                            </div>
                            <div class="ss_list mw-473">
                                <ul>
                                    <li class="pb-md-3">Visible results after your very first treatment.</li>
                                    <li class="pb-md-3">Only takes 5-minutes every 2 weeks.</li>
                                    <li class="pb-md-3">Virtually painless with minimal downtime.</li>
                                </ul>
                            </div>
                            <div class="mw-452">
                                <a class="btn btn-lg btn-primary buy_btn" href="#new-landing-purchase">Discover
                                    Confident skin</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <div class="c_guide_img mw-mob-100" style="min-height: 400px;">
                    <div class="wistia_responsive_padding" style="position:relative;">
                        <div class="wistia_responsive_wrapper"
                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                            <div class="wistia_embed wistia_async_ri7eb8c11y seo=false videoFoam=true"
                                style="height:100%;position:relative;width:100%">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- main banner end -- -->