<!-- --  skincare slider start  -- -->
<div class="skincare_slider_n section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section_header">
                    <h2 class="title-lg">
                        No hype, just evidence.
                    </h2>
                    <p>The results speak for themselves. In an independent user study, participants' skin was
                        measured
                        and showed proven visible improvement after just 6 fortnightly treatments.</p>
                    <div class="d-none d-md-block">
                        <div class="skincare_percent">
                            <div class="progressCont">
                                <span class="progressWrapper">
                                    <span class="progessInfo text-dark">70%</span>
                                    <svg class="vMQQx" height="54" width="54" viewBox="-29 -29 58 58">
                                        <defs>
                                            <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                                <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                <stop offset="100%" stop-color="#C7E7DC"></stop>
                                            </linearGradient>
                                        </defs>
                                        <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                            class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                        <circle visibility="visible" fill="none" pathLength="100"
                                            transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
                                            style="stroke-dasharray: 100; stroke-dashoffset: 30; stroke-width: 4px;">
                                        </circle>
                                    </svg>
                                </span>
                            </div>
                            <p>of participants say their fine lines <strong>looked smoother.</strong></p>
                        </div>
                        <div class="skincare_percent">
                            <div class="progressCont">
                                <span class="progressWrapper">
                                    <span class="progessInfo text-dark">93%</span>
                                    <svg class="vMQQx" height="54" width="54" viewBox="-29 -29 58 58">
                                        <defs>
                                            <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                                <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                <stop offset="100%" stop-color="#C7E7DC"></stop>
                                            </linearGradient>
                                        </defs>
                                        <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                            class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                        <circle visibility="visible" fill="none" pathLength="100"
                                            transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
                                            style="stroke-dasharray: 100; stroke-dashoffset: 7; stroke-width: 4px;">
                                        </circle>
                                    </svg>
                                </span>
                            </div>
                            <p>noticed <strong>results the next day</strong> after the first Micro-Infusion
                                treatment. </p>
                        </div>
                        <div class="skincare_percent">
                            <div class="progressCont">
                                <span class="progressWrapper">
                                    <span class="progessInfo text-dark">70%</span>
                                    <svg class="vMQQx" height="54" width="54" viewBox="-29 -29 58 58">
                                        <defs>
                                            <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                                <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                <stop offset="100%" stop-color="#C7E7DC"></stop>
                                            </linearGradient>
                                        </defs>
                                        <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                            class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                        <circle visibility="visible" fill="none" pathLength="100"
                                            transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
                                            style="stroke-dasharray: 100; stroke-dashoffset: 30; stroke-width: 4px;">
                                        </circle>
                                    </svg>
                                </span>
                            </div>
                            <p>of participants say their skin looked <strong>brighter and more even
                                    toned.</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offset-md-1 col-md-5">
                <div class="swiper twa__swiper dot_pagination" id="twa__swiper-skinSliderN"
                    data-section-id="skinSliderN" data-autoplay="false" data-loop="false"
                    data-centerslide="false" data-mobile="1" data-tablet="1" data-desktop="1" data-spacing="30"
                    data-arrowleft="skinSliderN-swiper-prev" data-arrowright="skinSliderN-swiper-next">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="skin_item_n">
                                <div class="skin_item_n_img">
                                    <img src="https://qureskincaredns.com/new/assets/sn_1.webp" alt="" class="img-fluid">
                                </div>
                                <div class="skin_item_n_tag">
                                    <p>Proven to visually improve <span class="sn_tag">Fine Lines &
                                            Wrinkles</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="skin_item_n">
                                <div class="skin_item_n_img">
                                    <img src="https://qureskincaredns.com/new/assets/sn_2.webp" alt="" class="img-fluid">
                                </div>
                                <div class="skin_item_n_tag">
                                    <p>Proven to visually improve <span class="sn_tag">Large Pores & Skin
                                            Texture</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="skin_item_n">
                                <div class="skin_item_n_img">
                                    <img src="https://qureskincaredns.com/new/assets/sn_3.webp" alt="" class="img-fluid">
                                </div>
                                <div class="skin_item_n_tag">
                                    <p>Proven to visually improve <span class="sn_tag">Dark Spots &
                                            Texture</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="skin_item_n">
                                <div class="skin_item_n_img">
                                    <img src="https://qureskincaredns.com/new/assets/sn_4.webp" alt="" class="img-fluid">
                                </div>
                                <div class="skin_item_n_tag">
                                    <p>Proven to visually improve <span class="sn_tag">Uneven Skin Tone</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination_navigation">
                        <div class="swiper-pagination"></div>
                        <div class="skinSliderN-swiper-prev swiper-button-prev swiper-button"></div>
                        <div class="skinSliderN-swiper-next swiper-button-next swiper-button"></div>
                    </div>
                </div>
                <div class="d-block d-md-none">
                    <div class="skincare_percent">
                        <div class="progressCont">
                            <span class="progressWrapper">
                                <span class="progessInfo text-dark">70%</span>
                                <svg class="vMQQx" height="54" width="54" viewBox="-29 -29 58 58">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                        class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                    <circle visibility="visible" fill="none" pathLength="100"
                                        transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
                                        style="stroke-dasharray: 100; stroke-dashoffset: 30; stroke-width: 4px;">
                                    </circle>
                                </svg>
                            </span>
                        </div>
                        <p>of participants say their fine lines <strong>looked smoother.</strong></p>
                    </div>
                    <div class="skincare_percent">
                        <div class="progressCont">
                            <span class="progressWrapper">
                                <span class="progessInfo text-dark">93%</span>
                                <svg class="vMQQx" height="54" width="54" viewBox="-29 -29 58 58">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                        class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                    <circle visibility="visible" fill="none" pathLength="100"
                                        transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
                                        style="stroke-dasharray: 100; stroke-dashoffset: 7; stroke-width: 4px;">
                                    </circle>
                                </svg>
                            </span>
                        </div>
                        <p>noticed <strong>results the next day</strong> after the first Micro-Infusion
                            treatment. </p>
                    </div>
                    <div class="skincare_percent">
                        <div class="progressCont">
                            <span class="progressWrapper">
                                <span class="progessInfo text-dark">70%</span>
                                <svg class="vMQQx" height="54" width="54" viewBox="-29 -29 58 58">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                        class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                    <circle visibility="visible" fill="none" pathLength="100"
                                        transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
                                        style="stroke-dasharray: 100; stroke-dashoffset: 30; stroke-width: 4px;">
                                    </circle>
                                </svg>
                            </span>
                        </div>
                        <p>of participants say their skin looked <strong>brighter and more even
                                toned.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- --  skincare slider end  -- -->

{% schema %}
{
    "name": "t:sections.skin-care.label",
    "settings": [
      
    ],
    "blocks": [
        {
            "type": "column",
            "name": "t:common.text.content",
            "settings": [
                {
                    "type": "text",
                    "id": "headin",
                    "label": "t:common.heading.label"
                }
            ]
        }
    ]
}
{% endschema %}