<!-- -- qure founder start -- -->
<div class="qure_founder">
    <div class="container-fluid">
        <div class="qure_founder_wrap d-none d-md-flex">
            <div class="qure_founder_img text-end"><img src="https://qureskincaredns.com/new/assets/dr.shah.webp" alt="">
            </div>
            <div class="qure_founder_info trusted_bl trustedVerified">
                <div class="trusted_verified"><img src="https://qureskincaredns.com/new/assets/verified_design.svg" alt="">
                    <p>Trusted and recommended by world leading Dermatologists</p>
                </div>
                <h3>“To have argireline in a very targeted patch is GENIUS; it’s a botox-like peptide that
                    really helps with fine lines”</h3>
                <div class="founder_info mt-3 text-end">
                    <p><span class="fw-medium">- Dr. Muneeb Shah, MD,</span> Board certified dermatologist</p>
                </div>
            </div>
        </div>
        <div class="qure_founder_info trusted_bl trustedVerified d-block d-md-none py-0">
            <div class="trusted_verified"><img src="https://qureskincaredns.com/new/assets/verified_design.svg" alt="">
                <p>Trusted and recommended by world leading Dermatologists</p>
            </div>
        </div>
        <div class="qure_founder-wrap-mobile d-block d-md-none">
            <img src="https://qureskincaredns.com/new/assets/Dr_Muneeb.webp" alt="Dr_Muneeb">
            <div class="qure_founder_info">
                <h5>“To have argireline in a very targeted patch is GENIUS; it’s a botox-like peptide that really helps with fine lines”</h5>
                <p>Dr. Muneeb Shah, MD</p>
                <span>Board certified dermatologist</span>
            </div>
        </div>
    </div>
</div>
<!-- -- qure founder end -- -->