<link rel="stylesheet" href="https://qureskincaredns.com/new/assets/qure-skincare-app.css">
<link rel="stylesheet" href="https://qureskincaredns.com/new/assets/dermal-mist.css">

<!-- -- press slider start -- -->
<div class="press_bl bg-lightGrey mt-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="ps_wrapper align-items-center">
                    <div class="ps_item">
                        <img src="https://qureskincaredns.com/new/assets/vogue2.svg" alt="" class="img-fluid">
                    </div>
                    <div class="ps_item d-none d-md-block">
                        <img src="https://qureskincaredns.com/new/assets/women_health.svg" alt="" class="img-fluid">
                    </div>
                    <div class="ps_item d-none d-md-block">
                        <img src="https://qureskincaredns.com/new/assets/cosmopolitan2.svg" alt="" class="img-fluid">
                    </div>
                    <div class="ps_item">
                        <img src="https://qureskincaredns.com/new/assets/elle2.svg" alt="" class="img-fluid">
                    </div>
                    <div class="ps_item">
                        <img src="https://qureskincaredns.com/new/assets/marie.svg" alt="" class="img-fluid">
                    </div>
                    <div class="ps_item">
                        <img src="https://qureskincaredns.com/new/assets/grazia2.svg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- -- press slider end -- -->

<!-- -- image with text start -- -->
<div class="imageText new_side section mt-md-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="it_img pb-3 pb-md-0 pe-0 pe-md-5 pt-md-3">
                    <div class="header d-md-none d-block pb-3">
                        <h2 class="title-lg mb-md-4 text-capitalize">5 Reasons Dermal Mist deserves a VIP spot in your routine</h2>
                    </div>
                    <picture>
                        <source media="(min-width:1920px)" srcset="https://qureskincaredns.com/new/assets/newside.webp" class="img-fluid"
                            width="503" height="607">
                        <source media="(min-width:1600px)" srcset="https://qureskincaredns.com/new/assets/newside.webp" class="img-fluid"
                            width="503" height="607">
                        <source media="(min-width:1100px)" srcset="https://qureskincaredns.com/new/assets/newside.webp" class="img-fluid"
                            width="503" height="607">
                        <source media="(min-width:720px)" srcset="https://qureskincaredns.com/new/assets/newside.webp" class="img-fluid"
                            width="503" height="607">
                        <source media="(min-width:540px)" srcset="https://qureskincaredns.com/new/assets/newside.webp" class="img-fluid"
                            width="503" height="607">
                        <img src="https://qureskincaredns.com/new/assets/newside.webp" width="384" height="463" alt="" class="img-fluid">
                    </picture>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="it_info p-0 pt-0 pt-md-0">
                    <div class="header d-md-block d-none">
                        <h2 class="title-lg mb-md-4">5 Reasons Dermal Mist deserves a VIP spot in your routine</h2>
                    </div>
                    <div class="newside_list mw-100">
                        <ul class="d-md-block d-none">
                            <li>
                                <img src="https://qureskincaredns.com/new/assets/bacteria.svg" alt="">
                                <div>
                                    <p>Purifies Beyond The Surface:</p>
                                    <p class="fw-normal">Removes impurities and bacteria, helping to prevent irritation and breakouts.</p>
                                </div>
                            </li>
                            <li>
                                <img src="https://qureskincaredns.com/new/assets/Soothes.svg" alt="">
                                <div>
                                    <p>Soothes Redness and Irritation: </p>
                                    <p class="fw-normal">Hypochlorous acid helps to calm your skin, providing relief from everyday stressors.</p>
                                </div>
                            </li>
                            <li>
                                <img src="https://qureskincaredns.com/new/assets/Dry-skin.svg" alt="">
                                <div>
                                    <p>Doesn’t Dry Out Skin: </p>
                                    <p class="fw-normal">Alcohol-free formula is designed to be gentle, leaving your skin comfortable, not tight or dry.</p>
                                </div>
                            </li>
                            <li>
                                <img src="https://qureskincaredns.com/new/assets/spray.svg" alt="">
                                <div>
                                    <p>Super Versatile: </p>
                                    <p class="fw-normal">From your face and body to your devices, this mist fits effortlessly into different parts of your day.</p>
                                </div>
                            </li>
                            <li>
                                <img src="https://qureskincaredns.com/new/assets/sparkling.svg" alt="">
                                <div>
                                    <p>Fits Into Any Routine:</p>
                                    <p class="fw-normal">Just spray, let it dry, and continue with your routine—no extra steps needed.</p>
                                </div>
                            </li>
                        </ul>
                        <ul class="d-md-none">
                            <li>
                                <img src="https://qureskincaredns.com/new/assets/bacteria.svg" alt="">
                                <div>
                                    <p>It Cleanses Beyond The Surface: </p>
                                    <p class="fw-normal">Dermal Mist works to remove impurities and bacteria, helping to prevent irritation and breakouts.</p>
                                </div>
                            </li>
                            <li>
                                <img src="https://qureskincaredns.com/new/assets/Soothes.svg" alt="">
                                <div>
                                    <p>It Soothes Redness And Irritation:</p>
                                    <p class="fw-normal">Hypochlorous acid helps to calm your skin, providing relief from everyday stressors.</p>
                                </div>
                            </li>
                            <li>
                                <img src="https://qureskincaredns.com/new/assets/Dry-skin.svg" alt="">
                                <div>
                                    <p>It Doesn’t Dry You Out: </p>
                                    <p class="fw-normal">The alcohol-free formula is designed to be gentle, leaving your skin comfortable, not tight or dry.</p>
                                </div>
                            </li>
                            <li>
                                <img src="https://qureskincaredns.com/new/assets/spray.svg" alt="">
                                <div>
                                    <p>It’s Super Versatile:</p>
                                    <p class="fw-normal">From your face and body to your devices, this mist fits effortlessly into different parts of your day.</p>
                                </div>
                            </li>
                            <li>
                                <img src="https://qureskincaredns.com/new/assets/sparkling.svg" alt="">
                                <div>
                                    <p>It Fits Into Any Routine:</p>
                                    <p class="fw-normal">Just spray, let it dry, and continue with your routine—no extra steps needed.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- image with text end -- -->

<!-- -- capsule dropdowns start -- -->
<div class="purify_anything section">
    <div class="container">
        <div class="section_header text-start text-md-center mb-4">
            <h2 class="title-lg paddingB">Purify anything, anywhere, anytime.</h2>
            <p class="pb-0">From post-workout refreshes to prepping your skin for treatments, Dermal Mist is your secret weapon 
                for keeping things calm, clear, and ready for whatever comes next —no rinsing, no fuss.</p>
        </div>
    </div>
    <div class="purify_anything-inner">
        <div class="container">
        <div class="purify_anything-content">
            <div class="accordion" id="purifyAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="purifyheadingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#purifycollapseOne" aria-expanded="true" aria-controls="purifycollapseOne">
                            <img src="https://qureskincaredns.com/new/assets/post-workout.png" class="w-100" alt="">
                            <span class="ps-2">Post- Workout Essential:</span>
                        </button>
                    </h2>
                    <div id="purifycollapseOne" class="accordion-collapse collapse" aria-labelledby="purifyheadingOne" data-bs-parent="#purifyAccordion">
                        <div class="accordion-body">
                            Spray right after a gym session to help keep breakouts at bay before you can get to a full cleanse.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="purifyheadingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#purifycollapseTwo" aria-expanded="false" aria-controls="purifycollapseTwo">
                            <img src="https://qureskincaredns.com/new/assets/pillowcase.png" class="w-100" alt="">
                            <span class="ps-2">Pillowcase Protector:</span>
                        </button>
                    </h2>
                    <div id="purifycollapseTwo" class="accordion-collapse collapse" aria-labelledby="purifyheadingTwo" data-bs-parent="#purifyAccordion">
                        <div class="accordion-body">
                            In between washes, a spray on your pillowcase can help keep breakout-causing germs under control.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="purifyheadingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#purifycollapseThree" aria-expanded="false" aria-controls="purifycollapseThree">
                            <img src="https://qureskincaredns.com/new/assets/pre-treatment-purifier.png" class="w-100" alt="">
                            <span class="ps-2">Pre-Treatment Purifier:</span>
                        </button>
                    </h2>
                    <div id="purifycollapseThree" class="accordion-collapse collapse" aria-labelledby="purifyheadingThree" data-bs-parent="#purifyAccordion">
                        <div class="accordion-body">
                            Before Micro-Infusion, give your skin a spritz to cleanse and prep for better results.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="purifyheadingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#purifycollapseFour" aria-expanded="false" aria-controls="purifycollapseFour">
                            <img src="https://qureskincaredns.com/new/assets/device-defender.png" class="w-100" alt="">
                            <span class="ps-2">Device Defender:</span>
                        </button>
                    </h2>
                    <div id="purifycollapseFour" class="accordion-collapse collapse" aria-labelledby="purifyheadingFour" data-bs-parent="#purifyAccordion">
                        <div class="accordion-body">
                            After using your Q-Rejuvalight Pro, a light spray and wipe inside your device keeps it clean.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- -- capsule dropdowns end -- -->

<!-- -- beauty clinical start -- -->
<div class="beauty_skincare section bg-white">
    <div class="container">
        <div class="section_header text-start text-md-center mw-630 mb-3">
            <h2 class="title-lg mw-590 paddingB">
                A mist that does more than refresh
            </h2>
        </div>
        <div class="bs_grid">
            <div class="bs_item">
                <div class="bs_img">
                    <img src="https://qureskincaredns.com/new/assets/dermal-mist.webp" alt="" class="img-fluid beauty_img d-md-block d-none">
                    <img src="https://qureskincaredns.com/new/assets/dermal-mist-mob.webp" alt="" class="img-fluid beauty_img d-md-none">
                </div>
                <div class="bs_content">
                    <h4 class="d-none d-md-block">Qure Dermal Mist</h4>
                    <h4 class="d-block d-md-none"><span class="fw-bold">Qure</span><br>Dermal Mist</h4>
                </div>
                <div class="bs_feature correctCircle">
                    <ul class="rightCircle">
                        <li>Powered by <b>Hypochlorous Acid</b> and enriched with Chamomile</li>
                        <li>Safe for <b>face, body, and surfaces</b></li>
                        <li><b>Hypoallergenic</b> and suitable for <b>sensitive skin</b></li>
                        <li><b>Clinically proven</b> to reduce bacteria and inflammation</li>
                        <li><b>Non-drying</b> and leaves <b>no residue</b></li>
                        <li>Light, natural <b>HOCl scent</b> that dissipates quickly</li>
                    </ul>
                </div>
            </div>
            <div class="bs_vs_item">
                <div class="bs_versace">
                    <span>vs</span>
                </div>
            </div>
            <div class="bs_item">
                <div class="bs_img">
                    <img src="https://qureskincaredns.com/new/assets/skin-mist.webp" alt="" class="img-fluid">
                </div>
                <div class="bs_content">
                    <h4>Traditional<br class="d-block d-md-none"> Skin Mists</h4>
                </div>
                <div class="bs_feature incorrectCircle">
                    <ul class="wrongCircle">
                        <li>Often <b>alcohol-based</b><br class="d-md-none"> or contain added fragrances</li>
                        <li>Primarily designed for <b>facial use only</b></li>
                        <li>May contain <b>irritants</b> not ideal for sensitive skin</li>
                        <li>Usually <b>focused on hydration</b> without these benefits</li>
                        <li>May leave <b>sticky residue</b> or cause dryness</li>
                        <li>Often has a <b>fragrance</b> which can cause irritation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- beauty clinical start -- -->

<!-- -- How does this affect your skin? start -- -->
<div class="affect_skin section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section_header w-100 mw-100 pe-md-4">
                    <h2 class="title-lg">
                        Helps with blemishes, <br>redness, and irritation... 
                    </h2>
                    <p>Our skin faces daily exposure to harmful bacteria and irritants that can disrupt its natural balance. Dermal Mist helps to protect and soothe the skin by eliminating these harmful elements while being gentle enough for everyday use. It not only works to restore calm but also soothes irritated skin.</p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="swiper swiper-containerAffect2 dot_pagination">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="affect_item">
                                <img src="https://qureskincaredns.com/new/assets/as_3.webp" alt="" class="img-fluid d-md-block d-none">
                                <img src="https://qureskincaredns.com/new/assets/as_3-mob.webp" alt="" class="img-fluid d-md-none">
                                <h6>Breakouts:</h6>
                                <p>Reduces bacteria that can cause breakouts, helping to reduce and prevent acne without harsh chemicals.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="affect_item">
                                <img src="https://qureskincaredns.com/new/assets/as_5.webp" alt="" class="img-fluid d-md-block d-none">
                                <img src="https://qureskincaredns.com/new/assets/as_5-mob.webp" alt="" class="img-fluid d-md-none">
                                <h6>Sensitivity:</h6>
                                <p>Gentle and non-irritating, Dermal Mist is safe for even the most sensitive skin, helping to calm and protect without causing flare-ups.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="affect_item">
                                <img src="https://qureskincaredns.com/new/assets/as_6.webp" alt="" class="img-fluid d-md-block d-none">
                                <img src="https://qureskincaredns.com/new/assets/as_6-mob.webp" alt="" class="img-fluid d-md-none">
                                <h6>Irritation:</h6>
                                <p>By reducing inflammation and soothing irritated skin, Dermal Mist helps to restore balance and calm redness or discomfort.</p>
                            </div>
                        </div>
                    </div>
                    <div class="pagination_navigation mt-3 mt-md-5">
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev swiper-arrow-prev swiper-button"></div>
                        <div class="swiper-button-next swiper-arrow-next swiper-button"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- How does this affect your skin? end -- -->

<script src="https://fast.wistia.com/embed/medias/3ahwzg8wjz.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>