{% if template.name == 'index' %}
    <div class="contact_us_bl section">
        <div class="container">
            <div class="contact_us_wrap">
                <div class="section_header text-center">
                    <h2 class="title-md">Contact Us 24/7</h2>
                </div>
                <div class="contact_btns">
                    <a href="javascript:;" onclick="openChat(g)" class="cu_btn">
                        <img src="https://qureskincaredns.com/new/assets/live-chat_sm.svg" alt="">
                        <p>Chat With Us</p>
                    </a>
                    <a href="https://www.qureskincare.com/pages/contact-us" class="cu_btn">
                        <img src="https://qureskincaredns.com/new/assets/call.svg" alt="">
                        <p>Call Us </p>
                    </a>
                    <a href="https://www.qureskincare.com/pages/contact-us" class="cu_btn">
                        <img src="https://qureskincaredns.com/new/assets/email_us.svg" alt="">
                        <p>Email Us</p>
                    </a>
                </div>
            </div>
            <div class="customer_details">
                <div class="c_d_wrapper">
                    <p style="color: #717171;font-size: 16px;"><strong>ADDITIONAL CUSTOMER SERVICE</strong></p>
                    <div class="c_d_wrapper_links"><a href="https://www.qureskincare.com/pages/faqs">International
                            FAQ</a>
                        <span class="mx-4"></span>
                        <a href="https://www.qureskincare.com/pages/return-policy">Returns and
                            Exchanges</a>
                    </div>
                </div>
            </div>
        </div>
    </div>   
{% endif %}