<style>
    .dek-menu ul {
        gap: 12px !important;
    }
    .dek-menu .menu {
        width: 38.33% !important;
    }
    .dek-menu .logo {
        width: 28.33% !important;
    }
    @media(max-width:767px) {
        #video_mobile {
            min-height: 430px;
        }
    }
</style>

<!-- -- craetive guide start -- -->
<div class="creative_guide section pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1">
                <div class="c_guide_infos h-100">
                    <h1 class="title-lg mb-4 mb-md-5">Micro-Infusion Targeted Patches Creative Content Guide
                    </h1>
                    <p>Hey skincare enthusiasts! </p>
                    <p>Ready to take your content to the next level? </p>
                    <p>Our creative guide will help you showcase the magic of the Qure Micro-Infusion Targeted
                        Patches. Let's create stunning, engaging content that highlights how this game-changing
                        product transforms skincare routines!</p>
                    <p class="mt-3 text-decoration-underline text-dark learn_more-content"><img src="https://qureskincaredns.com/new/assets/correct_circle.svg"
                            alt="" class="img-fluid me-2"><a
                            href="https://www.qureskincare.com/products/micro-infusion-targeted-patches"
                            class="text-decoration-underline text-dark">Learn more about Micro-Infusion Targeted
                            Patches</a></p>
                </div>
            </div>
            <div class="offset-md-1 col-md-5 order-1 order-md-2">
                <div class="c_guide_img mw-mob-100">
                    <div class="wistia_responsive_padding" style="position:relative;">
                        <div class="wistia_responsive_wrapper"
                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                            <div class="wistia_embed wistia_async_0gi4vtjhzc seo=false videoFoam=true"
                                style="height:100%;position:relative;width:100%">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- craetive guide end -- -->

<!-- -- qure founder start -- -->
<div class="qure_founder">
    <div class="container-fluid">
        <div class="qure_founder_wrap d-none d-md-flex">
            <div class="qure_founder_img text-end"><img src="https://qureskincaredns.com/new/assets/dr.shah.webp" alt="">
            </div>
            <div class="qure_founder_info trusted_bl trustedVerified">
                <div class="trusted_verified"><img src="https://qureskincaredns.com/new/assets/verified_design.svg" alt="">
                    <p>Trusted and recommended by world leading Dermatologists</p>
                </div>
                <h3>“To have argireline in a very targeted patch is GENIUS; it’s a botox-like peptide that
                    really helps with fine lines”</h3>
                <div class="founder_info mt-3 text-end">
                    <p><span class="fw-medium">- Dr. Muneeb Shah, MD,</span> Board certified dermatologist</p>
                </div>
            </div>
        </div>
        <div class="qure_founder_info trusted_bl trustedVerified d-block d-md-none py-0">
            <div class="trusted_verified"><img src="https://qureskincaredns.com/new/assets/verified_design.svg" alt="">
                <p>Trusted and recommended by world leading Dermatologists</p>
            </div>
        </div>
        <div class="qure_founder-wrap-mobile d-block d-md-none">
            <img src="https://qureskincaredns.com/new/assets/Dr_Muneeb.webp" alt="Dr_Muneeb">
            <div class="qure_founder_info">
                <h5>“To have argireline in a very targeted patch is GENIUS; it’s a botox-like peptide that really helps with fine lines”</h5>
                <p>Dr. Muneeb Shah, MD</p>
                <span>Board certified dermatologist</span>
            </div>
        </div>
    </div>
</div>
<!-- -- qure founder end -- -->

<!-- -- amazing content start -- -->
<div class="amazing_content section" id="tabsAccordion">
    <div class="container">
        <div class="section_header mw-680 text-md-center mb-3">
            <h2 class="title-lg">All you need to know before you start creating your amazing content</h2>
        </div>
        <div class="amazing_content_wrap d-none d-md-block">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item active1" role="presentation">
                    <h6>STEP 1</h6>
                    <p>Merge Qure into your creatives</p>
                    <img src="https://qureskincaredns.com/new/assets/ac_pro4.webp" alt="" class="img-fluid mt-2">
                    <button class="nav-link active ac_drop_btn" id="content_req-tab" data-bs-toggle="tab"
                        data-bs-target="#content_req" type="button" role="tab" aria-controls="content_req"
                        aria-selected="true">
                        <div class="container">
                            <p>
                                Content
                                Requirements
                            </p>
                        </div>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <h6>STEP 2</h6>
                    <p>Get to know Micro-Infusion Targeted Patches</p>
                    <img src="https://qureskincaredns.com/new/assets/ac_pro5.webp" alt="" class="img-fluid mt-2">
                    <button class="nav-link ac_drop_btn" id="product_info-tab" data-bs-toggle="tab"
                        data-bs-target="#product_info" type="button" role="tab" aria-controls="product_info"
                        aria-selected="false">
                        <div class="container">
                            <p>
                                Product Information
                            </p>
                        </div>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <h6>STEP 3</h6>
                    <p>Get inspired by other content creators</p>
                    <img src="https://qureskincaredns.com/new/assets/ac_pro6.webp" alt="" class="img-fluid mt-2">
                    <button class="nav-link ac_drop_btn" id="good_content-tab" data-bs-toggle="tab"
                        data-bs-target="#good_content" type="button" role="tab" aria-controls="good_content"
                        aria-selected="false">
                        <div class="container">
                            <p> Inspiring Content </p>
                        </div>
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade1 active1 show1" id="content_req" role="tabpanel"
                    aria-labelledby="content_req-tab">
                    <div class="ac_desc_grid">
                        <div class="ac_desc faq">
                            <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/key_message.svg" alt=""
                                    class="img-fluid me-2">Key
                                Messages
                            </div>
                            <p>Key Points to include in the messaging:</p>
                            <div class="accordion" id="as_dropdown">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="asHeaderOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#asCollapseOne" aria-expanded="true"
                                            aria-controls="asCollapseOne">
                                            <div class="container">
                                                Deeper Delivery
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="asCollapseOne" class="accordion-collapse collapse show"
                                        aria-labelledby="asHeaderOne" data-bs-parent="#as_dropdown">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Self-dissolving micro-darts infuse serum below the skin's
                                                    surface for enhanced absorption and faster results.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="asheadingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#ascollapseTwo"
                                            aria-expanded="false" aria-controls="ascollapseTwo">
                                            <div class="container">Quick Application</div>
                                        </button>
                                    </h2>
                                    <div id="ascollapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="asheadingTwo" data-bs-parent="#as_dropdown">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Patches self-dissolve in as little as two hours, providing
                                                    powerful results quickly.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="asheadingThree">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#ascollapseThree"
                                            aria-expanded="false" aria-controls="ascollapseThree">
                                            <div class="container">
                                                Target Multiple Concerns
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="ascollapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="asheadingThree" data-bs-parent="#as_dropdown">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>
                                                    Effectively treats fine lines, wrinkles, dark circles,
                                                    puffiness, and under-eye bags. 
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="asheadingFour">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#ascollapseFour"
                                            aria-expanded="false" aria-controls="ascollapseFour">
                                            <div class="container">
                                                Versatile Treatment
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="ascollapseFour" class="accordion-collapse collapse"
                                        aria-labelledby="asheadingFour" data-bs-parent="#as_dropdown">
                                        <div class="accordion-body">
                                            <ul>
                                                <!-- <li>Treat 11 lines, crow’s feet, under-eye, and laugh lines.
                                                </li> -->
                                                <li>Ultimate all-in-one patches that contain <strong>science
                                                        backed,</strong>
                                                    age-defying ingredients such as <strong>retinol, caffeine,
                                                        niacinamide, licorice, and peptides</strong> for
                                                    brighter-looking,
                                                    smoother-feeling skin. </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ac_desc">
                            <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/direction.svg" alt=""
                                    class="img-fluid me-2">Creative Direction
                            </div>
                            <ul>
                                <li>High quality, bright lighting and high-resolution imagery/videography to be
                                    supplied. No obvious filters.</li>
                                <li>Micro-Infusion Targeted Patches to be the feature of the post. The
                                    background must be clean and bright.</li>
                                <li>When wearing the product, please do not wear any make-up, or no
                                    visible/noticeable makeup.</li>
                                <li>Before and after imaging to showcase the results, if possible</li>

                            </ul>
                        </div>
                        <div class="ac_desc">
                            <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/inclusion.svg" alt=""
                                    class="img-fluid me-2">Inclusion
                            </div>
                            <ul>
                                <li>Tag and mention @qureskincare, #qureskincare, #microinfusion, #eyepatches,
                                    #targetedpatches, #skincare, #skincaretips, #skincarehacks, #qurepatches for
                                    a chance to be featured on Qure Skincare social media pages.</li>
                                <li>Please include your affiliate link or link provided by Qure in Instagram
                                    stories and in captions of YouTube videos. If can’t be placed in BIO then
                                    please include in linktr.ee or similar.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="product_info" role="tabpanel" aria-labelledby="product_info-tab">
                    <div class="ac_desc_grid">
                        <div class="ac_desc faq">
                            <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/search.svg" alt=""
                                    class="img-fluid me-2">Product Details
                            </div>
                            <ul>
                                <li>80 self-dissolving micro-darts in each patch that melt into the skin
                                    for deeper ingredient delivery</li>
                                <li>Stay comfortably for 2-6 hours, or overnight for best results</li>
                                <li>Continually works to give a rejuvenated look to your skin</li>
                            </ul>
                            <a href="https://www.qureskincare.com/products/micro-infusion-targeted-patches"
                                class="text-decoration-underline text-dark mt-3">Learn more about
                                Micro-Infusion Targeted Patches ></a>
                        </div>
                        <div class="ac_desc">
                            <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/usage_dir.svg" alt=""
                                    class="img-fluid me-2">Usage Instructions
                            </div>
                            <ul>
                                <li>After cleansing, simply peel off the adhesive strips.</li>
                                <li>Gently press for 5-10 seconds. The micro-cones dissolve the concentrated
                                    serum directly into the skin!</li>
                                <li>Wear for at least two hours. For best results, leave them on overnight!</li>
                            </ul>
                            <div class="micro_video mt-4">
                                <div class="micro_vide_main">
                                    <div class="actVideo_block mx-auto">
                                        <div class="ctmVideo__block">
                                            <div class="player">
                                                <script
                                                    src="https://fast.wistia.com/embed/medias/yy9nv8vwsn.jsonp"
                                                    async></script>
                                                <script src="https://fast.wistia.com/assets/external/E-v1.js"
                                                    async></script>
                                                <div class="wistia_responsive_padding"
                                                    style="padding:177.78% 0 0 0;position:relative;">
                                                    <div class="wistia_responsive_wrapper"
                                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                        <div class="wistia_embed wistia_async_2h4lstuygp seo=false videoFoam=true"
                                                            style="height:100%;position:relative;width:100%">
                                                            <div class="wistia_swatch"
                                                                style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                                <img src="https://fast.wistia.com/embed/medias/yy9nv8vwsn/swatch"
                                                                    style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                                    alt="" aria-hidden="true"
                                                                    onload="this.parentNode.style.opacity=1;" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ac_desc ingredient_text">
                            <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/product_claims.svg" alt=""
                                    class="img-fluid me-2">Ingredient Details
                            </div>
                            <p>
                                <strong>Retinol</strong><br>
                                A natural derivative of vitamin A, this hero ingredient speeds up the removal of
                                old skin cells to reveal your best, most rejuvenated skin underneath.
                            </p>
                            <p><strong>Niacinamide</strong><br>A type of vitamin B3, this powerhouse ingredient
                                helps maintain skin health for a brighter, more even skin tone. It also helps
                                smooth the look of wrinkles – especially when combined with retinol.</p>
                            <p><strong>Caffeine</strong><br>Caffeine works through micro-circulation, helping to
                                fade the look of dark
                                circles and under-eye bags – like a pick-me-up for the skin.</p>
                            <p><strong>Acetyl Hexapeptide-8-Peptides</strong><br>
                                This safe, synthetic form of Botox visibly reduces the appearance of fine lines
                                and wrinkles & boosts collagen production. It’s the first peptide designed to
                                target expression lines.</p>
                            <p><strong>Copper Peptides</strong><br>
                                Copper peptides promote collagen and elastin production which helps plump and
                                tighten the skin. They also serve as an antioxidant, working to protect the skin
                                against further barrier damage.</p>
                            <p><strong>
                                    Licorice</strong><br>
                                Licorice boasts anti-inflammatory properties that work wonders in reducing
                                puffiness and soothing irritated skin.
                            </p>
                            <a href="https://www.qureskincare.com/products/micro-infusion-targeted-patches"
                                class="text-decoration-underline text-dark mt-3">
                                See FAQs for more information here</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="good_content" role="tabpanel" aria-labelledby="good_content-tab">
                    <div class="ac_desc_grid d-block">
                        <div class="row g-md-5">
                            <div class="col-md-6">
                                <div class="ac_desc">
                                    <div class="as_desc_header">Show how it works for you</div>
                                    <div class="ac_desc_grid_video show_how-work">
                                        <div class="banner_img position-relative">
                                            <img src="https://qureskincaredns.com/new/assets/ac_video28.webp" alt="" class="img-fluid tab_img">
                                            <a
                                                class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                <div class="wistia_responsive_padding"
                                                    style="position:relative;">
                                                    <div class="wistia_responsive_wrapper"
                                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                        <span
                                                            class="wistia_embed wistia_async_3u50hzflb5 popover=true videoFoam=true"
                                                            style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                    </div>
                                                    <span class="d-flex justify-content-end p-2"><img
                                                            src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt=""
                                                            class="w-auto">
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="banner_img position-relative">
                                            <img src="https://qureskincaredns.com/new/assets/ac_video29.webp" alt="" class="img-fluid tab_img">
                                            <a
                                                class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                <div class="wistia_responsive_padding"
                                                    style="position:relative;">
                                                    <div class="wistia_responsive_wrapper"
                                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                        <span
                                                            class="wistia_embed wistia_async_x7arp1lpjb popover=true videoFoam=true"
                                                            style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                    </div>
                                                    <span class="d-flex justify-content-end p-2"><img
                                                            src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt=""
                                                            class="w-auto">
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="banner_img position-relative">
                                            <img src="https://qureskincaredns.com/new/assets/ac_video31.webp" alt="" class="img-fluid tab_img">
                                            <a
                                                class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                <div class="wistia_responsive_padding"
                                                    style="position:relative;">
                                                    <div class="wistia_responsive_wrapper"
                                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                        <span
                                                            class="wistia_embed wistia_async_lssl9248yq popover=true videoFoam=true"
                                                            style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                    </div>
                                                    <span class="d-flex justify-content-end p-2"><img
                                                            src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt=""
                                                            class="w-auto">
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="banner_img position-relative">
                                            <img src="https://qureskincaredns.com/new/assets/ac_video30.webp" alt="" class="img-fluid tab_img">
                                            <a
                                                class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                <div class="wistia_responsive_padding"
                                                    style="position:relative;">
                                                    <div class="wistia_responsive_wrapper"
                                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                        <span
                                                            class="wistia_embed wistia_async_f7bqwcqxef popover=true videoFoam=true"
                                                            style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                    </div>
                                                    <span class="d-flex justify-content-end p-2"><img
                                                            src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt=""
                                                            class="w-auto">
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="ac_desc">
                                    <div class="as_desc_header">Explain the science behind
                                    </div>
                                    <div class="ac_desc_grid_video d-flex gap-2">
                                        <div class="banner_img position-relative">
                                            <img src="https://qureskincaredns.com/new/assets/ac_video32.webp" alt="" class="img-fluid tab_img">
                                            <a
                                                class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                <div class="wistia_responsive_padding"
                                                    style="position:relative;">
                                                    <div class="wistia_responsive_wrapper"
                                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                        <span
                                                            class="wistia_embed wistia_async_627d3cjaf0 popover=true videoFoam=true"
                                                            style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                    </div>
                                                    <span class="d-flex justify-content-end p-2"><img
                                                            src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt=""
                                                            class="w-auto">
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="banner_img position-relative">
                                            <img src="https://qureskincaredns.com/new/assets/ac_video33.webp" alt="" class="img-fluid tab_img">
                                            <a
                                                class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                <div class="wistia_responsive_padding"
                                                    style="position:relative;">
                                                    <div class="wistia_responsive_wrapper"
                                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                        <span
                                                            class="wistia_embed wistia_async_9bv0lzoi1d popover=true videoFoam=true"
                                                            style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                    </div>
                                                    <span class="d-flex justify-content-end p-2"><img
                                                            src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt=""
                                                            class="w-auto">
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="banner_img position-relative">
                                            <img src="https://qureskincaredns.com/new/assets/ac_video34.webp" alt="" class="img-fluid tab_img">
                                            <a
                                                class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                <div class="wistia_responsive_padding"
                                                    style="padding:177.78% 0 0 0;position:relative;">
                                                    <div class="wistia_responsive_wrapper"
                                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                        <span
                                                            class="wistia_embed wistia_async_o80k9gu5x2
                                                                popover=true videoFoam=true"
                                                            style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                    </div>
                                                    <span class="d-flex justify-content-end p-2"><img
                                                            src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt=""
                                                            class="w-auto">
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="amazing_content_wrap d-block d-md-none">
            <div class="accordion" id="acAccordion">
                <div class="accordion-item" id="mob_item1">
                    <h2 class="accordion-header" id="acheadingOne">
                        <h6>STEP 1</h6>
                        <p>Merge Qure into your creatives</p>
                        <img src="https://qureskincaredns.com/new/assets/ac_pro4.webp" alt="" class="img-fluid mt-2">
                        <button class="accordion-button ac_drop_btn collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#ac_collapseOne" aria-expanded="true"
                            aria-controls="ac_collapseOne">
                            Content
                            Requirements
                        </button>
                    </h2>
                    <div id="ac_collapseOne" class="accordion-collapse collapse" aria-labelledby="acheadingOne">
                        <div class="accordion-body">
                            <div class="ac_desc_grid">
                                <div class="ac_desc faq">
                                    <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/key_message.svg" alt=""
                                            class="img-fluid me-2">Key
                                        Messages
                                    </div>
                                    <p>Key Points to include in the messaging:</p>
                                    <div class="accordion" id="as_Inner_dropdown">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="as_Inner_HeaderOne">
                                                <button class="accordion-button" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#as_Inner_CollapseOne" aria-expanded="true"
                                                    aria-controls="as_Inner_CollapseOne">
                                                    <div class="container">
                                                        Deeper Delivery
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="as_Inner_CollapseOne"
                                                class="accordion-collapse collapse show"
                                                aria-labelledby="as_Inner_HeaderOne"
                                                data-bs-parent="#as_Inner_dropdown">
                                                <div class="accordion-body">
                                                    <ul>
                                                        <li>Self-dissolving micro-darts infuse serum below the
                                                            skin's surface for enhanced absorption and faster
                                                            results.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="as_Inner_headingTwo">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#as_Inner_collapseTwo" aria-expanded="false"
                                                    aria-controls="as_Inner_collapseTwo">
                                                    <div class="container">Quick Application</div>
                                                </button>
                                            </h2>
                                            <div id="as_Inner_collapseTwo" class="accordion-collapse collapse"
                                                aria-labelledby="as_Inner_headingTwo"
                                                data-bs-parent="#as_Inner_dropdown">
                                                <div class="accordion-body">
                                                    <ul>
                                                        <li>Patches self-dissolve in as little as two hours,
                                                            providing powerful results quickly.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="as_Inner_headingThree">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#as_Inner_collapseThree"
                                                    aria-expanded="false"
                                                    aria-controls="as_Inner_collapseThree">
                                                    <div class="container">
                                                        Target Multiple Concerns
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="as_Inner_collapseThree" class="accordion-collapse collapse"
                                                aria-labelledby="as_Inner_headingThree"
                                                data-bs-parent="#as_Inner_dropdown">
                                                <div class="accordion-body">
                                                    <ul>
                                                        <li>Effectively treats fine lines, wrinkles, dark
                                                            circles, puffiness, and under-eye bags.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="as_Inner_headingFour">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#as_Inner_collapseFour"
                                                    aria-expanded="false" aria-controls="as_Inner_collapseFour">
                                                    <div class="container">
                                                        Versatile Treatment
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="as_Inner_collapseFour" class="accordion-collapse collapse"
                                                aria-labelledby="as_Inner_headingFour"
                                                data-bs-parent="#as_Inner_dropdown">
                                                <div class="accordion-body">
                                                    <ul>
                                                        <li>Treat 11 lines, crow’s feet, under-eye, and laugh
                                                            lines.</li>
                                                        <li>Ultimate all-in-one patches that contain
                                                            <strong>science backed,</strong> age-defying
                                                            ingredients such as <strong>retinol, caffeine,
                                                                niacinamide, licorice, and peptides</strong> for
                                                            brighter-looking, smoother-feeling skin.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ac_desc">
                                    <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/direction.svg" alt=""
                                            class="img-fluid me-2">Creative Direction
                                    </div>
                                    <ul>
                                        <li>High quality, bright lighting and high-resolution
                                            imagery/videography to be supplied. No obvious filters.</li>
                                        <li>Micro-Infusion Targeted Patches to be the feature of the post. The
                                            background must be clean and bright.</li>
                                        <li>When wearing the product, please do not wear any make-up, or no
                                            visible/noticeable makeup.</li>
                                        <li>Before and after imaging to showcase the results, if possible</li>

                                    </ul>
                                </div>
                                <div class="ac_desc">
                                    <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/inclusion.svg" alt=""
                                            class="img-fluid me-2">Inclusion
                                    </div>
                                    <ul>
                                        <li>Tag and mention @qureskincare, #qureskincare, #microinfusion,
                                            #eyepatches,
                                            #targetedpatches, #skincare, #skincaretips, #skincarehacks,
                                            #qurepatches for
                                            a chance to be featured on Qure Skincare social media pages.</li>
                                        <li>Please include your affiliate link or link provided by Qure in
                                            Instagram
                                            stories and in captions of YouTube videos. If can’t be placed in BIO
                                            then
                                            please include in linktr.ee or similar.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" id="mob_item2">
                    <h2 class="accordion-header" id="acheadingTwo">
                        <h6>STEP 2</h6>
                        <p>Get to know Micro-Infusion Targeted Patches</p>
                        <img src="https://qureskincaredns.com/new/assets/ac_pro5.webp" alt="" class="img-fluid mt-2">
                        <button class="accordion-button collapsed ac_drop_btn" type="button"
                            data-bs-toggle="collapse" data-bs-target="#ac_collapseTwo" aria-expanded="false"
                            aria-controls="ac_collapseTwo">
                            Product Information
                        </button>
                    </h2>
                    <div id="ac_collapseTwo" class="accordion-collapse collapse" aria-labelledby="acheadingTwo">
                        <div class="accordion-body">
                            <div class="ac_desc_grid">
                                <div class="ac_desc faq">
                                    <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/search.svg" alt=""
                                            class="img-fluid me-2">Product Details
                                    </div>
                                    <ul>
                                        <li>80 self-dissolving micro-darts in each patch that melt into the skin
                                            for deeper ingredient delivery</li>
                                        <li>Stay comfortably for 2-6 hours, or overnight for best results</li>
                                        <li>Continually works to give a rejuvenated look to your skin</li>
                                    </ul>
                                    <a href="https://www.qureskincare.com/products/micro-infusion-targeted-patches"
                                        class="text-decoration-underline text-dark mt-3">Learn more about
                                        Micro-Infusion Targeted Patches ></a>
                                </div>
                                <div class="ac_desc">
                                    <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/usage_dir.svg" alt=""
                                            class="img-fluid me-2">Usage Instructions
                                    </div>
                                    <ul>
                                        <li>After cleansing, simply peel off the adhesive strips.</li>
                                        <li>Gently press for 5-10 seconds. The micro-cones dissolve the
                                            concentrated serum directly into the skin!</li>
                                        <li>Wear for at least two hours. For best results, leave them on
                                            overnight!
                                        </li>
                                    </ul>
                                    <div class="micro_video mt-4">
                                        <div class="micro_vide_main">
                                            <div class="actVideo_block mx-auto">
                                                <div class="ctmVideo__block">
                                                    <div class="player">
                                                        <script
                                                            src="https://fast.wistia.com/embed/medias/yy9nv8vwsn.jsonp"
                                                            async></script>
                                                        <script
                                                            src="https://fast.wistia.com/assets/external/E-v1.js"
                                                            async></script>
                                                        <div class="wistia_responsive_padding"
                                                            style="padding:177.78% 0 0 0;position:relative;">
                                                            <div class="wistia_responsive_wrapper"
                                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                                <div class="wistia_embed wistia_async_2h4lstuygp seo=false videoFoam=true"
                                                                    style="height:100%;position:relative;width:100%">
                                                                    <div class="wistia_swatch"
                                                                        style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                                        <img src="https://fast.wistia.com/embed/medias/yy9nv8vwsn/swatch"
                                                                            style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                                            alt="" aria-hidden="true"
                                                                            onload="this.parentNode.style.opacity=1;" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ac_desc ingredient_text faq">
                                    <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/product_claims.svg" alt=""
                                            class="img-fluid me-2">Ingredient Detailssss
                                    </div>
                                    <div class="accordion" id="as_Inner_dropdown">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="retinol_Header">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#retinol" aria-expanded="true" aria-controls="retinol">
                                                    <div class="container">
                                                        Retinol
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="retinol" class="accordion-collapse collapse show" aria-labelledby="retinol_Header" data-bs-parent="#retinol">
                                                <div class="accordion-body">
                                                    <p>A natural derivative of vitamin A, this hero ingredient speeds up the
                                                        removal of
                                                        old skin cells to reveal your best, most rejuvenated skin underneath.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="niacinamide_heading">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#niacinamide" aria-expanded="false" aria-controls="niacinamide">
                                                    <div class="container">Niacinamide</div>
                                                </button>
                                            </h2>
                                            <div id="niacinamide" class="accordion-collapse collapse" aria-labelledby="niacinamide_heading" data-bs-parent="#niacinamide">
                                                <div class="accordion-body">
                                                    <p>A type of vitamin B3, this powerhouse
                                                        ingredient
                                                        helps maintain skin health for a brighter, more even skin tone. It also
                                                        helps
                                                        smooth the look of wrinkles – especially when combined with retinol.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="caffeine_heading">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#caffeine" aria-expanded="false" aria-controls="caffeine">
                                                    <div class="container">
                                                        Caffeine
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="caffeine" class="accordion-collapse collapse" aria-labelledby="caffeine_heading" data-bs-parent="#caffeine">
                                                <div class="accordion-body">
                                                    <p>Caffeine works through micro-circulation,
                                                        helping to
                                                        fade the look of dark
                                                        circles and under-eye bags – like a pick-me-up for the skin.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="Acetyl_heading">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Acetyl" aria-expanded="false" aria-controls="Acetyl">
                                                    <div class="container">
                                                        Acetyl Hexapeptide-8-Peptides
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="Acetyl" class="accordion-collapse collapse" aria-labelledby="Acetyl_heading" data-bs-parent="#Acetyl">
                                                <div class="accordion-body">
                                                    <p>This safe, synthetic form of Botox visibly reduces the appearance of
                                                    fine lines
                                                    and wrinkles & boosts collagen production. It’s the first peptide
                                                    designed to
                                                    target expression lines.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="copper_heading">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#copper" aria-expanded="false" aria-controls="copper">
                                                    <div class="container">
                                                        Copper Peptides
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="copper" class="accordion-collapse collapse" aria-labelledby="copper_heading" data-bs-parent="#copper">
                                                <div class="accordion-body">
                                                    <p>Copper peptides promote collagen and elastin production which helps
                                                    plump and
                                                    tighten the skin. They also serve as an antioxidant, working to protect
                                                    the skin
                                                    against further barrier damage.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="licorice_heading">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#licorice" aria-expanded="false" aria-controls="licorice">
                                                    <div class="container">
                                                        Licorice
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="licorice" class="accordion-collapse collapse" aria-labelledby="licorice_heading" data-bs-parent="#licorice">
                                                <div class="accordion-body">
                                                    <p>Licorice boasts anti-inflammatory properties that work wonders in
                                                    reducing
                                                    puffiness and soothing irritated skin.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <a href="https://www.qureskincare.com/products/micro-infusion-targeted-patches"
                                        class="text-decoration-underline text-dark mt-3">
                                        See FAQs for more information here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" id="mob_item3">
                    <h2 class="accordion-header" id="ac_headingThree">
                        <h6>STEP 3</h6>
                        <p>Get inspired by other content creators</p>
                        <img src="https://qureskincaredns.com/new/assets/ac_pro6.webp" alt="" class="img-fluid mt-2">
                        <button class="accordion-button collapsed ac_drop_btn" type="button"
                            data-bs-toggle="collapse" data-bs-target="#ac_collapseThree" aria-expanded="false"
                            aria-controls="ac_collapseThree">
                            Inspiring Content
                        </button>
                    </h2>
                    <div id="ac_collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="ac_desc_grid d-block">
                                <div class="row g-4 g-md-5">
                                    <div class="col-md-6">
                                        <div class="ac_desc">
                                            <div class="as_desc_header">Show how it works for you
                                            </div>
                                            <div class="ac_desc_grid_video show_how-work">
                                                <div class="banner_img position-relative">
                                                    <img src="https://qureskincaredns.com/new/assets/ac_video28.webp" alt="" class="img-fluid tab_img">
                                                    <a class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                        <div class="wistia_responsive_padding" style="position: relative; padding: 177.778% 0px 0px;">
                                                            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                                <span class="wistia_embed wistia_async_3u50hzflb5 popover=true videoFoam=true wistia_embed_initialized" style="display:inline-block;height:100%;position:relative;width:100%" id="wistia-3u50hzflb5-1"><div id="wistia_129.thumb_container" class="wistia_click_to_play" style="position: relative; height: 137.578px; width: 122.328px;"><div id="wistia_1307.thumbnail" tabindex="0" style="cursor: pointer; border-radius: 0px; display: block; height: 137.562px; overflow: hidden; outline: none; position: relative; width: 122.312px;"><div id="wistia_1307.thumbnail_focus_indicator" style="height: 100%; left: 0px; pointer-events: none; position: absolute; top: 0px; width: 100%; z-index: 1;"></div><div id="wistia_1322.big_play_button_background" style="border-radius: 0px; height: 38px; position: absolute; width: 60px; z-index: 1; background-color: rgba(23, 75, 210, 0.8); left: 31px; top: 50px;"></div><div id="wistia_1322.big_play_button_graphic" tabindex="-1" role="button" aria-label="Play" style="background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAmCAYAAACYsfiPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJNJREFUeNrs1ksNhEAURNGWgAQkjAQkIAUJ7QApIwEJSEACEh6PBatJhmZJ1T1JCahU+lMKAACAioj4Zjqnwqc9MzoVvszya8evLTM4FdZeO/7TWzva6Kwd7dbMx6nwpboV3l99rh+WXV5/lh+sOrlcWueqvcOzpLNqQ2GtVW8KT0WZ3MeisXAtLixWBQAAQDoEGACTzSwy3SX7YgAAAABJRU5ErkJggg==&quot;) 0px 0px / 60px 38px no-repeat transparent; cursor: pointer; display: block; height: 38px; outline: none; position: absolute; width: 60px; z-index: 1; left: 31px; top: 50px;"></div><img id="wistia_1307.thumbnail_img" alt="Wistia video thumbnail" src="https://embed-ssl.wistia.com/deliveries/4b72700a21a62efcbc26ccbe78f4f2f015454523.webp?image_crop_resized=640x1138" style="border: 0px; display: block; float: none; height: 217px; margin: 0px; max-height: none; max-width: none; padding: 0px; pointer-events: none; position: absolute; width: 122.312px; left: 0px; top: -40px;"></div></div></span>
                                                            </div>
                                                            <span class="d-flex justify-content-end p-2"><img src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt="" class="w-auto">
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="banner_img position-relative">
                                                    <img src="https://qureskincaredns.com/new/assets/ac_video29.webp" alt="" class="img-fluid tab_img">
                                                    <a class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                        <div class="wistia_responsive_padding" style="position: relative; padding: 177.778% 0px 0px;">
                                                            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                                <span class="wistia_embed wistia_async_x7arp1lpjb popover=true videoFoam=true wistia_embed_initialized" style="display:inline-block;height:100%;position:relative;width:100%" id="wistia-x7arp1lpjb-1"><div id="wistia_139.thumb_container" class="wistia_click_to_play" style="position: relative; height: 137.578px; width: 122.328px;"><div id="wistia_1332.thumbnail" tabindex="0" style="cursor: pointer; border-radius: 0px; display: block; height: 137.562px; overflow: hidden; outline: none; position: relative; width: 122.312px;" class=""><div id="wistia_1332.thumbnail_focus_indicator" style="height: 100%; left: 0px; pointer-events: none; position: absolute; top: 0px; width: 100%; z-index: 1;"></div><div id="wistia_1347.big_play_button_background" style="border-radius: 0px; height: 38px; position: absolute; width: 60px; z-index: 1; background-color: rgba(23, 75, 210, 0.8); left: 31px; top: 50px;"></div><div id="wistia_1347.big_play_button_graphic" tabindex="-1" role="button" aria-label="Play" style="background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAmCAYAAACYsfiPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJNJREFUeNrs1ksNhEAURNGWgAQkjAQkIAUJ7QApIwEJSEACEh6PBatJhmZJ1T1JCahU+lMKAACAioj4Zjqnwqc9MzoVvszya8evLTM4FdZeO/7TWzva6Kwd7dbMx6nwpboV3l99rh+WXV5/lh+sOrlcWueqvcOzpLNqQ2GtVW8KT0WZ3MeisXAtLixWBQAAQDoEGACTzSwy3SX7YgAAAABJRU5ErkJggg==&quot;) 0px 0px / 60px 38px no-repeat transparent; cursor: pointer; display: block; height: 38px; outline: none; position: absolute; width: 60px; z-index: 1; left: 31px; top: 50px;"></div><img id="wistia_1332.thumbnail_img" alt="Wistia video thumbnail" src="https://embed-ssl.wistia.com/deliveries/f4e71ac93f561ce453f1a134227fca3798504279.webp?image_crop_resized=576x1024" style="border: 0px; display: block; float: none; height: 217px; margin: 0px; max-height: none; max-width: none; padding: 0px; pointer-events: none; position: absolute; width: 122.312px; left: 0px; top: -40px;"></div></div></span>
                                                            </div>
                                                            <span class="d-flex justify-content-end p-2"><img src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt="" class="w-auto">
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="banner_img position-relative">
                                                    <img src="https://qureskincaredns.com/new/assets/ac_video31.webp" alt="" class="img-fluid tab_img">
                                                    <a class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                        <div class="wistia_responsive_padding" style="position: relative; padding: 177.778% 0px 0px;">
                                                            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                                <span class="wistia_embed wistia_async_lssl9248yq popover=true videoFoam=true wistia_embed_initialized" style="display:inline-block;height:100%;position:relative;width:100%" id="wistia-lssl9248yq-1"><div id="wistia_119.thumb_container" class="wistia_click_to_play" style="position: relative; height: 137.578px; width: 122.344px;"><div id="wistia_1244.thumbnail" tabindex="0" class="" style="cursor: pointer; border-radius: 0px; display: block; height: 137.562px; overflow: hidden; outline: none; position: relative; width: 122.344px;"><div id="wistia_1244.thumbnail_focus_indicator" style="height: 100%; left: 0px; pointer-events: none; position: absolute; top: 0px; width: 100%; z-index: 1;"></div><div id="wistia_1259.big_play_button_background" style="border-radius: 0px; height: 38px; position: absolute; width: 60px; z-index: 1; background-color: rgba(23, 75, 210, 0.8); left: 31px; top: 50px;"></div><div id="wistia_1259.big_play_button_graphic" tabindex="-1" role="button" aria-label="Play" style="background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAmCAYAAACYsfiPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJNJREFUeNrs1ksNhEAURNGWgAQkjAQkIAUJ7QApIwEJSEACEh6PBatJhmZJ1T1JCahU+lMKAACAioj4Zjqnwqc9MzoVvszya8evLTM4FdZeO/7TWzva6Kwd7dbMx6nwpboV3l99rh+WXV5/lh+sOrlcWueqvcOzpLNqQ2GtVW8KT0WZ3MeisXAtLixWBQAAQDoEGACTzSwy3SX7YgAAAABJRU5ErkJggg==&quot;) 0px 0px / 60px 38px no-repeat transparent; cursor: pointer; display: block; height: 38px; outline: none; position: absolute; width: 60px; z-index: 1; left: 31px; top: 50px;"></div><img id="wistia_1244.thumbnail_img" alt="Wistia video thumbnail" src="https://embed-ssl.wistia.com/deliveries/b0a5ce245955640048e05d610e3174ea79a04f8a.webp?image_crop_resized=640x1138" style="border: 0px; display: block; float: none; height: 218px; margin: 0px; max-height: none; max-width: none; padding: 0px; pointer-events: none; position: absolute; width: 122.344px; left: 0px; top: -40px;"></div></div></span>
                                                            </div>
                                                            <span class="d-flex justify-content-end p-2"><img src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt="" class="w-auto">
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="banner_img position-relative">
                                                    <img src="https://qureskincaredns.com/new/assets/ac_video30.webp" alt="" class="img-fluid tab_img">
                                                    <a class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                        <div class="wistia_responsive_padding" style="position: relative; padding: 56.25% 0px 0px;">
                                                            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                                <span class="wistia_embed wistia_async_f7bqwcqxef popover=true videoFoam=true wistia_embed_initialized" style="display:inline-block;height:100%;position:relative;width:100%" id="wistia-f7bqwcqxef-1"><div id="wistia_152.thumb_container" class="wistia_click_to_play" style="position: relative; height: 137.562px; width: 122.328px;"><div id="wistia_1584.thumbnail" tabindex="0" style="cursor: pointer; border-radius: 0px; display: block; height: 137.547px; overflow: hidden; outline: none; position: relative; width: 122.312px;"><div id="wistia_1584.thumbnail_focus_indicator" style="height: 100%; left: 0px; pointer-events: none; position: absolute; top: 0px; width: 100%; z-index: 1;"></div><div id="wistia_1599.big_play_button_background" style="border-radius: 0px; height: 38px; position: absolute; width: 60px; z-index: 1; background-color: rgba(23, 75, 210, 0.8); left: 31px; top: 50px;"></div><div id="wistia_1599.big_play_button_graphic" tabindex="-1" role="button" aria-label="Play" style="background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAmCAYAAACYsfiPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJNJREFUeNrs1ksNhEAURNGWgAQkjAQkIAUJ7QApIwEJSEACEh6PBatJhmZJ1T1JCahU+lMKAACAioj4Zjqnwqc9MzoVvszya8evLTM4FdZeO/7TWzva6Kwd7dbMx6nwpboV3l99rh+WXV5/lh+sOrlcWueqvcOzpLNqQ2GtVW8KT0WZ3MeisXAtLixWBQAAQDoEGACTzSwy3SX7YgAAAABJRU5ErkJggg==&quot;) 0px 0px / 60px 38px no-repeat transparent; cursor: pointer; display: block; height: 38px; outline: none; position: absolute; width: 60px; z-index: 1; left: 31px; top: 50px;"></div><img id="wistia_1584.thumbnail_img" alt="Wistia video thumbnail" src="https://embed-ssl.wistia.com/deliveries/c9f839367509ff39f12a06ad4be3b898f04b400f.webp?image_crop_resized=640x360" style="border: 0px; display: block; float: none; height: 137.547px; margin: 0px; max-height: none; max-width: none; padding: 0px; pointer-events: none; position: absolute; width: 245px; left: -61px; top: 0px;"></div></div></span>
                                                            </div>
                                                            <span class="d-flex justify-content-end p-2"><img src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt="" class="w-auto">
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ac_desc">
                                            <div class="as_desc_header">Explain the science behind
                                            </div>
                                            <div class="ac_desc_grid_video d-flex gap-2">
                                                <div class="banner_img position-relative">
                                                    <img src="https://qureskincaredns.com/new/assets/ac_video32.webp" alt="" class="img-fluid tab_img">
                                                    <a class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                        <div class="wistia_responsive_padding" style="position: relative; padding: 177.778% 0px 0px;">
                                                            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                                <span class="wistia_embed wistia_async_627d3cjaf0 popover=true videoFoam=true wistia_embed_initialized" style="display:inline-block;height:100%;position:relative;width:100%" id="wistia-627d3cjaf0-1"><div id="wistia_180.thumb_container" class="wistia_click_to_play" style="position: relative; height: 116.188px; width: 103.328px;"><div id="wistia_3320.thumbnail" tabindex="0" style="cursor: pointer; border-radius: 0px; display: block; height: 116.188px; overflow: hidden; outline: none; position: relative; width: 103.312px;"><div id="wistia_3320.thumbnail_focus_indicator" style="height: 100%; left: 0px; pointer-events: none; position: absolute; top: 0px; width: 100%; z-index: 1;"></div><div id="wistia_3335.big_play_button_background" style="border-radius: 0px; height: 38px; position: absolute; width: 60px; z-index: 1; background-color: rgba(23, 75, 210, 0.8); left: 22px; top: 39px;"></div><div id="wistia_3335.big_play_button_graphic" tabindex="-1" role="button" aria-label="Play" style="background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAmCAYAAACYsfiPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJNJREFUeNrs1ksNhEAURNGWgAQkjAQkIAUJ7QApIwEJSEACEh6PBatJhmZJ1T1JCahU+lMKAACAioj4Zjqnwqc9MzoVvszya8evLTM4FdZeO/7TWzva6Kwd7dbMx6nwpboV3l99rh+WXV5/lh+sOrlcWueqvcOzpLNqQ2GtVW8KT0WZ3MeisXAtLixWBQAAQDoEGACTzSwy3SX7YgAAAABJRU5ErkJggg==&quot;) 0px 0px / 60px 38px no-repeat transparent; cursor: pointer; display: block; height: 38px; outline: none; position: absolute; width: 60px; z-index: 1; left: 22px; top: 39px;"></div><img id="wistia_3320.thumbnail_img" alt="Wistia video thumbnail" src="https://embed-ssl.wistia.com/deliveries/773c9e42b4b49fde2fd13fe92d4bc1937d5cc06f.webp?image_crop_resized=576x1024" style="border: 0px; display: block; float: none; height: 184px; margin: 0px; max-height: none; max-width: none; padding: 0px; pointer-events: none; position: absolute; width: 103.312px; left: 0px; top: -34px;"></div></div></span>
                                                            </div>
                                                            <span class="d-flex justify-content-end p-2"><img src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt="" class="w-auto">
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="banner_img position-relative">
                                                    <img src="https://qureskincaredns.com/new/assets/ac_video33.webp" alt="" class="img-fluid tab_img">
                                                    <a class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                        <div class="wistia_responsive_padding" style="position: relative; padding: 56.25% 0px 0px;">
                                                            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                                <span class="wistia_embed wistia_async_9bv0lzoi1d popover=true videoFoam=true wistia_embed_initialized" style="display:inline-block;height:100%;position:relative;width:100%" id="wistia-9bv0lzoi1d-1"><div id="wistia_238.thumb_container" class="wistia_click_to_play" style="position: relative; height: 116.188px; width: 103.328px;"><div id="wistia_3345.thumbnail" tabindex="0" style="cursor: pointer; border-radius: 0px; display: block; height: 116.188px; overflow: hidden; outline: none; position: relative; width: 103.312px;" class=""><div id="wistia_3345.thumbnail_focus_indicator" style="height: 100%; left: 0px; pointer-events: none; position: absolute; top: 0px; width: 100%; z-index: 1;"></div><div id="wistia_3360.big_play_button_background" style="border-radius: 0px; height: 38px; position: absolute; width: 60px; z-index: 1; background-color: rgba(23, 75, 210, 0.8); left: 22px; top: 39px;"></div><div id="wistia_3360.big_play_button_graphic" tabindex="-1" role="button" aria-label="Play" style="background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAmCAYAAACYsfiPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJNJREFUeNrs1ksNhEAURNGWgAQkjAQkIAUJ7QApIwEJSEACEh6PBatJhmZJ1T1JCahU+lMKAACAioj4Zjqnwqc9MzoVvszya8evLTM4FdZeO/7TWzva6Kwd7dbMx6nwpboV3l99rh+WXV5/lh+sOrlcWueqvcOzpLNqQ2GtVW8KT0WZ3MeisXAtLixWBQAAQDoEGACTzSwy3SX7YgAAAABJRU5ErkJggg==&quot;) 0px 0px / 60px 38px no-repeat transparent; cursor: pointer; display: block; height: 38px; outline: none; position: absolute; width: 60px; z-index: 1; left: 22px; top: 39px;"></div><img id="wistia_3345.thumbnail_img" alt="Wistia video thumbnail" src="https://embed-ssl.wistia.com/deliveries/6bb9de5b1af03286a3167786ad6b98b8c7e99d55.webp?image_crop_resized=640x360" style="border: 0px; display: block; float: none; height: 116.188px; margin: 0px; max-height: none; max-width: none; padding: 0px; pointer-events: none; position: absolute; width: 207px; left: -52px; top: 0px;"></div></div></span>
                                                            </div>
                                                            <span class="d-flex justify-content-end p-2"><img src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt="" class="w-auto">
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="banner_img position-relative">
                                                    <img src="https://qureskincaredns.com/new/assets/ac_video34.webp" alt="" class="img-fluid tab_img">
                                                    <a class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                        <div class="wistia_responsive_padding" style="padding: 56.25% 0px 0px; position: relative;">
                                                            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                                <span class="wistia_embed wistia_async_o80k9gu5x2 popover=true videoFoam=true wistia_embed_initialized" style="display:inline-block;height:100%;position:relative;width:100%" id="wistia-o80k9gu5x2-1"><div id="wistia_251.thumb_container" class="wistia_click_to_play" style="position: relative; height: 116.188px; width: 103.328px;"><div id="wistia_3370.thumbnail" tabindex="0" class="" style="cursor: pointer; border-radius: 0px; display: block; height: 116.188px; overflow: hidden; outline: none; position: relative; width: 103.312px;"><div id="wistia_3370.thumbnail_focus_indicator" style="height: 100%; left: 0px; pointer-events: none; position: absolute; top: 0px; width: 100%; z-index: 1;"></div><div id="wistia_3385.big_play_button_background" style="border-radius: 0px; height: 38px; position: absolute; width: 60px; z-index: 1; background-color: rgba(23, 75, 210, 0.8); left: 22px; top: 39px;"></div><div id="wistia_3385.big_play_button_graphic" tabindex="-1" role="button" aria-label="Play" style="background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAmCAYAAACYsfiPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJNJREFUeNrs1ksNhEAURNGWgAQkjAQkIAUJ7QApIwEJSEACEh6PBatJhmZJ1T1JCahU+lMKAACAioj4Zjqnwqc9MzoVvszya8evLTM4FdZeO/7TWzva6Kwd7dbMx6nwpboV3l99rh+WXV5/lh+sOrlcWueqvcOzpLNqQ2GtVW8KT0WZ3MeisXAtLixWBQAAQDoEGACTzSwy3SX7YgAAAABJRU5ErkJggg==&quot;) 0px 0px / 60px 38px no-repeat transparent; cursor: pointer; display: block; height: 38px; outline: none; position: absolute; width: 60px; z-index: 1; left: 22px; top: 39px;"></div><img id="wistia_3370.thumbnail_img" alt="Wistia video thumbnail" src="https://embed-ssl.wistia.com/deliveries/125ab3e75f1bd083d8bd86b389678528d8e856ed.webp?image_crop_resized=640x360" style="border: 0px; display: block; float: none; height: 116.188px; margin: 0px; max-height: none; max-width: none; padding: 0px; pointer-events: none; position: absolute; width: 207px; left: -52px; top: 0px;"></div></div></span>
                                                            </div>
                                                            <span class="d-flex justify-content-end p-2"><img src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt="" class="w-auto">
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- amazing content end -- -->

<script>
    // for making the amazing content inactive all tabs by default
    document.addEventListener('DOMContentLoaded', function () {
        // Ensure no tab is active
        document.querySelectorAll('#myTab .nav-link').forEach(function (tab) {
            tab.classList.remove('active');
            tab.setAttribute('aria-selected', 'false');
        });

        // Ensure no tab content is active
        document.querySelectorAll('#myTabContent .tab-pane').forEach(function (content) {
            content.classList.remove('show', 'active');
        });
    });
</script>

<script src="https://fast.wistia.com/embed/medias/3ahwzg8wjz.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>

