<style>
    .dek-menu ul {
        gap: 12px !important;
    }
    .dek-menu .menu {
        width: 38.33% !important;
    }
    .dek-menu .logo {
        width: 28.33% !important;
    }
    @media(max-width:767px) {
        #video_mobile {
            min-height: 430px;
        }
    }
</style>

<!-- -- craetive guide start -- -->
<div class="creative_guide section pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1">
                <div class="c_guide_infos h-100">
                    <h1 class="title-lg mb-4 mb-md-5">Micro-Infusion Targeted Patches Creative Content Guide
                    </h1>
                    <p>Hey skincare enthusiasts! </p>
                    <p>Ready to take your content to the next level? </p>
                    <p>Our creative guide will help you showcase the magic of the Qure Micro-Infusion Targeted
                        Patches. Let's create stunning, engaging content that highlights how this game-changing
                        product transforms skincare routines!</p>
                    <p class="mt-3 text-decoration-underline text-dark learn_more-content"><img src="https://qureskincaredns.com/new/assets/correct_circle.svg"
                            alt="" class="img-fluid me-2"><a
                            href="https://www.qureskincare.com/products/micro-infusion-targeted-patches"
                            class="text-decoration-underline text-dark">Learn more about Micro-Infusion Targeted
                            Patches</a></p>
                </div>
            </div>
            <div class="offset-md-1 col-md-5 order-1 order-md-2">
                <div class="c_guide_img mw-mob-100">
                    <div class="wistia_responsive_padding" style="position:relative;">
                        <div class="wistia_responsive_wrapper"
                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                            <div class="wistia_embed wistia_async_0gi4vtjhzc seo=false videoFoam=true"
                                style="height:100%;position:relative;width:100%">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- craetive guide end -- -->