<main class="return_exchanges">
    <!-- -- main banner start -- -->
    <div class="main_banner">
        <picture>
            <source media="(min-width:1920px)" srcset="https://qureskincaredns.com/new/assets/returns_banner_desk.webp" class="img-fluid"
                width="540" height="209">
            <source media="(min-width:1600px)" srcset="https://qureskincaredns.com/new/assets/returns_banner_desk.webp" class="img-fluid"
                width="540" height="209">
            <source media="(min-width:1100px)" srcset="https://qureskincaredns.com/new/assets/returns_banner_desk.webp" class="img-fluid"
                width="540" height="209">
            <source media="(min-width:720px)" srcset="https://qureskincaredns.com/new/assets/returns_banner_desk.webp" class="img-fluid" width="540"
                height="209">
            <source media="(min-width:540px)" srcset="https://qureskincaredns.com/new/assets/returns_banner_mob.webp" class="img-fluid" width="125"
                height="173">
            <img src="https://qureskincaredns.com/new/assets/returns_banner_mob.webp" width="125" height="186" alt="" class="img-fluid">
        </picture>
        <div class="main_b_wrapper top-30">
            <div class="container">
                <div class="row">
                    <div class="col-12 offset-md-7 col-md-5">
                        <div class="banner_content mw-100">
                            <div class="section_header text-center text-md-start">
                                <h1 class="title-xl pb-2 pb-md-3">Returns & Exchanges</h1>
                                <h3>Shop with Confidence at Qure </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -- main banner end -- -->

    <!-- -- return feature start -- -->
    <div class="return_ftrs section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="rtn_ftr mb-3 mb-md-5">
                        <div class="section_header align-items-center d-flex gap-1 gap-md-2">
                            <img src="https://qureskincaredns.com/new/assets/hassle_free.svg" alt="" class="img-fluid">
                            <h3>Simple Hassle-Free Returns</h3>
                        </div>
                        <p>At Qure, we want you to feel confident – but it’s also our goal to save you time and
                            money. No trips to the clinic? Check. Dermatologist trusted & approved? Double check.
                            So, naturally, we want to make returns and exchanges hassle-free, too. Read on for the
                            full details!</p>
                    </div>
                    <div class="rtn_ftr">
                        <div class="section_header align-items-center d-flex gap-1 gap-md-2">
                            <img src="https://qureskincaredns.com/new/assets/money-back-md.svg" alt="" class="img-fluid">
                            <h3>30-Day Money Back Guarantee</h3>
                        </div>
                        <p>Changed your mind? Returns can be initiated within 30 days upon receiving your order to
                            qualify for our money back guarantee.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="rtn_img ps-md-3">
                        <img src="https://qureskincaredns.com/new/assets/q_reju_pro.webp" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -- return feature end -- -->

    <!-- -- image with text start -- -->
    <div class="imageText">
        <div class="container">
            <div class="hollywood_skin mt-0">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 order-2 order-md-1">
                        <div class="it_img pb-3 pb-md-0">
                            <img src="https://qureskincaredns.com/new/assets/return_quick_fact.webp" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-1 order-md-2">
                        <div class="it_info subscriptions_section m-0 ps-0 ps-md-5">
                            <h2 class="title-lg mb-4">Quick Facts</h2>
                            <p>Here’s the low-down on the terms and conditions that apply to the guarantee. You can
                                read full T&Cs <a style="text-decoration: underline;"
                                    href="https://www.qureskincare.com/pages/terms-and-conditions">here</a>.
                            </p>
                            <div class="subscriptions_content">
                                <ul class="without_padding">
                                    <li>30 days to return OR exchange for a full refund.</li>
                                    <li>Returns first need to be approved by Qure support. </li>
                                    <li>Product must be new, unused with the seal intact.</li>
                                    <li>Shipping charges are non-refundable.</li>
                                    <li>A Restocking Fee of $10 will be deducted from the refund. </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -- image with text end -- -->

    <!-- -- steps to return or exchange start -- -->
    <div class="steps_return section">
        <div class="container">
            <div class="section_header">
                <h1 class="title-lg text-md-center">Steps to Return or Exchange</h1>
            </div>
            <div class="swiper dot_pagination stepsReturn twa__swiper p-1" id="twa__swiper-stepsReturn"
                data-section-id="stepsReturn" data-autoplay="false" data-loop="false" data-centerslide="false"
                data-mobile="1.21" data-tablet="3" data-desktop="4" data-spacing="20"
                data-arrowleft="stepsReturn-swiper-prev" data-arrowright="stepsReturn-swiper-next">
                <div class="swiper-wrapper mb-51">
                    <div class="swiper-slide">
                        <div class="return_step">
                            <div class="return_step_header d-flex gap-3 align-items-center mb-4">
                                <div class="return_step_bx">1</div>
                                <h6>Go to the Returns Portal</h6>
                            </div>
                            <p><a class="text-decoration-underline text-dark"
                                    href="https://returns.qureskincare.com/#/">Click
                                    here to visit our returns &
                                    exchanges portal page.</a> <br>Enter your order number
                                and either your shipping code or email address.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="return_step">
                            <div class="return_step_header d-flex gap-3 align-items-center mb-4">
                                <div class="return_step_bx">2</div>
                                <h6>Choose What’s Next</h6>
                            </div>
                            <p>Pick whether it’s a return or exchange and answer a few questions. You’ll be asked to
                                provide a photo of the item(s). </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="return_step">
                            <div class="return_step_header d-flex gap-3 align-items-center mb-4">
                                <div class="return_step_bx">3</div>
                                <h6>Get an RMA Number</h6>
                            </div>
                            <p>If approved, you will be provided the return instructions and a Return Merchandise
                                Authorization (RMA) number from our team. Any return received without a Return
                                Authorization Number will be rejected. </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="return_step">
                            <div class="return_step_header d-flex gap-3 align-items-center mb-4">
                                <div class="return_step_bx">4</div>
                                <h6>Pack & Ship</h6>
                            </div>
                            <p>Securely pack item(s) in a box and ship them! We encourage you to use a trackable
                                shipping service. Please allow up to 7-14 business days for your return to be
                                processed.</p>
                        </div>
                    </div>
                </div>
                <div class="pagination_navigation d-lg-none">
                    <div class="swiper-pagination"></div>
                    <div class="stepsReturn-swiper-prev swiper-button-prev swiper-button"></div>
                    <div class="stepsReturn-swiper-next swiper-button-next swiper-button"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- -- steps to return or exchange end -- -->

    <!-- -- contact us start -- -->
    <div class="contact_us_bl bg-white text-dark">
        <div class="container">
            <div class="contact_us_wrap">
                <div class="section_header text-md-center mw-630">
                    <h2 class="title-md paddingB">Have Questions?</h2>
                    <p>If you have a question about your order please contact our customer service team by sending
                        an email to <a href="mailto:support@qureskincare.com"
                            class="text-decoration-underline text-dark">support@qureskincare.com.</a>
                        <br>For more information on our
                        warranty please visit
                        our
                        warranty policy <a class="text-decoration-underline text-dark" target="_blank"
                            href="https://www.qureskincare.com/pages/warranty-returns">here</a>. 
                    </p>
                </div>
                <div class="contact_btns">
                    <a href="#" class="cu_btn">
                        <img src="https://qureskincaredns.com/new/assets/live-chat_sm.svg" alt="">
                        <p>Chat With Us</p>
                    </a>
                    <a href="tel:+1 (240) 702-2228" class="cu_btn">
                        <img src="https://qureskincaredns.com/new/assets/call.svg" alt="">
                        <p>Call Us </p>
                    </a>
                    <a href="mailto:support@qureskincare.com" class="cu_btn">
                        <img src="https://qureskincaredns.com/new/assets/email_us.svg" alt="">
                        <p>Email Us</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- -- contact us end -- -->

    <!-- -- image with text start -- -->
    <div class="imageText section">
        <div class="container">
            <div class="hollywood_skin mt-0">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="it_img pb-3 pb-md-0 pe-0 pe-md-5 mw-mob-100">
                            <img src="https://qureskincaredns.com/new/assets/good_company.webp" alt="" class="img-fluid d-none d-md-block">
                            <img src="https://qureskincaredns.com/new/assets/good_company_mob.webp" alt="" class="img-fluid d-block d-md-none">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="it_info m-0">
                            <h2 class="title-lg mb-4">You’re in Good Company </h2>
                            <div class="refill_review justify-content-start mb-4">
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/star-full.svg" alt="">
                                </div>
                            </div>
                            <p>50,000+ customers feel more confident in their own skin</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -- image with text end -- -->

    <!-- -- faq start -- -->
    <div class="faq bg_yellow py-75">
        <div class="container">
            <div class="section_header text-center mb-3">
                <h2 class="title-lg">
                    Frequently Asked Questions
                </h2>
            </div>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="container">I used a promo code on my purchase. Will I get another one?</div>
                        </button>

                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="container">
                                <p>Orders placed with a promo code that discounts the order are only eligible for a
                                    store credit in a form of voucher(s).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <div class="container">What should I do if I receive the wrong product?</div>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="container">
                                <p>If you received a product different from the one that you ordered, please contact
                                    us at <a href="mailto:support@qureskincare.com">support@qureskincare.com</a> and
                                    we’ll be sure to make this right!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <div class="container">How long does it take to credit my account for refunds?
                            </div>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="container">
                                <p>Please allow up to 7-14 business days for your return to be processed. Credit
                                    card refunds usually take 5-10 business days to appear on your statement.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <div class="container">Is there a Restocking Fee?
                            </div>
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="container">
                                <p>Yes, a return fee will be deducted from the refund to cover the warehouse cost to
                                    return the product. This fee amounts to $10 for all products. Customer service
                                    agents can provide a more exact cost if the returned product is subject to a
                                    shipping fee.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- --faq end -- -->

    <!-- -- steps to return or exchange start -- -->
    <div class="more_help section">
        <div class="container">
            <div class="section_header">
                <h1 class="title-lg text-md-center">More Help at Your Fingertips </h1>
            </div>
            <div class="swiper dot_pagination more_help twa__swiper" id="twa__swiper-more_help"
                data-section-id="more_help" data-autoplay="false" data-loop="false" data-centerslide="false"
                data-mobile="1" data-tablet="3" data-desktop="3" data-spacing="20"
                data-arrowleft="more_help-swiper-prev" data-arrowright="more_help-swiper-next">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="target_skin">
                            <div class="target_skin_img">
                                <img src="https://qureskincaredns.com/new/assets/more_help1.webp" alt="" class="img-fluid">
                                <div class="target_skin_info">
                                    <a href="https://www.qureskincare.com/pages/skin-consultation">Start
                                        Your Skin Consultation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="target_skin">
                            <div class="target_skin_img">
                                <img src="https://qureskincaredns.com/new/assets/more_help2.webp" alt="" class="img-fluid">
                                <div class="target_skin_info">
                                    <a href="https://www.qureskincare.com/blogs/all">Discover
                                        More on the Blog</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="target_skin">
                            <div class="target_skin_img">
                                <img src="https://qureskincaredns.com/new/assets/more_help3.webp" alt="" class="img-fluid">
                                <div class="target_skin_info">
                                    <a href="https://www.qureskincare.com/collections/best-sellers">Shop
                                        Best Sellers </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination_navigation d-md-none1">
                    <div class="swiper-pagination"></div>
                    <div class="more_help-swiper-prev swiper-button-prev swiper-button"></div>
                    <div class="more_help-swiper-next swiper-button-next swiper-button"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- -- steps to return or exchange end -- -->
</main>