<!-- -- featured promotion start -- -->
{% comment %} <div class="featured_promotion">
    <div class="container">
        <div class="fp-wrapper">
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/free-shipping-ftr.svg" alt="">
                </div>
                <div class="fp_icon_text">
                    <p>Free Shipping </p>
                    <p>Orders Over $100</p>
                </div>
            </div>
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/buy-now-ftr.svg" alt="">
                </div>
                <div class="fp_icon_text">
                    <p>Buy Now,</p>
                    <p>Pay Later</p>
                </div>
            </div>
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/derma-ftr.svg" alt="">
                </div>
                <div class="fp_icon_text">
                    <p>Dermatologist </p>
                    <p>Reviewed</p>
                </div>
            </div>
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/science-ftr.svg" alt="">
                </div>
                <div class="fp_icon_text">
                    <p>Proven Results, </p>
                    <p>Backed by science</p>
                </div>
            </div>

        </div>
    </div>
</div> {% endcomment %}
<!-- -- featured promotion end -- -->

<!-- -- trusted section start -- -->
{% comment %} <div class="trusted_bl section pb-0 trustedVerified">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="trusted_left mw-600">
                    <div class="section_header pt-0 mw-100">
                        <div class="trusted_verified"><img src="https://qureskincaredns.com/new/assets/verified_design.svg" alt="">
                            <p>Trusted and recommended by world leading Dermatologists</p>
                        </div>
                        <h2 class="title-lg">
                            <span style="color: #797D7C;">“This treatment is an</span> at-home <span
                                style="color: #797D7C;">option for those who want to</span> avoid the hassle or
                            cost
                            of going to the office”.
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2">
                <div class="trusted_cl_m mb-2 mb-md-0">
                    <img src="https://qureskincaredns.com/new/assets/trusted_3.webp" alt="" class="img-fluid t_m_img">
                    <div class="play_btn trustedVerified_Play">
                        <div>
                            <h5>Dr Shah & Dr Maxfield,</h5>
                            <h6>Board certified dermatologist</h6>
                        </div>
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=JPWycy8cwN8"><span><img
                                    src="https://qureskincaredns.com/new/assets/trusted_play_sm.svg" alt="" class="">
                            </span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="trusted_wrapper pt-3">
            <div class="swiper dot_pagination trustedSwipper twa__swiper" id="twa__swiper-trustedSwipper"
                data-section-id="trustedSwipper" data-autoplay="false" data-loop="false"
                data-centerslide="false" data-mobile="1" data-tablet="3" data-desktop="3" data-spacing="20"
                data-arrowleft="trustedSwipper-swiper-prev" data-arrowright="trustedSwipper-swiper-next">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="trust_item">
                            <div class="trust_img">
                                <img src="https://qureskincaredns.com/new/assets/trusted_brown.webp" alt="" class="img-fluid">
                                <div class="play_btn">
                                    <a class="popup-youtube"
                                        href="https://cdn.shopify.com/videos/c/o/v/d5d0c051b43e4117be7b6308e06e8f66.mp4"><span
                                            class="justify-content-center"><img src="https://qureskincaredns.com/new/assets/trusted_play_md.svg"
                                                alt="" class="w-auto">
                                        </span></a>
                                </div>
                            </div>
                            <div class="trust_item_info">
                                <div class="result_content">
                                    <p>"I’ve liked using this in between my in-office treatments. It’s
                                        convenient and you get all the benefits of micro-needling treatment from
                                        the comfort of your home..."
                                    </p>
                                    <h6><strong>Dr Brown,</strong> Certified Dermatologist</h6>
                                </div>
                            </div>
                            <div class="trusted_tag_sm">
                                <img src="https://qureskincaredns.com/new/assets/trusted_play_esm.svg" alt="">155K Followers
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trust_item">
                            <div class="trust_img">
                                <img src="https://qureskincaredns.com/new/assets/trusted_dylan11.webp" alt="" class="img-fluid">
                                <div class="play_btn">
                                    <a class="popup-youtube"
                                        href="https://www.youtube.com/watch?v=1iXBgh7WPOY"><span
                                            class="justify-content-center"><img src="https://qureskincaredns.com/new/assets/trusted_play_md.svg"
                                                alt="" class="w-auto">
                                        </span></a>
                                </div>
                            </div>
                            <div class="trust_item_info">
                                <div class="result_content">
                                    <p>The Qure micro-infusion system takes it a step further by not only
                                        increasing hydration but also delivering growth factors right where they
                                        need to be.
                                    </p>
                                    <h6><strong>Dr Greeney, </strong>Certified Dermatologist</h6>
                                </div>
                            </div>
                            <div class="trusted_tag_sm">
                                <img src="https://qureskincaredns.com/new/assets/trusted_play_esm.svg" alt="">9.77K Subscribers
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trust_item">
                            <div class="trust_img">
                                <img src="https://qureskincaredns.com/new/assets/trusted_mona.webp" alt="" class="img-fluid">
                                <div class="play_btn">
                                    <a class="popup-youtube"
                                        href="https://cdn.shopify.com/videos/c/o/v/71857fdec6b0497294117ed84cab480e.mp4"><span
                                            class="justify-content-center"><img src="https://qureskincaredns.com/new/assets/trusted_play_md.svg"
                                                alt="" class="w-auto">
                                        </span></a>
                                </div>
                            </div>
                            <div class="trust_item_info">
                                <div class="result_content">
                                    <p>"You'll see a kind of dewy glowy look after you use it but within a
                                        couple of days your skin really looks quite amazing."
                                    </p>
                                    <h6><strong>Dr Mona Patel,</strong> Internal Medicine Doctor</h6>
                                </div>
                            </div>
                            <div class="trusted_tag_sm">
                                <img src="https://qureskincaredns.com/new/assets/trusted_play_esm.svg" alt="">2.3M Views
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trust_item">
                            <div class="trust_img">
                                <img src="https://qureskincaredns.com/new/assets/trusted_davim1.webp" alt="" class="img-fluid">
                                <div class="play_btn">
                                    <a class="popup-youtube"
                                        href="https://www.youtube.com/watch?v=0Lxofv19620"><span
                                            class="justify-content-center"><img src="https://qureskincaredns.com/new/assets/trusted_play_md.svg"
                                                alt="" class="w-auto">
                                        </span></a>
                                </div>
                            </div>
                            <div class="trust_item_info">
                                <div class="result_content">
                                    <p>"Unlike using harsh micro needles or Derma rollers, this one is super
                                        safe..."
                                    </p>
                                    <h6><strong>Dr Davin Lim, </strong>Board-Certified Dermatologist</h6>
                                </div>
                            </div>
                            <div class="trusted_tag_sm">
                                <img src="https://qureskincaredns.com/new/assets/trusted_play_esm.svg" alt="">654K Subscribers
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trust_item">
                            <div class="trust_img">
                                <img src="https://qureskincaredns.com/new/assets/trusted_prasanthi.webp" alt="" class="img-fluid">
                                <div class="play_btn">
                                    <a class="popup-youtube">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <span
                                                    class="wistia_embed wistia_async_47prunzk1h popover=true videoFoam=true"
                                                    style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                            </div>
                                            <span class="justify-content-center"><img
                                                    src="https://qureskincaredns.com/new/assets/trusted_play_md.svg" alt="" class="w-auto">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="trust_item_info">
                                <div class="result_content">
                                    <p>"...safe for generally all skin tones and types to perform at home
                                        without any risk of infection or trauma."
                                    </p>
                                    <h6><strong>Dr Prasanthi, </strong>General Practitioner & Cosmetic Doctor
                                    </h6>
                                </div>
                            </div>
                            <div class="trusted_tag_sm">
                                <img src="https://qureskincaredns.com/new/assets/trusted_play_esm.svg" alt="">3,694 Followers
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination_navigation">
                    <div class="swiper-pagination"></div>
                    <div class="trustedSwipper-swiper-prev swiper-button-prev swiper-button"></div>
                    <div class="trustedSwipper-swiper-next  swiper-button-next swiper-button"></div>

                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- -- trusted section end -- -->

<!-- -- result section start -- -->
{% comment %} <div class="result_s section mi_landing_result" id="result_section">
    <div class="container">
        <div class="section_header text-start text-md-center ms-0 m-md-auto">
            <h2 class="title-lg">
                Results you‘ll see with your own eyes
            </h2>
        </div>
        <div class="result_s_wrapper">
            <div class="swiper dot_pagination result_slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_glorija.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/australia_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Glorija</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Best natural glow</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in Australia</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I was hesitant at first as I didn’t know how much it would hurt but to
                                        my surprise it was pretty painless. The 2nd day after the treatment, my
                                        skin has the best natural glow! I was also happy to to see how much my
                                        pigmentation had lightened after 3rd treatment :)
                                        I switch between the serums depending on how my skin is before the
                                        treatment.”</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_ellie.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Ellie V.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>My skin returned to life!</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I just turned 57 years. My skin was extremely dry and while using this
                                        product my skin RETURNED to LIFE! I am so impressed with it! My
                                        Coworkers ask me what I use in my skin.. and I tell them. Product easy
                                        to use and the needles are better that using a pen for microneedling.
                                        This is an amazing product that you will not regret in purchasing it. I
                                        really see the change in my skin. Outstanding job QURE!”

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_mona.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Mona P.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Fade after just two treatments</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I personally think my products absorbed better, my skin looks a bit
                                        brighter and that larger acne scar on my right cheek has started to fade
                                        after just TWO treatments!”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_ela.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Ela O.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Shocked at the results</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“Shocked at the results after just one treatment!
                                        I’m not one to usually leave reviews... but I was shocked at how my
                                        skin
                                        looked the morning after my first treatment!</p>
                                    <p>Texture was soooo much smoother, my skin looked clear, glowy and
                                        healthy. The system was so easy to use and I can’t wait until
                                        my
                                        next treatment.”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_ann.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/australia_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Ann</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>How easy it is to use</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in Australia</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I heard about micro-infusion in clinics but couldn’t afford to fork out
                                        hundreds of dollars for a treatment. So when I saw this online I jumped
                                        at buying it instantly. Yes, it doesn’t stamp in botox and filler BUT
                                        personally I LOVE the results and how easy it is to use myself at home.
                                        It works great for my skin, I have noticed my skin texture is much
                                        smoother and brighter.”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_chelsea.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Chelsea J.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Amazing results!</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>"Amazing results. I am just in shock at how great my skin is looking.
                                        This stuff has been amazing for hyperpigmentation and also some hormonal
                                        cystic acne. I will be continuing to support this business because it
                                        has brought the skin I know back. I was at my wits end with a hormonal
                                        breakout and bad hyperpigmentation."
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_jess1.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Jess</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Totally worth it!!!</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I committed to the 3 month saver bundle and after 6 treatments (2 weeks
                                        apart) I’m SO happy with the results!!! My pores are smaller and I have
                                        mainly noticed a difference in my skin texture. My skin goes a little
                                        red straight after the treatment but that quickly goes away. It’s a
                                        little uncomfortable when I do it on my forehead but it’s fine
                                        everywhere else. Totally worth it!!!”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_akina.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Akina M.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>I love this product</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I used three time so far. I can see the results from first time I used.
                                        I love this product but only thing is it’s take time to apply till used
                                        all serum per application. I tried many different way to press to my
                                        skin so the serum come out more but then a lot of time not.”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_andrea-a.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Andrea A.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Absolutely love it!</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I have used many topicals to help with post acne marks. This
                                        micro-infusion system has given me the most consistent results.
                                        Absolutely love it!”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_priya.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/england_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Priya P.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Plumper, more hydrated!</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United Kingdom</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“After the first use of EGF, my skin was plumper, more hydrated and skin
                                        tone improved radically, literally the next day. Love this product, will
                                        definitely be purchasing more as its really helped smooth out the fine
                                        lines also”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_andrea-g.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Andrea G.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Definitely be re-ordering</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“Still a newbie but so far so great! I have dermarolled for more than a
                                        decade -still do with .25 at least one a week. I’ve avoided getting a
                                        pen because there’s so much involved- but the Qure system is just
                                        awesome. So easy and user friendly and my skin loves the serum! Doing my
                                        third treatment Saturday and will definitely be re-ordering 🤗
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_ramandeep.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Ramandeep</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>I definitely see a difference</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in Michigan</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I have done 2 treatments - 1 for rejuvenating and 2 for hydration with 3
                                        week gap in between treatments. I definitely see a difference in before
                                        and after pictures. I am sure I need 4-8 more treatments but this did
                                        make a difference.”
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_jenniferNay.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Jennifer Nay</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Works better then I imagined!</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I am really stunned by how well this product works. I have had
                                        professional micro-needling and I wanted the benefits without the
                                        downtime. I did my treatment, went to bed and woke up the next morning
                                        and was ready to go. My skin looks better than it has in years.”
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_shelby.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Shelby F.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Wow amazing</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“Just using this product once my skin looks and feels healthy! I’ve also
                                        had acne scars for about 5 years now and this fixed them I couldn’t
                                        believe it! Can’t wait to do it again in 2 weeks!”
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- -- result section end -- -->

<!-- Video blocks -->
{% comment %} <div class="section videosQure">
    <div class="container">
        <div class="section_header text-start text-md-center mb-3">
            <h2 class="title-lg">
                Confident skin starts here
            </h2>
        </div>
        <div class="videoInfo">
            <div class="swiper twa__swiper qureSlider dot_pagination" id="twa__swiper-qureSlider"
                data-section-id="qureSlider" data-autoplay="false" data-loop="false" data-centerslide="false"
                data-mobile="2" data-tablet="6" data-desktop="6" data-spacing="10"
                data-arrowleft="qureSlider-swiper-prev" data-arrowright="qureSlider-swiper-next">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="player">
                            <video poster="https://qureskincaredns.com/new/assets/videosQure_img7.webp" class="player__video viewer"
                                src="https://cdn.shopify.com/videos/c/o/v/8eecfa9e425c4fde9e8f70da1a50e313.mp4"></video>
                            <div class="player__controls">
                                <div class="progress">
                                    <div class="progress__filled"></div>
                                </div>
                                <button class="player__button toggle" title="Toggle Play">►</button>
                                <input type="range" name="volume" class="player__slider" min="0" max="1"
                                    step="0.05" value="1">
                                <input type="range" name="playbackRate" class="player__slider" min="0.5" max="2"
                                    step="0.1" value="1">
                                <button data-skip="-10" class="player__button">« 10s</button>
                                <button data-skip="25" class="player__button">25s »</button>
                                <button class="player__button player__fullscreen">⧉</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="videosQure_exernal">
                            <div class="wistia_responsive_padding" style="position:relative;">
                                <div class="wistia_responsive_wrapper"
                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_ren04vix0l seo=false videoFoam=true"
                                        style="height:100%;position:relative;width:100%">
                                        <div class="wistia_swatch"
                                            style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                            <img src="https://fast.wistia.com/embed/medias/ren04vix0l/swatch"
                                                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                alt="" aria-hidden="true"
                                                onload="this.parentNode.style.opacity=1;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="player">
                            <video poster="https://qureskincaredns.com/new/assets/videosQure_img9.webp" class="player__video viewer"
                                src="https://cdn.shopify.com/videos/c/o/v/f3ac953d223b4c16ba2d790fb8dfc4d3.mp4"></video>
                            <div class="player__controls">
                                <div class="progress">
                                    <div class="progress__filled"></div>
                                </div>
                                <button class="player__button toggle" title="Toggle Play">►</button>
                                <input type="range" name="volume" class="player__slider" min="0" max="1"
                                    step="0.05" value="1">
                                <input type="range" name="playbackRate" class="player__slider" min="0.5" max="2"
                                    step="0.1" value="1">
                                <button data-skip="-10" class="player__button">« 10s</button>
                                <button data-skip="25" class="player__button">25s »</button>
                                <button class="player__button player__fullscreen">⧉</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="player">
                            <video poster="https://qureskincaredns.com/new/assets/videosQure_img10.webp" class="player__video viewer"
                                src="https://cdn.shopify.com/videos/c/o/v/71857fdec6b0497294117ed84cab480e.mp4"></video>
                            <div class="player__controls">
                                <div class="progress">
                                    <div class="progress__filled"></div>
                                </div>
                                <button class="player__button toggle" title="Toggle Play">►</button>
                                <input type="range" name="volume" class="player__slider" min="0" max="1"
                                    step="0.05" value="1">
                                <input type="range" name="playbackRate" class="player__slider" min="0.5" max="2"
                                    step="0.1" value="1">
                                <button data-skip="-10" class="player__button">« 10s</button>
                                <button data-skip="25" class="player__button">25s »</button>
                                <button class="player__button player__fullscreen">⧉</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="player">
                            <video poster="https://qureskincaredns.com/new/assets/videosQure_img11.webp" class="player__video viewer"
                                src="https://cdn.shopify.com/videos/c/o/v/63d872e61dac42fd9e5ff1c04c1ae1d5.mp4"></video>
                            <div class="player__controls">
                                <div class="progress">
                                    <div class="progress__filled"></div>
                                </div>
                                <button class="player__button toggle" title="Toggle Play">►</button>
                                <input type="range" name="volume" class="player__slider" min="0" max="1"
                                    step="0.05" value="1">
                                <input type="range" name="playbackRate" class="player__slider" min="0.5" max="2"
                                    step="0.1" value="1">
                                <button data-skip="-10" class="player__button">« 10s</button>
                                <button data-skip="25" class="player__button">25s »</button>
                                <button class="player__button player__fullscreen">⧉</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="videosQure_exernal">
                            <div class="wistia_responsive_padding" style="position:relative;">
                                <div class="wistia_responsive_wrapper"
                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_albsf16uog seo=false videoFoam=true"
                                        style="height:100%;position:relative;width:100%">
                                        <div class="wistia_swatch"
                                            style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                            <img src="https://fast.wistia.com/embed/medias/albsf16uog/swatch"
                                                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                alt="" aria-hidden="true"
                                                onload="this.parentNode.style.opacity=1;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- Video blocks end-->

<!-- -- get compliment worthy skin start -- -->
{% comment %} <div class="affect_skin section affect_howToUse">
    <div class="dsn-right-container">
        <div class="section_header ms-0 d-block d-md-none">
            <h2 class="title-lg paddingB">How to use</h2>
        </div>
        <div class="video_with_slide justify-content-end">
            <div class="actVideo_block">
                <div class="ctmVideo__block">
                    <div class="player">
                        <div class="wistia_responsive_padding" style="position:relative;">
                            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                <div class="wistia_embed wistia_async_i4a51d8k7u seo=false videoFoam=true" style="height:100%;position:relative;width:100%">
                                    <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/i4a51d8k7u/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="affect_skinContent">
                <div class="section_header ms-0 d-none d-md-block">
                    <h2 class="title-lg paddingB">How to use</h2>
                </div>
                <div class="get_compliment_wrap">
                    <div class="tab-content" id="pills-tabContent1">
                        <div class="tab-pane fade show active" id="pills-specs" role="tabpanel"
                            aria-labelledby="pills-specs-tab">
                            <div class="gc_img_wrap">
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp1.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp2.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp3.webp">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-quick" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <div class="gc_img_wrap">
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp2.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp3.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp1.webp">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-customize" role="tabpanel"
                            aria-labelledby="pills-customize-tab">
                            <div class="gc_img_wrap">
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp3.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp1.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp2.webp">
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-pills" id="pills-tab-skin" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-specs-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-specs" type="button" role="tab"
                                aria-controls="pills-specs" aria-selected="true">Prepare</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-quick-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-quick" type="button" role="tab"
                                aria-controls="pills-quick" aria-selected="false">Treatment</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-customize-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-customize" type="button" role="tab"
                                aria-controls="pills-customize" aria-selected="false">Aftercare</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent2">
                        <div class="tab-pane fade show active" id="pills-specs" role="tabpanel"
                            aria-labelledby="pills-specs-tab">
                            <p>Twist open the chamber of the device and fill with one ampule of serum. <br>Twist
                                on needle head with lid to close it tight.
                            </p>
                            <p>Leave the device upside down for 1-2 minutes. <br>During this time, wash your
                                face and make sure your hands are clean.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-quick" role="tabpanel"
                            aria-labelledby="pills-quick-tab">
                            <p>Once the serum has had enough time to make its way into the needles, you can take
                                off the lid and start micro-infusing!</p>
                            <p>Start at the centre of the face and work your way outward to cover the full face.
                                Perform 2/3 passes. Take any leftover serum from the device and pat it onto your
                                face and neck to leave on overnight.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-customize" role="tabpanel"
                            aria-labelledby="pills-customize-tab">
                            <p>Once treatment is completed, place lid back on the needle head. </p>
                            <p>Twist the lid off and dispose safely.</p>
                            <p>Open a new sterile needle head and put it on the device ready for your next
                                treatment.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- -- get compliment worthy skin end -- -->

{% comment %} <div class="see_detailed bg-grey py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="see_detailed_info">
                    <h5>Is this your kind of skincare ritual?</h5>
                    <p>Take a look at our Micro-Infusion treatment protocols and instructions</p>
                </div>
            </div>
            <div class="col-md-5">
                <a class="btn btn-lg btn-primary buy_btn see_detailed"
                    href="https://www.qureskincare.com/pages/microinfusion-safety-guide">See Detailed Guide<img
                        src="https://qureskincaredns.com/new/assets/arrow_right.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- -- see it in action end -- -->

<!-- -- beauty clinical start -- -->
<div class="beauty_skincare section bg-white">
    <div class="container">
        <div class="section_header text-start text-md-center mw-630 mb-3">
            <h2 class="title-lg mw-590 paddingB">
                Typically more effective and safer than other at-home needling devices
            </h2>
            <p>Unlike at-home needle roller devices, Micro-infusion requires little to <strong>no
                    downtime,</strong>
                is <strong>virtually painless,</strong> and minimizes risk of infection and irritation.</p>
        </div>
        <div class="bs_grid">
            <div class="bs_item">
                <div class="bs_img">
                    <img src="https://qureskincaredns.com/new/assets/beauty_micro.webp" alt="" class="img-fluid beauty_img">
                </div>
                <div class="bs_content">
                    <h4 class="d-none d-md-block">Qure Micro-Infusion System</h4>
                    <h4 class="d-block d-md-none">Qure’s Micro-<br>Infusion System</h4>
                </div>
                <div class="bs_feature correctCircle">
                    <ul class="rightCircle">
                        <li>Stamping doesn’t <strong>over-damage</strong> skin</li>
                        <li><strong>Little to no downtime</strong> & quick recovery of the skin</li>
                        <li>New needle heads provide sharp, straight needles for every treatment - designed for
                            better efficacy</li>
                        <li>Disposable heads minimizes risk of infection/ irritation </li>
                        <li>Delivers serum directly to skin to help <strong>increase absorption &
                                results</strong></li>
                    </ul>
                </div>
            </div>
            <div class="bs_vs_item">
                <div class="bs_versace">
                    <span>vs</span>
                </div>
            </div>
            <div class="bs_item">
                <div class="bs_img">
                    <img src="https://qureskincaredns.com/new/assets/beauty_needle.webp" alt="" class="img-fluid">
                </div>
                <div class="bs_content">
                    <h4 class="d-none d-md-block">Other At-Home Needling Devices</h4>
                    <h4 class="d-block d-md-none">Other At-Home<br> Needling Devices</h4>
                </div>
                <div class="bs_feature incorrectCircle">
                    <ul class="wrongCircle">
                        <li>Rolling can cause <strong>unnecessary damage</strong> of skin</li>
                        <li><strong>Slower recovery</strong> & longer healing time</li>
                        <li>Needles become blunt after several uses & create unessesary skin trauma which can
                            lessen efficacy</li>
                        <li>Infection/ irritation is increased if not disinfected well</li>
                        <li><strong>Less effective absorption</strong> of serum as applied topically</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- beauty clinical start -- -->

<!-- Difference table with slider start-->
<div class="compare_section section bg-yellow">
    <div class="container">
        <div class="section_header text-md-center text-start">
            <h2 class="title-lg">
                Give yourself a “Clinic Quality” glow up without the “Clinical Prices”
            </h2>
        </div>
        <div class="compare_listRow">
            <div class="compare_listHeadings">
                <div class="compare_listHeader">
                    <div class="compare__img"></div>
                </div>
                <div class="compare__titleBlock">
                    <h4 class="compare__title"><strong>Let’s Compare</strong></h4>
                </div>
                <div class="compare_listitems">
                    <div class="compare_listBlock">Results in</div>
                    <div class="compare_listBlock">Customized</div>
                    <div class="compare_listBlock active">Skin Safe</div>
                    <div class="compare_listBlock">Cost</div>
                </div>
            </div>
            <div class="compare_list_column">
                <div class="swiper-container compare-slider twa__swiper" id="twa__swiper-compareSlider"
                    data-section-id="compareSlider" data-autoplay="false" data-loop="true"
                    data-centerslide="false" data-mobile="1" data-tablet="3" data-desktop="3" data-spacing="0"
                    data-arrowleft="compareSlider-swiper-prev" data-arrowright="compareSlider-swiper-next">
                    <div class="swiper-wrapper">
                        <!-- slide start -->
                        <div class="swiper-slide">
                            <div class="compare_list_elements active">
                                <div class="compare_listHeader">
                                    <div class="compare__img"><img src="https://qureskincaredns.com/new/assets/compare_micro.webp" alt=""
                                            class="img-fluid d-block mx-auto"></div>
                                </div>
                                <div class="compareTxt__element">
                                    <div class="compare__titleBlock">
                                        <h4 class="compare__title text-center"><strong>Qure</strong><br />
                                            Micro-Infusion System</h4>
                                    </div>
                                    <div class="compare_list_Block">
                                        <div class="compare_list_icon">
                                            <img src="https://qureskincaredns.com/new/assets/tick_circle.svg" alt="" class="img-fluid">
                                        </div>
                                        <h5>As little as 1-2 days</h5>
                                    </div>
                                    <div class="compare_list_Block">
                                        <div class="compare_list_icon">
                                            <img src="https://qureskincaredns.com/new/assets/tick_circle.svg" alt="" class="img-fluid">
                                        </div>
                                        <h5>Tailored to your skin needs</h5>
                                    </div>
                                    <div class="compare_list_Block">
                                        <div class="compare_list_icon">
                                            <img src="https://qureskincaredns.com/new/assets/tick_circle.svg" alt="" class="img-fluid">
                                        </div>
                                        <h5>Minimal downtime & Virtually Painless</h5>
                                    </div>
                                    <div class="compare_list_Block">
                                        <div class="compare_list_icon">
                                            <img src="https://qureskincaredns.com/new/assets/tick_circle.svg" alt="" class="img-fluid">
                                        </div>
                                        <h5>Less than $20 per treatment</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="compare_list_elements">
                                <div class="compare_listHeader">
                                    <div class="compare__img"><img src="https://qureskincaredns.com/new/assets/compare_cs_1.png" alt=""
                                            class="img-fluid d-block mx-auto"></div>

                                </div>
                                <div class="compareTxt__element">
                                    <div class="compare__titleBlock">
                                        <h4 class="compare__title text-center">Micro-Infusion
                                            <br /><strong>Clinic</strong> Treatment
                                        </h4>
                                    </div>
                                    <div class="compare_list_Block">
                                        <div class="compare_list_icon">
                                            <img src="https://qureskincaredns.com/new/assets/tick_circle.svg" alt="" class="img-fluid">
                                        </div>
                                        <h5>As little as 1-2 days</h5>
                                    </div>
                                    <div class="compare_list_Block">
                                        <div class="compare_list_icon">
                                            <img src="https://qureskincaredns.com/new/assets/tick_circle.svg" alt="" class="img-fluid">
                                        </div>
                                        <h5>Tailored to your skin needs</h5>
                                    </div>
                                    <div class="compare_list_Block">
                                        <div class="compare_list_icon">
                                            <img src="https://qureskincaredns.com/new/assets/tick_circle.svg" alt="" class="img-fluid">
                                        </div>
                                        <h5>Minimal downtime & Virtually Painless</h5>
                                    </div>
                                    <div class="compare_list_Block">
                                        <div class="compare_list_icon">
                                            <img src="https://qureskincaredns.com/new/assets/cross_circle.svg" alt="" class="img-fluid">
                                        </div>
                                        <h5>Around $300 per treatment</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="compare_list_elements">
                                <div class="compare_listHeader">
                                    <div class="compare__img"><img src="https://qureskincaredns.com/new/assets/compare_cs_2.png" alt=""
                                            class="img-fluid d-block mx-auto"></div>
                                </div>
                                <div class="compareTxt__element">
                                    <div class="compare__titleBlock">
                                        <h4 class="compare__title text-center">Derma Roller <br />At-Home
                                            Treatment</h4>
                                    </div>
                                    <div class="compare_list_Block">
                                        <div class="compare_list_icon">
                                            <img src="https://qureskincaredns.com/new/assets/cross_circle.svg" alt="" class="img-fluid">
                                        </div>
                                        <h5>A few days to see results</h5>
                                    </div>
                                    <div class="compare_list_Block">
                                        <div class="compare_list_icon">
                                            <img src="https://qureskincaredns.com/new/assets/cross_circle.svg" alt="" class="img-fluid">
                                        </div>
                                        <h5>Not customised to skin</h5>
                                    </div>
                                    <div class="compare_list_Block">
                                        <div class="compare_list_icon">
                                            <img src="https://qureskincaredns.com/new/assets/cross_circle.svg" alt="" class="img-fluid">
                                        </div>
                                        <h5>Potential side effects</h5>
                                    </div>
                                    <div class="compare_list_Block">
                                        <div class="compare_list_icon">
                                            <img src="https://qureskincaredns.com/new/assets/tick_circle.svg" alt="" class="img-fluid">
                                        </div>
                                        <h5>$10 per treatment</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Difference table with slider end-->

<!-- -- unique customizable start -- -->
<div class="available_bar bg-black">
    <p>INCLUDED IN THE SYSTEM:</p>
</div>
<!-- -- unique customizable end -- -->