<!-- -- press slider app out start -- -->
<div class="app_press section">
    <div class="container1">
        <div class="press_bl py-2 mw-mob-100">
            <div class="p_bl_header text-center p-0">
                <p>FEATURED IN</p>
            </div>
            <div class="app_press_slider">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                    class="swiper app_press_sl_content">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="app_subhheading">
                                “The professional grade is the perfect addition to any <br>at-home
                                skincare
                                routine.”
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="app_subhheading">
                                "Treatment time is only three minutes—among the fastest <br>of all
                                devices."
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="app_subhheading">
                                "A multi-use LED mask with five different light setting options to plump,
                                smooth and rejuvenate all skin types."
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="app_subhheading">
                                “The combination of colors allows you to customize which lights are used,
                                maximizing its benefits to help your skin...”
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="app_subhheading">
                                “The Qure mask is the FIRST mask in the world that adapts to your skin!
                                ...There is an app that reminds you of the treatments too.”
                            </div>
                        </div>
                    </div>
                </div>
                <div thumbsSlider="" class="swiper app_press_sl_img">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="app_press_info">
                                <img src="https://qureskincaredns.com/new/assets/vogue-black.svg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="app_press_info">
                                <img src="https://qureskincaredns.com/new/assets/womenshealth.svg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="app_press_info">
                                <img src="https://qureskincaredns.com/new/assets/elle-black.svg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="app_press_info">
                                <img src="https://qureskincaredns.com/new/assets/cosmopolitan-black.svg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="app_press_info">
                                <img src="https://qureskincaredns.com/new/assets/grazia_black.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- press slider end -- -->

<!-- -- qure uses start -- -->
<div class="q_uses_bl bg_clr_transparent section q_uses_tab">
    <div class="container">
        <div class="row">
            <div class="col-md-4 order-2 order-md-1">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                    class="swiper mySwiperTest2 dot_pagination mt-4 mt-md-0">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="q_uses_description">
                                <h3>Dermatologist Approved and Science-Backed </h3>
                                <p>Backed by the most respected peer-reviewed
                                    <strong>Dermatologist Journals</strong> and <strong>scientific
                                        studies</strong> that
                                    <strong>prove;</strong> Qure’s skincare <strong>works.</strong>
                                </p>
                                <div class="q_use_img">
                                    <img src="https://qureskincaredns.com/new/assets/q_uses_1.webp" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="q_uses_description">
                                <h3>Safe and Easy To Use Devices</h3>
                                <p>Perform <strong>safely</strong> from home for quick and <strong>easy</strong>
                                    regular <strong>DIY therapies</strong> so you can maintain long term smooth
                                    and
                                    healthy skin.
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="q_uses_description">
                                <h3>Saves You Time, and Money</h3>
                                <p>No one has the time, or the money, to attend regular in-clinic treatments in
                                    order to see long lasting results. With Qure, it’s like going to the clinic
                                    5x a
                                    week - Minus the cost and the time commitment.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="q_uses_description">
                                <h3>Treat Multiple Skin Concerns</h3>
                                <p>Feel good in your skin with personalized treatments for your specific skin
                                    type
                                    and concern. We put <strong>clinically proven</strong> skincare in your
                                    hands,
                                    so you can <strong>achieve in-clinic results without the guess work.
                                    </strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="pagination_navigation d-md-none">
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev swiper-button"></div>
                        <div class="swiper-button-next swiper-button"></div>
                    </div>
                </div>
            </div>
            <div class="offset-md-1 col-md-6 order-1 order-md-2">
                <div thumbsSlider="" class="swiper mySwiperTest">
                    <div class="swiper-wrapper q_uses_mob_wrap">
                        <div class="swiper-slide q_uses_item">
                            <div class="q_uses_item_grid">
                                <img src="https://qureskincaredns.com/new/assets/science-ftr-lg.svg" alt="" class="img-fluid">
                                <div class="qUses_btn">
                                    <h6 class="d-none d-md-block">Science-Backed,
                                        Dermatologist Approved</h6>
                                    <h6 class="d-block d-md-none">Dermatologist Approved</h6>
                                    <img src="https://qureskincaredns.com/new/assets/uses_plus.svg" alt="" class="img-fluid q_uses_plus">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide q_uses_item">
                            <div class="q_uses_item_grid">
                                <img src="https://qureskincaredns.com/new/assets/derma-ft-lg.svg" alt="" class="img-fluid">
                                <div class="qUses_btn">
                                    <h6>Safe & Easy To Use Devices</h6>
                                    <img src="https://qureskincaredns.com/new/assets/uses_plus.svg" alt="" class="img-fluid q_uses_plus">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide q_uses_item">
                            <div class="q_uses_item_grid">
                                <img src="https://qureskincaredns.com/new/assets/money_time.svg" alt="" class="img-fluid">
                                <div class="qUses_btn">
                                    <h6 class="d-none d-md-block">Saves You Time, and Money</h6>
                                    <h6 class="d-block d-md-none">Saves You Time & Money</h6>
                                    <img src="https://qureskincaredns.com/new/assets/uses_plus.svg" alt="" class="img-fluid q_uses_plus">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide q_uses_item">
                            <div class="q_uses_item_grid">
                                <img src="https://qureskincaredns.com/new/assets/treat-skin-lg.svg" alt="" class="img-fluid">
                                <div class="qUses_btn">
                                    <h6>Treat Multiple Skin Concerns</h6>
                                    <img src="https://qureskincaredns.com/new/assets/uses_plus.svg" alt="" class="img-fluid q_uses_plus">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- qure uses end -- -->

<!-- -- target specific skin concerns start -- -->
<div class="skin_concern section">
    <div class="section_header mb-4 mw-100 text-start text-lg-center">
        <h2 class="title-lg mx-auto paddingB">
            Get the Qure
        </h2>
        <h4>Reclaim your confidence at any age, no matter what your skin concern is.</h4>
    </div>
    <div class="swiper twa__swiper targetSkin dot_pagination" id="twa__swiper-targetSkin"
        data-section-id="targetSkin" data-autoplay="false" data-loop="false" data-centerslide="false"
        data-mobile="1.2" data-tablet="4" data-desktop="4" data-spacing="20"
        data-arrowleft="targetSkin-swiper-prev" data-arrowright="targetSkin-swiper-next">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="target_skin">
                    <div class="target_skin_img">
                        <img src="https://qureskincaredns.com/new/assets/skin_c1.webp" alt="" class="img-fluid">
                        <div class="target_skin_info">
                            <h4>Signs of aging, fine lines & wrinkles</h4>
                            <a href="https://www.qureskincare.com/collections/fine-line-wrinkles">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="target_skin">
                    <div class="target_skin_img">
                        <img src="https://qureskincaredns.com/new/assets/skin_c2.webp" alt="" class="img-fluid">
                        <div class="target_skin_info">
                            <h4>Dark spots & uneven skin tone</h4>
                            <a href="https://www.qureskincare.com/collections/dark-spots?ose=false">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="target_skin">
                    <div class="target_skin_img">
                        <img src="https://qureskincaredns.com/new/assets/skin_c3.webp" alt="" class="img-fluid">
                        <div class="target_skin_info">
                            <h4>Acne Breakouts & Blemishes</h4>
                            <a href="https://www.qureskincare.com/collections/acne-breakouts?ose=false">Shop
                                Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="target_skin">
                    <div class="target_skin_img">
                        <img src="https://qureskincaredns.com/new/assets/skin_c4.webp" alt="" class="img-fluid">
                        <div class="target_skin_info">
                            <h4>Large pores & textured skin</h4>
                            <a href="https://www.qureskincare.com/collections/dark-spots?">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination_navigation d-md-none">
            <div class="swiper-pagination"></div>
            <div class="targetSkin-swiper-prev swiper-button-prev swiper-button"></div>
            <div class="targetSkin-swiper-next  swiper-button-next swiper-button"></div>

        </div>
    </div>
</div>
<!-- -- target specific skin concerns end -- -->


<!-- -- customer favourite start -- -->
<div class="customer_fav section">
    <div class="container">
        <div class="row">
            <div class="section_header mb-4">
                <h2 class="title-lg mx-auto text-start text-lg-center">
                    Best Sellers
                </h2>
            </div>
            <div class="customer_fav_grid">
                <a href="https://www.qureskincare.com/pages/microinfusion" class="fav_pdt best_seller">
                    <div class="fav_pdt_img">
                        <img src="https://qureskincaredns.com/new/assets/fav_pdt1.webp" alt="" class="img-fluid">
                    </div>
                    <div class="fav_pdt_info">
                        <div class="refill_review">
                            <div class="star_gp">
                                <img src="https://qureskincaredns.com/new/assets/star4.8.svg" alt="">
                            </div>
                            <p class="text-sm fw-normal" style="text-decoration: none;">283 Reviews
                            </p>
                        </div>
                        <div class="fav_pdt_name">Micro-Infusion Facial System</div>
                        <div class="fav_pdt_price">from <span>$99</span></div>
                    </div>
                    <div class="fav_best_seller">Bestseller</div>
                </a>
                <a href="https://www.qureskincare.com/products/q-rejuvalight-pro-facewear" class="fav_pdt">
                    <div class="fav_pdt_img">
                        <img src="https://qureskincaredns.com/new/assets/fav_pdt2.webp" alt="" class="img-fluid">
                    </div>
                    <div class="fav_pdt_info">
                        <div class="refill_review">
                            <div class="star_gp">
                                <img src="https://qureskincaredns.com/new/assets/star4.8.svg" alt="">
                            </div>
                            <p class="text-sm fw-normal" style="text-decoration: none;">283 Reviews
                            </p>
                        </div>
                        <div class="fav_pdt_name">Q-Rejuvalight Pro Facewear </div>
                        <div class="fav_pdt_price"><span>$349</span></div>
                    </div>
                </a>
                <a href="https://www.qureskincare.com/products/face-serum" class="fav_pdt">
                    <div class="fav_pdt_img">
                        <img src="https://qureskincaredns.com/new/assets/fav_pdt3.webp" alt="" class="img-fluid">
                    </div>
                    <div class="fav_pdt_info">
                        <div class="refill_review">
                            <div class="star_gp">
                                <img src="https://qureskincaredns.com/new/assets/star4.8.svg" alt="">
                            </div>
                            <p class="text-sm fw-normal" style="text-decoration: none;">85 Reviews
                            </p>
                        </div>
                        <div class="fav_pdt_name">All-In-One Face Serum</div>
                    </div>
                    <div class="fav_pdt_price"><span>$79</span></div>
                </a>
                <a href="https://www.qureskincare.com/products/micro-infusion-targeted-patches" class="fav_pdt">
                    <div class="fav_pdt_img">
                        <img src="https://qureskincaredns.com/new/assets/fav_pdt4.webp" alt="" class="img-fluid">
                    </div>
                    <div class="fav_pdt_info">
                        <div class="refill_review">
                            <div class="star_gp">
                                <img src="https://qureskincaredns.com/new/assets/star4.8.svg" alt="">
                            </div>
                            <p class="text-sm fw-normal" style="text-decoration: none;">57 Reviews
                            </p>
                        </div>
                        <div class="fav_pdt_name">Micro-Infusion Targeted Patches</div>
                    </div>
                    <div class="fav_pdt_price"><span>$79</span></div>
                </a>
            </div>
            <a href="https://www.qureskincare.com/collections/best-sellers" class="btn_black mx-auto mt-5">Shop
                All Best-Sellers</a>
        </div>
    </div>
</div>
<!-- -- customer favourite end -- -->

<!-- -- featured promotion start -- -->
<div class="featured_promotion bg-transparent">
    <div class="container">
        <div class="fp-wrapper">
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/free-shipping-ftr.svg" alt="">
                </div>
                <div class="fp_icon_text">
                    <p>Free Shipping </p>
                    <p>Orders Over $100</p>
                </div>
            </div>
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/buy-now-ftr.svg" alt="">
                </div>
                <div class="fp_icon_text">
                    <p>Buy Now,</p>
                    <p>Pay Later</p>
                </div>
            </div>
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/derma-ftr.svg" alt="">
                </div>
                <div class="fp_icon_text d-none d-md-block">
                    <p>Dermatologist Tested </p>
                    <p>&amp; Approved</p>
                </div>
                <div class="fp_icon_text d-block d-md-none">
                    <p>Dermatologist</p>
                    <p>Reviewed &amp; Approved</p>
                </div>
            </div>
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/science-ftr.svg" alt="">
                </div>
                <div class="fp_icon_text">
                    <p>Proven Results, </p>
                    <p>Backed by science</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- -- featured promotion end -- -->

<!-- -- trusted section start -- -->
<div class="trusted_bl section pb-0 trustedVerified">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="trusted_left mw-600">
                    <div class="section_header pt-0 mw-100">
                        <div class="trusted_verified"><img src="https://qureskincaredns.com/new/assets/verified_design.svg" alt="">
                            <p>Trusted and recommended by world leading Dermatologists</p>
                        </div>
                        <h2 class="title-lg">
                            "The best LED mask <span style="color: #797D7C;">on the market in my opinion at
                                this time, that being
                                said you do need to</span> use this consistently to see results…"
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2">
                <div class="trusted_cl_m mb-2 mb-md-0">
                    <img src="https://qureskincaredns.com/new/assets/dr_shah_trusted.webp" alt="" class="img-fluid t_m_img">
                    <div class="play_btn trustedVerified_Play">
                        <div>
                            <h5>Dr Shah, MD</h5>
                            <h6> Board certified dermatologist</h6>
                        </div>
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=I2Fe-kP-2Jg"><span><img
                                    src="https://qureskincaredns.com/new/assets/trusted_play_sm.svg" alt="" class="">
                            </span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="trusted_wrapper pt-3">
            <div class="swiper dot_pagination trustedSwipper twa__swiper" id="twa__swiper-trustedSwipper"
                data-section-id="trustedSwipper" data-autoplay="false" data-loop="false"
                data-centerslide="false" data-mobile="1" data-tablet="3" data-desktop="3" data-spacing="20"
                data-arrowleft="trustedSwipper-swiper-prev" data-arrowright="trustedSwipper-swiper-next">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="trust_item">
                            <div class="trust_img">
                                <img src="https://qureskincaredns.com/new/assets/trusted_shah_prem.webp" alt="" class="img-fluid">
                                <div class="play_btn">
                                    <a class="popup-youtube"
                                        href="https://www.youtube.com/watch?v=JPWycy8cwN8"><span
                                            class="justify-content-center"><img src="https://qureskincaredns.com/new/assets/trusted_play_md.svg"
                                                alt="" class="w-auto">
                                        </span></a>
                                </div>
                            </div>
                            <div class="trust_item_info">
                                <div class="result_content">
                                    <p>"There have been studies to show that this will definitely work to help
                                        your products penetrate better..."
                                    </p>
                                    <h6><strong>Dr Shah & Dr Maxfield,</strong> Certified Dermatologists</h6>
                                </div>
                            </div>
                            <div class="trusted_tag_sm">
                                <img src="https://qureskincaredns.com/new/assets/trusted_play_esm.svg" alt="">3.03M Subscribers
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trust_item">
                            <div class="trust_img">
                                <img src="https://qureskincaredns.com/new/assets/trusted_brown.webp" alt="" class="img-fluid">
                                <div class="play_btn">
                                    <a class="popup-youtube"
                                        href="https://cdn.shopify.com/videos/c/o/v/d5d0c051b43e4117be7b6308e06e8f66.mp4"><span
                                            class="justify-content-center"><img src="https://qureskincaredns.com/new/assets/trusted_play_md.svg"
                                                alt="" class="w-auto">
                                        </span></a>
                                </div>
                            </div>
                            <div class="trust_item_info">
                                <div class="result_content">
                                    <p>"I’ve liked using this in between my in-office treatments. It’s
                                        convenient and you get all the benefits of micro-needling treatment from
                                        the comfort of your home..."
                                    </p>
                                    <h6><strong>Dr Brown,</strong> Medical Doctor</h6>
                                </div>
                            </div>
                            <div class="trusted_tag_sm">
                                <img src="https://qureskincaredns.com/new/assets/trusted_play_esm.svg" alt="">155K Followers
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trust_item">
                            <div class="trust_img">
                                <img src="https://qureskincaredns.com/new/assets/trusted_greeney1.webp" alt="" class="img-fluid">
                                <div class="play_btn">
                                    <a class="popup-youtube"
                                        href="https://www.youtube.com/watch?v=1iXBgh7WPOY"><span
                                            class="justify-content-center"><img src="https://qureskincaredns.com/new/assets/trusted_play_md.svg"
                                                alt="" class="w-auto">
                                        </span></a>
                                </div>
                            </div>
                            <div class="trust_item_info">
                                <div class="result_content">
                                    <p>“Qure's anti-ageing treatment gets down deep into your skin to stimulate
                                        collagen & makes a big difference in skin texture, decreasing fine lines
                                        & wrinkles."
                                    </p>
                                    <h6><strong>Dr Greeney, </strong>Certified Dermatologist</h6>
                                </div>
                            </div>
                            <div class="trusted_tag_sm">
                                <img src="https://qureskincaredns.com/new/assets/trusted_play_esm.svg" alt="">9.77K Subscribers
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trust_item">
                            <div class="trust_img">
                                <img src="https://qureskincaredns.com/new/assets/trusted_mona.webp" alt="" class="img-fluid">
                                <div class="play_btn">
                                    <a class="popup-youtube"
                                        href="https://cdn.shopify.com/videos/c/o/v/71857fdec6b0497294117ed84cab480e.mp4"><span
                                            class="justify-content-center"><img src="https://qureskincaredns.com/new/assets/trusted_play_md.svg"
                                                alt="" class="w-auto">
                                        </span></a>
                                </div>
                            </div>
                            <div class="trust_item_info">
                                <div class="result_content">
                                    <p>"You'll see a kind of dewy glowy look after you use it but within a
                                        couple of days your skin really looks quite amazing."
                                    </p>
                                    <h6><strong>Dr Mona Patel,</strong> Internal Medicine</h6>
                                </div>
                            </div>
                            <div class="trusted_tag_sm">
                                <img src="https://qureskincaredns.com/new/assets/trusted_play_esm.svg" alt="">2.3M Views
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trust_item">
                            <div class="trust_img">
                                <img src="https://qureskincaredns.com/new/assets/trusted_alex1.webp" alt="" class="img-fluid">
                                <div class="play_btn">
                                    <a class="popup-youtube">
                                        <div class="wis tia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <span
                                                    class="wistia_embed wistia_async_yuqb3gno7g popover=true videoFoam=true"
                                                    style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                            </div>
                                            <span class="justify-content-center"><img
                                                    src="https://qureskincaredns.com/new/assets/trusted_play_md.svg" alt="" class="w-auto">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="trust_item_info">
                                <div class="result_content">
                                    <p>I have been using this mask with the anti-breakout settings, which has
                                        been fantastic to help clear up my complexion in only two weeks.
                                    </p>
                                    <h6><strong>Dr Alexandra Hunter, </strong>NHS & Aesthetics Doctor</h6>
                                </div>
                            </div>
                            <div class="trusted_tag_sm">
                                <img src="https://qureskincaredns.com/new/assets/trusted_play_esm.svg" alt="">1,154 Followers
                            </div>
                        </div>
                    </div>
                    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                </div>
                <div class="pagination_navigation">
                    <div class="swiper-pagination"></div>
                    <div class="trustedSwipper-swiper-prev swiper-button-prev swiper-button"></div>
                    <div class="trustedSwipper-swiper-next  swiper-button-next swiper-button"></div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- trusted section end -- -->

<!-- -- beauty clinical start -- -->
<div class="beauty_skincare section bg_clr_transparent">
    <div class="container">
        <div class="section_header mb-4">
            <h2 class="title-lg  mx-auto text-lg-center">
                Hello make up free days,
                goodbye clinical costs
            </h2>
        </div>
        <div class="bs_grid">
            <div class="bs_item">
                <div class="bs_img">
                    <img src="https://qureskincaredns.com/new/assets/beauty_ledmask1.webp" alt="" class="img-fluid beauty_img">
                </div>
                <div class="bs_content">
                    <h4>Qure</h4>
                </div>
                <div class="bs_feature correct">
                    <ul class="rightCircle">
                        <li>saves you time</li>
                        <li>comfort and privacy of your own home</li>
                        <li>better results with more frequent treatments</li>
                        <li>customized approach</li>
                    </ul>
                </div>
            </div>
            <div class="bs_vs_item">
                <div class="bs_versace">
                    <span>vs</span>
                </div>
            </div>
            <div class="bs_item">
                <div class="bs_img">
                    <img src="https://qureskincaredns.com/new/assets/beauty_derma1.webp" alt="" class="img-fluid">
                </div>
                <div class="bs_content">
                    <h4 class="d-none d-md-block">Derm/ Clinic Treatments </h4>
                    <h4 class="d-block d-md-none">Derm/ Clinic</h4>
                </div>
                <div class="bs_feature incorrect">
                    <ul class="wrongCircle">
                        <li>time-consuming commute to clinic</li>
                        <li>according to clinic’s availability</li>
                        <li>less treatments - less results</li>
                        <li>ongoing payments required</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- beauty clinical start -- -->

<!-- -- result section start -- -->
<div class="result_s section mi_landing_result" id="result_section">
    <div class="container">
        <div class="section_header text-md-center mb-3 mw-100">
            <h2 class="title-lg">
                Customers love us
            </h2>
        </div>
        <div class="result_s_wrapper">
            <div class="swiper dot_pagination result_slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="result_item result_item_info_with_fixed">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_teresa.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                </div>
                                <div class="star_gp">
                                    <p>IT REALLY WORKS!!</p>
                                </div>
                            </div>
                            <div class="result_product_name">
                                Q-Rejuvalight Pro LED Mask
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I was very skeptical when my husband bought this mask for me. But after
                                        6mo the results are amazing!! I’ve tried numerous serums for my sun
                                        spots but nothing worked until I used this mask. Definitely worth the
                                        money."</p>
                                </div>
                            </div>
                            <div class="result_learnMore d-block">
                                <div class="result_learnMore_wrap">
                                    <div class="result_c_info">
                                        <div class="r_flag">
                                            <div class="flag_img">
                                                <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                            </div>
                                            <p class="r_c_name pe-2">Teresa S.</p>
                                        </div>
                                        <div class="verified_img">
                                            <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                            <p>Verified customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item result_item_info_with_fixed">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_ellie.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                </div>
                                <div class="star_gp">
                                    <p>My skin returned to life!</p>
                                </div>
                            </div>
                            <div class="result_product_name">
                                Micro-Infusion System
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I just turned 57 years. My skin was extremely dry and while using this
                                        product my skin RETURNED to LIFE! I am so impressed with it! My
                                        Coworkers ask me what I use in my skin.. and I tell them. Product easy
                                        to use and the needles are better that using a pen for microneedling.
                                        This is an amazing product that you will not regret in purchasing it. I
                                        really see the change in my skin. Outstanding job QURE!”</p>
                                </div>
                            </div>
                            <div class="result_learnMore d-block">
                                <div class="result_learnMore_wrap">
                                    <div class="result_c_info">
                                        <div class="r_flag">
                                            <div class="flag_img">
                                                <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                            </div>
                                            <p class="r_c_name pe-2">Ellie V.</p>
                                        </div>
                                        <div class="verified_img">
                                            <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                            <p>Verified customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item result_item_info_with_fixed">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_anton.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                </div>
                                <div class="star_gp">
                                    <p>Can’t go a day without it</p>
                                </div>
                            </div>
                            <div class="result_product_name">
                                Q-Rejuvalight Pro LED Mask
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I started getting the usual teenage acne. It got very bad. I tried
                                        everything, I tried diets, I went completely vegan. I tried all sorts of
                                        skincare, expensive and cheap. <br>Straight away I noticed results with
                                        Qure, after the first week I had no active breakouts anymore.<br>
                                        People ask me now how have I got my skin to be hydrated, acne-free,
                                        looking bright with no redness. I'm so reliant on the Qure mask now. I
                                        don't think I can go a day without using it.”</p>
                                </div>
                            </div>
                            <div class="result_learnMore d-block">
                                <div class="result_learnMore_wrap">
                                    <div class="result_c_info">
                                        <div class="r_flag">
                                            <div class="flag_img">
                                                <img src="https://qureskincaredns.com/new/assets/australia_f.webp" alt="" class="img-fluid">
                                            </div>
                                            <p class="r_c_name pe-2">Anton M.</p>
                                        </div>
                                        <div class="verified_img">
                                            <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                            <p>Verified customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item result_item_info_with_fixed">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_glorija.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                </div>
                                <div class="star_gp">
                                    <p>Best natural glow</p>
                                </div>
                            </div>
                            <div class="result_product_name">
                                Micro-Infusion System
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I was hesitant at first as I didn’t know how much it would hurt but to
                                        my surprise it was pretty painless. The 2nd day after the treatment, my
                                        skin has the best natural glow! I was also happy to to see how much my
                                        pigmentation had lightened after 3rd treatment :)
                                        I switch between the serums depending on how my skin is before the
                                        treatment.”</p>
                                </div>
                            </div>
                            <div class="result_learnMore d-block">
                                <div class="result_learnMore_wrap">
                                    <div class="result_c_info">
                                        <div class="r_flag">
                                            <div class="flag_img">
                                                <img src="https://qureskincaredns.com/new/assets/australia_f.webp" alt="" class="img-fluid">
                                            </div>
                                            <p class="r_c_name pe-2">Glorija</p>
                                        </div>
                                        <div class="verified_img">
                                            <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                            <p>Verified customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item result_item_info_with_fixed">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_tiffany.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                </div>
                                <div class="star_gp">
                                    <p>Renewed Skin!</p>
                                </div>
                            </div>
                            <div class="result_product_name">
                                Q-Rejuvalight Pro LED Mask
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“My Qure mask has been amazing! As someone who struggles with acne and
                                        rosacea, your LED light therapy mask has improved my skin so much that I
                                        can now feel comfortable without any makeup. I’m very happy with this
                                        product!”</p>
                                </div>
                            </div>
                            <div class="result_learnMore d-block">
                                <div class="result_learnMore_wrap">
                                    <div class="result_c_info">
                                        <div class="r_flag">
                                            <div class="flag_img">
                                                <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                            </div>
                                            <p class="r_c_name pe-2">Tiffany L.</p>
                                        </div>
                                        <div class="verified_img">
                                            <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                            <p>Verified customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item result_item_info_with_fixed">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_mona.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                </div>
                                <div class="star_gp">
                                    <p>Fade after just two treatments</p>
                                </div>
                            </div>
                            <div class="result_product_name">
                                Micro-Infusion System
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I personally think my products absorbed better, my skin looks a bit
                                        brighter and that larger acne scar on my right cheek has started to fade
                                        after just TWO treatments!”</p>
                                </div>
                            </div>
                            <div class="result_learnMore d-block">
                                <div class="result_learnMore_wrap">
                                    <div class="result_c_info">
                                        <div class="r_flag">
                                            <div class="flag_img">
                                                <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                            </div>
                                            <p class="r_c_name pe-2">Mona P.</p>
                                        </div>
                                        <div class="verified_img">
                                            <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                            <p>Verified customer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination_navigation">
                    <div class="swiper-pagination"></div>
                    <div class="qureSlider-swiper-prev swiper-button-prev swiper-button"></div>
                    <div class="qureSlider-swiper-next  swiper-button-next swiper-button"></div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- result section end -- -->

<!-- -- futures skincare start -- -->
<div class="future_skincare fs_dark">
    <div class="fs-content">
        <div class="mw-455 mx-auto text-start">
            <h2 class="text-start">Feeling good in your skin is not a privilege —  it's a right.</h2>
            <p>At Qure, we're redefining beauty boundaries by making professional clinical treatments accessible
                to
                everyone from the comfort of peoples home—without the clinical price tag. </p>
            <a href="https://www.qureskincare.com/pages/our-story" target="_blank" class="future_btn">Our
                story</a>
        </div>
    </div>
    <div class="fs-img">
        <div class="fs-block">
            <img src="https://qureskincaredns.com/new/assets/future_s_5.webp" alt="" class="img-fluid">
        </div>
        <div class="fs-block">
            <img src="https://qureskincaredns.com/new/assets/future_s_6.webp" alt="" class="img-fluid">
        </div>
        <div class="fs-block">
            <img src="https://qureskincaredns.com/new/assets/future_s_7.webp" alt="" class="img-fluid">
        </div>
        <div class="fs-block">
            <img src="https://qureskincaredns.com/new/assets/future_s_8.webp" alt="" class="img-fluid">
        </div>
    </div>
    </section>

</div>
<!-- -- futures skincare end -- -->

<!-- -- skincare journey start -- -->
<div class="skincare_journey section">
    <div class="container">
        <div class="sj_grid">
            <div class="sj_header">
                <div class="section_header">
                    <h2 class="title-lg  mx-auto mb-0 mb-md-4">
                        Learn more and share your skincare journey
                    </h2>
                    <a target="_blank" href="https://m.facebook.com/groups/140594262121805/"
                        class="btn_black d-none d-md-inline-block mt-4">Join our skincare community</a>
                </div>
            </div>
            <div class="sj_content_wrap">
                <a target="_blank"
                    href="https://www.qureskincare.com/blogs/skin/does-drinking-water-help-clear-your-skin"
                    class="sj_item">
                    <div class="sj_img">
                        <img src="https://qureskincaredns.com/new/assets/popular_skin3.webp" alt="" class="img-fluid">
                    </div>
                    <div class="sj_content">
                        <div class="sj_info">#Skin
                        </div>
                        <div class="sj_title">Does Drinking Water Help Clear Your Skin?
                        </div>
                    </div>
                </a>
                <a target="_blank"
                    href="https://www.qureskincare.com/blogs/skincare/benefits-of-peptides-for-the-skin"
                    class="sj_item">
                    <div class="sj_img">
                        <img src="https://qureskincaredns.com/new/assets/popular_skincare2.webp" alt="" class="img-fluid">
                    </div>
                    <div class="sj_content">
                        <div class="sj_info">#Skincare
                        </div>
                        <div class="sj_title">Benefits of Peptides for the Skin
                        </div>
                    </div>
                </a>
                <a target="_blank"
                    href="https://www.qureskincare.com/blogs/light-therapy/how-led-therapy-can-transform-your-skin"
                    class="sj_item">
                    <div class="sj_img">
                        <img src="https://qureskincaredns.com/new/assets/popular_led1.webp" alt="" class="img-fluid">
                    </div>
                    <div class="sj_content">
                        <div class="sj_info">#LED Light Therapy
                        </div>
                        <div class="sj_title">How LED Therapy Can Transform Your Skin
                        </div>
                    </div>
                </a>
                <a target="_blank" href="https://m.facebook.com/groups/140594262121805/"
                    class="btn_black d-inline-block d-md-none">Join our skincare community</a>
            </div>
        </div>
    </div>
</div>
<!-- -- skincare journey end -- -->

<!-- -- solution form start -- -->
<div class="solution_form section">
    <div class="container">
        <div class="row">
            <h2 class="title-lg pb-2">Personalized solutions for your skin’s unique needs</h2>
            <p>Answer a few questions and we’ll tell you how to achieve your skincare goals.</p>
        </div>
        <form action="#" method="post">
            <div class="sf_form">
                <a href="https://www.qureskincare.com/pages/skin-consultation" type="submit"
                    class="btn form-btn">Claim Free Consultation</a>
            </div>
        </form>
    </div>
</div>
<!-- -- solution form start -- -->


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var swiper_press = new Swiper(".app_press_sl_img", {
            spaceBetween: 20,
            slidesPerView: 2.9,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            loop: true,
            breakpoints: {
                640: {
                    slidesPerView: 3.5,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 5,
                    spaceBetween: 20,
                    touchRatio: 0
                }
            },
        });
        var swiper_press2 = new Swiper(".app_press_sl_content", {
            spaceBetween: 10,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            loop: true,
            thumbs: {
                swiper: swiper_press,
            },
        });
        $('.thumbs img').click(function () {
            $('.largeImage').attr('src', $(this).attr('src').replace('thumb', 'large'));
            $(this).addClass('current').siblings().removeClass('current');
        });

        var swiper = new Swiper(".mySwiperTest", {
            spaceBetween: 10,
            slidesPerView: 2,
            freeMode: true,
            watchSlidesProgress: true,
            slidesPerView: 2,
            // grid: {
            //     rows: 2,
            // },
            grid: {
                rows: 2,
                fill: "row",
            },
            grabCursor: true,
            breakpoints: {
                768: {
                    spaceBetween: 16,
                }
            },
        });
        var swiper2 = new Swiper(".mySwiperTest2", {
            spaceBetween: 0,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            thumbs: {
                swiper: swiper,
            },
            grabCursor: true,
        });
    });
</script>