<!-- -- press slider app out start -- -->
{% comment %} <div class="app_press section">
    <div class="container">
        <div class="press_bl py-2">
            <div class="p_bl_header text-center p-0">
                <p>FEATURED IN</p>
            </div>
            <div class="app_press_slider">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                    class="swiper app_press_sl_content">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="app_subhheading">
                                "Changes you’ll see are positive ones, like plumper and more taut skin and an
                                improved skin tone."
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="app_subhheading">
                                "Changes you’ll see are positive ones, like plumper and more taut skin and an
                                improved skin tone."
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="app_subhheading">
                                "Changes you’ll see are positive ones, like plumper and more taut skin and an
                                improved skin tone."
                            </div>
                        </div>
                    </div>
                </div>
                <div thumbsSlider="" class="swiper app_press_sl_img">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="app_press_info">
                                <img src="https://qureskincaredns.com/new/assets/vogue-black.svg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="app_press_info">
                                <img src="https://qureskincaredns.com/new/assets/elle-black.svg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="app_press_info">
                                <img src="https://qureskincaredns.com/new/assets/cosmopolitan-black.svg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- -- press slider end -- -->

<!-- -- image with text start -- -->
{% comment %} <div class="imageText section">
    <div class="container">
        <div class="hollywood_skin mt-0">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="it_img pb-3 pb-md-0 pe-0 pe-md-5 mw-mob-100">
                        <img src="https://qureskincaredns.com/new/assets/chest_skincare_girl1.webp" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="it_info p-0 pt-0 pt-md-3">
                        <h2 class="title-lg mb-4 d-none d-md-block">Skincare shouldn’t stop at the face.</h2>
                        <h2 class="title-lg mb-4 d-block d-md-none pt-3">Skincare shouldn’t stop at the face.
                        </h2>
                        <p>Our <strong>safe, non-invasive skin rejuvenation</strong> LED treatment targets a
                            part of the skincare
                            routine many people overlook – the neck and décolletage. </p>

                        <p>This delicate area is actually where the <strong>first signs of aging show – thin
                                skin,
                                wrinkles, sun spots,</strong> age spots and more.
                        </p>
                        <p>Now, you can conveniently boost firmness, even skin tone and texture, plump fine
                            lines for youthful-looking neck and décolletage skin with our clinically-proven
                            portable, at-home LED light therapy treatment.</p>

                        <p>No trips to the clinic, and no pain, side effects, or down time. (Your low neckline
                            wardrobe will thank you for it!). </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- -- image with text end -- -->

<!-- -- 6 reasons section start -- -->
{% comment %} <div class="reasons section bg-transparent pb-0" id="reasons_section">
    <div class="container">
        <div class="row">
            <div class="reasons_wrapper reasons_wrapper_5 d-grid d-md-flex justify-content-between">
                <div class="rs_item">
                    <div class="r_use_img">
                        <img src="https://qureskincaredns.com/new/assets/chest_reason1.svg" alt="">
                    </div>
                    <div class="rs_item_content">
                        <p>Reduces fine lines & wrinkles</p>
                    </div>
                </div>
                <div class="rs_item">
                    <div class="r_use_img">
                        <img src="https://qureskincaredns.com/new/assets/chest_reason2.svg" alt="">
                    </div>
                    <div class="rs_item_content">
                        <p>Fades the appearance of pigmentation and dark spots</p>
                    </div>
                </div>
                <!-- <div class="rs_item">
                    <div class="r_use_img">
                        <img src="https://qureskincaredns.com/new/assets/chest_reason3.svg" alt="">
                    </div>
                    <div class="rs_item_content">
                        <p>Rejuvenates dark spots & sun damaged skin</p>
                    </div>
                </div> -->
                <div class="rs_item border-none">
                    <div class="r_use_img">
                        <img src="https://qureskincaredns.com/new/assets/chest_reason4.svg" alt="">
                    </div>
                    <div class="rs_item_content">
                        <p>Rejuvenates sun damaged skin and boosts firmness</p>
                    </div>
                </div>
                <div class="rs_item">
                    <div class="r_use_img">
                        <img src="https://qureskincaredns.com/new/assets/chest_reason5.svg" alt="">
                    </div>
                    <div class="rs_item_content">
                        <p>Promotes healthier, younger-looking skin
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- -- 6 reasons section end -- -->

<!-- -- result section start -- -->
{% comment %} <div class="result_s section result_s2">
    <div class="container">
        <div class="result_s_wrapper">
            <div class="swiper  dot_pagination result_slider_lp twa__swiper" id="twa__swiper-result_slider_lp"
                data-section-id="result_slider_lp" data-autoplay="false" data-loop="false"
                data-centerslide="false" data-mobile="1" data-tablet="2" data-desktop="2" data-spacing="60"
                data-arrowleft="result_slider_lp-swiper-prev" data-arrowright="result_slider_lp-swiper-next">
                <div class="swiper-wrapper justify-content-center1">
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="skincare_left">
                                <img src="https://qureskincaredns.com/new/assets/results2_neck_ashley.webp" alt="" class="img-fluid">
                                <div class="r_c_info">
                                    <div class="c_information">
                                        <div class="flag_img pe-2">
                                            <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                        </div>
                                        <p class="r_c_name pe-4">Ashley</p>
                                        <div class="verified_img pe-2">
                                            <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                        </div>
                                        <p>Verified customer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="skin_item_header">Fine Lines and Wrinkles
                            </div>
                            <div class="skincare_right">

                                <div class="ss_list py-0">
                                    <ul>
                                        <li>Uses skin-rejuvenating technology to <strong>reduce the appearance
                                                of wrinkles.</strong>
                                        </li>
                                        <li>Stimulates collagen for <strong>plumper, younger-looking</strong>
                                            skin.
                                        </li>
                                        <li>Promotes elastin production for tighter, <strong>firmer
                                                complexion.</strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="skincare_left">
                                <img src="https://qureskincaredns.com/new/assets/results2_neck_mary.webp" alt="" class="img-fluid">
                                <div class="r_c_info">
                                    <div class="c_information">
                                        <div class="flag_img pe-2">
                                            <img src="https://qureskincaredns.com/new/assets/australia_f.webp" alt="" class="img-fluid">
                                        </div>
                                        <p class="r_c_name pe-4">Mary R.M.</p>
                                        <div class="verified_img pe-2">
                                            <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                        </div>
                                        <p>Verified customer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="skin_item_header">Dark Spots & Sun Damage
                            </div>
                            <div class="skincare_right">

                                <div class="ss_list py-0">
                                    <ul>
                                        <li>Uses soothing anti-inflammatory benefits to <strong>reduce
                                                redness.</strong>
                                        </li>
                                        <li>Fades pigmentation & <strong>dark spots</strong> for more
                                            <strong>even skin tone.</strong>
                                        </li>
                                        <li>Helps heal sun damaged & hyper-pigmented skin for a <strong>radiant
                                                glow.</strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination_navigation">
                    <div class="swiper-pagination"></div>
                    <div class="result_slider_lp-swiper-prev swiper-button-prev swiper-button"></div>
                    <div class="result_slider_lp-swiper-next  swiper-button-next swiper-button"></div>

                </div>
            </div>

        </div>
    </div>
</div> {% endcomment %}
<!-- -- result section end -- -->


<!-- -- featured promotion start -- -->
{% comment %} <div class="featured_promotion">
    <div class="container">
        <div class="fp-wrapper">
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/free-shipping-ftr.svg" alt="">
                </div>
                <div class="fp_icon_text">
                    <p>Free Shipping </p>
                    <p>Orders Over $100</p>
                </div>
            </div>
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/buy-now-ftr.svg" alt="">
                </div>
                <div class="fp_icon_text">
                    <p>Buy Now,</p>
                    <p>Pay Later</p>
                </div>
            </div>
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/derma-ftr.svg" alt="">
                </div>
                <div class="fp_icon_text d-none d-md-block">
                    <p>Dermatologist Tested </p>
                    <p>&amp; Approved</p>
                </div>
                <div class="fp_icon_text d-block d-md-none">
                    <p>Dermatologist</p>
                    <p>Reviewed &amp; Approved</p>
                </div>
            </div>
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/science-ftr.svg" alt="">
                </div>
                <div class="fp_icon_text">
                    <p>Proven Results, </p>
                    <p>Backed by science</p>
                </div>
            </div>

        </div>
    </div>
</div> {% endcomment %}
<!-- -- featured promotion end -- -->


<!-- -- trusted section start -- -->
{% comment %} <div class="trusted_bl section pb-0 trustedVerified">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 order-2 order-lg-1">
                <div class="trusted_left mw-600">
                    <div class="section_header pt-0 mw-100">
                        <div class="trusted_verified"><img src="https://qureskincaredns.com/new/assets/verified_design.svg" alt="">
                            <p>Trusted and recommended by world leading Dermatologists</p>
                        </div>
                        <h2 class="title-lg">
                            <span style="color: #797D7C;">"LED light targets fibroblasts to</span> increase
                            collagen production <span style="color: #797D7C;">and has anti-aging
                                benefits especially if you are seeing</span> wrinkles and lines <span
                                style="color: #797D7C;">on your neck..."</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2">
                <div class="trusted_cl_m mb-2 mb-md-0">
                    <img src="https://qureskincaredns.com/new/assets/trusted_prem_shah_nd.webp" alt="" class="img-fluid t_m_img">
                    <div class="play_btn trustedVerified_Play">
                        <div>
                            <h5>Dr Shah & Dr Maxfield,</h5>
                            <h6> Board Certified Dermatologists</h6>
                        </div>
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=PkjrqiwLJkU"><span><img
                                    src="https://qureskincaredns.com/new/assets/trusted_play_sm.svg" alt="" class="">
                            </span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="trusted_wrapper pt-3">
            <div class="swiper dot_pagination trustedSwipper twa__swiper" id="twa__swiper-trustedSwipper"
                data-section-id="trustedSwipper" data-autoplay="false" data-loop="false"
                data-centerslide="false" data-mobile="1" data-tablet="3" data-desktop="3" data-spacing="20"
                data-arrowleft="trustedSwipper-swiper-prev" data-arrowright="trustedSwipper-swiper-next">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="trust_item">
                            <div class="trust_img">
                                <img src="https://qureskincaredns.com/new/assets/trusted_prem_nd.webp" alt="" class="img-fluid">
                                <div class="play_btn">
                                    <a class="popup-youtube">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <span
                                                    class="wistia_embed wistia_async_1s5ki0sb4c popover=true videoFoam=true"
                                                    style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                            </div>
                                            <span class="justify-content-center"><img
                                                    src="https://qureskincaredns.com/new/assets/trusted_play_md.svg" alt="" class="w-auto">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="trust_item_info">
                                <div class="result_content">
                                    <p>"Qure has all the right wavelengths for their face LED mask but they also
                                        have it fot their neck and dec. So you can maximize any treatment you
                                        are doing!”
                                    </p>
                                    <h6><strong>Dr Prem,</strong> Board Certified Facial Plastic Surgeon</h6>
                                </div>
                            </div>
                            <div class="trusted_tag_sm">
                                <img src="https://qureskincaredns.com/new/assets/trusted_play_esm.svg" alt="">661.8K Subscribers
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trust_item">
                            <div class="trust_img">
                                <img src="https://qureskincaredns.com/new/assets/trusted_zeitny_nd.webp" alt="" class="img-fluid">
                                <div class="play_btn">
                                    <a class="popup-youtube">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <span
                                                    class="wistia_embed wistia_async_fn1wr66mzp popover=true videoFoam=true"
                                                    style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                            </div>
                                            <span class="justify-content-center"><img
                                                    src="https://qureskincaredns.com/new/assets/trusted_play_md.svg" alt="" class="w-auto">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="trust_item_info">
                                <div class="result_content">
                                    <p>"This device helps me fight early signs of aging like fine lines, redness
                                        and discoloration. The red light can also boost the firmness of the skin
                                        and the device is so easy to use."
                                    </p>
                                    <h6><strong>Dr Zeitany,</strong> Certified Dermatologist</h6>
                                </div>
                            </div>
                            <div class="trusted_tag_sm">
                                <img src="https://qureskincaredns.com/new/assets/trusted_play_esm.svg" alt="">25.4K Followers
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trust_item">
                            <div class="trust_img">
                                <img src="https://qureskincaredns.com/new/assets/trusted_mona_nd.webp" alt="" class="img-fluid">
                                <div class="play_btn">
                                    <a class="popup-youtube">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <span
                                                    class="wistia_embed wistia_async_in5j96xz0d popover=true videoFoam=true"
                                                    style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                            </div>
                                            <span class="justify-content-center"><img
                                                    src="https://qureskincaredns.com/new/assets/trusted_play_md.svg" alt="" class="w-auto">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="trust_item_info">
                                <div class="result_content">
                                    <p>I personally suffer from tech neck from looking down at my phone. It also
                                        helps address other signs of aging such as wrinkles and
                                        hyperpigmentation.
                                    </p>
                                    <h6><strong>Dr Mona, </strong>Internal Medicine Doctor</h6>
                                </div>
                            </div>
                            <div class="trusted_tag_sm">
                                <img src="https://qureskincaredns.com/new/assets/trusted_play_esm.svg" alt="">21.4K Subscribers
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="trust_item">
                            <div class="trust_img">
                                <img src="https://qureskincaredns.com/new/assets/trusted_naiyri_nd.webp" alt="" class="img-fluid">
                                <div class="play_btn">
                                    <a class="popup-youtube">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <span
                                                    class="wistia_embed wistia_async_ha3jsau5v8 popover=true videoFoam=true"
                                                    style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                            </div>
                                            <span class="justify-content-center"><img
                                                    src="https://qureskincaredns.com/new/assets/trusted_play_md.svg" alt="" class="w-auto">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="trust_item_info">
                                <div class="result_content">
                                    <p>“I love Qure Skincare LED face mask, and I’m so happy they also have the
                                        neck and decolletage version so I can extend the LED light therapy down
                                        as well.
                                    </p>
                                    <h6><strong>Dr Nayiri,</strong> MD Resident Doctor</h6>
                                </div>
                            </div>
                            <div class="trusted_tag_sm">
                                <img src="https://qureskincaredns.com/new/assets/trusted_play_esm.svg" alt="">25.4K Followers
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination_navigation">
                    <div class="swiper-pagination"></div>
                    <div class="trustedSwipper-swiper-prev swiper-button-prev swiper-button"></div>
                    <div class="trustedSwipper-swiper-next  swiper-button-next swiper-button"></div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- -- trusted section end -- -->

<!-- -- result section start -- -->
{% comment %} <div class="result_s section mi_landing_result" id="result_section">
    <div class="container">
        <div class="section_header text-start text-md-center">
            <h2 class="title-lg">
                Results you‘ll see with your own eyes
            </h2>
        </div>
        <div class="result_s_wrapper">
            <div class="swiper dot_pagination result_slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_claudia.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/canada_f.svg" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Claudia</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Healthier-looking glow</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in Canada</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I was shocked seeing my before and after photos!! I didn’t realise how
                                        much my skin improved. I feel so much more confident wearing open tops
                                        now. My skin looks much more even, less red and all round healthier.
                                        Happy I invested into this device and would definitely recommend it to
                                        everyone :)”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_sophia.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/australia_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Sophia. N</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>From sun damage to this</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in Australia</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“After years damage from the strong Aussie sun I wanted to try LED
                                        therapy to help rejuvenate and repair my decollate area as I read lots
                                        of positive reviews on it. I’m so glad I did because after using it
                                        daily, I've witnessed this transformation!!! Skin is firmer, sunspots
                                        have faded and texture is so much smoother!! ”

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_ashley.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Ashley</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>My first aging signs </p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I’ve always taken care of my face but neglected my neck and chest skin
                                        so I’ve made it a top priority in the past year. Since using LED
                                        regularly, the pesky fine lines in the middle of my chest are so much
                                        smoother and my skin looks youthful again! I love how this qure device
                                        has LEDs placed in the centre of the chest unlike other devices."
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_marry.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Mary R.M.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Outstanding</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I’m so impressed with the results! I noticed a difference after a few
                                        weeks however when comparing photos I am so surprised at how much
                                        younger the skin on my neck and chest looks. Wrinkles have significantly
                                        reduced, sun spots are lighter and my skin looks and feels more
                                        rejuvenated. Device is easy to use, I love that I can clip the
                                        controller to my robe and multitask around the house whilst the
                                        treatment is on."
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_josie1.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Josie</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Stubborn inflammation </p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“After struggling with acne and the stubborn pigmentation it left behind,
                                        I'm thrilled with the results I've seen after using Qure LED chest
                                        device. My skin is clearer, and the pigmentation has significantly
                                        faded. The most important, I don’t have to cover my neck and chest with
                                        foundations and concealers anymore”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination_navigation">
                    <div class="swiper-pagination"></div>
                    <div class="qureSlider-swiper-prev swiper-button-prev swiper-button"></div>
                    <div class="qureSlider-swiper-next  swiper-button-next swiper-button"></div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- -- result section end -- -->

<!-- -- technology light start -- -->
<div class="technology_light section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="section_header text-start">
                    <h2 class="title-lg paddingB">Technology light years ahead of the game</h2>
                    <p>This device features LED lights placed in the center of the chest where most fine lines
                        appear. </p>
                    <p>Our LED uses clinical-grade technology to deliver safe, concentrated wavelengths deep
                        into the layers of the skin where even the best creams and serums can’t reach. That’s
                        where the magic happens.</p>
                </div>
                <div class="accordion accordion-flush" id="accordionTechnology">
                    <div class="accordion-item u_item_question bg-grey">
                        <h2 class="accordion-header u_item_expandable bg-grey">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#t_item_accordion_1" aria-expanded="false"
                                aria-controls="t_item_accordion_1">
                                <div class="containers">Technical specifications</div>
                            </button>
                        </h2>
                        <div id="t_item_accordion_1" class="accordion-collapse collapse"
                            data-bs-parent="#accordionTechnology">
                            <div class="accordion-body">
                                <div class="containers">
                                    <p><span>TREATMENT TIME:</span> 10 minutes </p>
                                    <p><span>CHARGING TIME:</span> 4 hours</p>
                                    <p><span>USE:</span> 5-7 times per week</p>
                                    <p><span>WAVELENGTH:</span> 633nm (Red), 830nm (Near-Infrared)</p>
                                    <p><span>LEDs:</span> 55 dual core</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item u_item_question bg-grey">
                        <h2 class="accordion-header u_item_expandable bg-grey">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#t_item_accordion_2" aria-expanded="false"
                                aria-controls="t_item_accordion_2">
                                <div class="containers">What’s included</div>
                            </button>
                        </h2>
                        <div id="t_item_accordion_2" class="accordion-collapse collapse"
                            data-bs-parent="#accordionTechnology">
                            <div class="accordion-body">
                                <div class="containers">
                                    <p>Neck & Decolletage LED device</p>
                                    <p>Adjustable strap</p>
                                    <p>Universal USB charging cable</p>
                                    <p>User manual & Guide</p>
                                    <p>Luxury Storage bag</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="tl_img text-center pt-5 pt-md-0">
                    <img src="https://qureskincaredns.com/new/assets/technology_light.webp" alt="" class="img-fluid">
                </div>
                <div class="tl_content d-grid pt-5">
                    <div class="tl_info_wrap pt-2 pt-md-0 pb-4 pb-md-5">
                        <div class="tl_info">
                            <div class="tl_box tl_red"></div>
                            <p>Addresses premature skin ageing</p>
                        </div>
                        <div class="tl_info">
                            <div class="tl_box tl_purple"></div>
                            <p>Renews and nourishes skin </p>
                        </div>
                    </div>
                    <p>Your skin absorbs the natural light, kickstarting production
                        of elastin, collagen, and
                        fibroblasts – known to <strong>enhance skin firmness and smoothness.</strong> It’s truly
                        working
                        to
                        repair and rejuvenate your skin from the inside out!
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- -- technology light end -- -->


<!-- -- how to use start -- -->
<div class="howUseSection section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="section_header d-block d-md-none">
                    <h2 class="title-lg">How to use</h2>
                </div>
                <div class="howUseSection_bl pe-md-5">
                    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                        class="swiper howUse_img">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="https://qureskincaredns.com/new/assets/chest_use11.webp" class="img-fluid">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://qureskincaredns.com/new/assets/chest_use22.webp" class="img-fluid">
                            </div>
                            <div class="swiper-slide">
                                <img src="https://qureskincaredns.com/new/assets/chest_use33.webp" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section_header d-none d-md-block">
                    <h2 class="title-lg">How to use</h2>
                </div>
                <div thumbsSlider="" class="swiper howUse_slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <h6 class="d-none d-md-block">Prepare & set</h6>
                            <h6 class="d-block d-md-none">Prepare</h6>
                        </div>
                        <div class="swiper-slide">
                            <h6 class="d-none d-md-block">Quick Start</h6>
                            <h6 class="d-block d-md-none">Start Treatment</h6>
                        </div>
                        <div class="swiper-slide">
                            <h6>Aftercare</h6>
                        </div>
                    </div>
                </div>
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                    class="swiper howUse_info dot_pagination">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <p>Cleanse and dry your skin to prepare it for ultimate LED light absorption.</p>
                            <p>Secure the device around your neck using the adjustable velcro straps. </p>
                        </div>
                        <div class="swiper-slide">
                            <p>Press & hold to start your 10-minute treatment. </p>
                            <p>With a hands-free controller & clip-on, you can either relax or go about your
                                day. </p>
                        </div>
                        <div class="swiper-slide">
                            <p>The device will automatically shut off after 10 minutes.</p>
                            <p>Remove the device and gently wipe it down.</p>
                            <p>Follow up with your normal skincare routine. That’s it!</p>
                        </div>
                    </div>
                    <div class="pagination_navigation mt-3 mt-md-5">
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev swiper-button"></div>
                        <div class="swiper-button-next swiper-button"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- how to use end -- -->


<!-- -- featured promotion start -- -->
<div class="featured_promotion featured_promotion2">
    <div class="container">
        <div class="fp-wrapper">
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/anti-aging.svg" alt="">
                </div>
                <div class="fp_icon_text">
                    <p>Anti-aging & suitable for all skin types</p>
                </div>
            </div>
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/8-weeks.svg" alt="">
                </div>
                <div class="fp_icon_text">
                    <p>Pain-free results in less than 8 weeks</p>
                </div>
            </div>
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/hassle-free.svg" alt="">
                </div>
                <div class="fp_icon_text d-none d-md-block">
                    <p>Hassle-free clip perfect for multi-tasking</p>
                </div>
                <div class="fp_icon_text d-block d-md-none">
                    <p>Dermatologist</p>
                    <p>Reviewed &amp; Approved</p>
                </div>
            </div>
            <div class="fp_item">
                <div class="fp_icon">
                    <img src="https://qureskincaredns.com/new/assets/natural-skincare.svg" alt="">
                </div>
                <div class="fp_icon_text">
                    <p>Natural, fast working, chemical-free treatment</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- -- featured promotion end -- -->


<!-- -- beauty clinical start -- -->
<div class="beauty_skincare section bg-white">
    <div class="container">
        <div class="section_header text-start text-md-center mw-765 mb-3">
            <h2 class="title-lg paddingB">
                Hello beautiful skin, goodbye clinical costs
            </h2>
            <p>Are you ready to enjoy the same technology used in clinics, without the price tag or hassle? </p>
            <p>Get that professional-looking result from the comfort of your own home – for a fraction of what
                you’d pay elsewhere.</p>
        </div>
        <div class="bs_grid">
            <div class="bs_item">
                <div class="bs_img">
                    <img src="https://qureskincaredns.com/new/assets/chest_beauty_11.webp" alt="" class="img-fluid beauty_img">
                </div>
                <div class="bs_content">
                    <h4 class="d-none d-md-block">Qure Neck & Décolletage LED </h4>
                    <h4 class="d-block d-md-none">Qure Neck & <br>Décolletage LED </h4>
                    <div class="bs_price">
                        <h5>$299</h5>
                        <p>one time-cost</p>
                    </div>
                </div>
                <div class="bs_feature correctCircle">
                    <ul class="rightCircle">
                        <li>Complete in just 10 minutes</li>
                        <li>Comfortable & convenient at home</li>
                        <li>Unlimited treatments & maintenance</li>
                        <li>Only one-time payment</li>
                    </ul>
                </div>
            </div>
            <div class="bs_vs_item">
                <div class="bs_versace">
                    <span>vs</span>
                </div>
            </div>
            <div class="bs_item">
                <div class="bs_img">
                    <img src="https://qureskincaredns.com/new/assets/chest_beauty_2.webp" alt="" class="img-fluid" style="filter:grayscale()">
                </div>
                <div class="bs_content">
                    <h4 class="d-none d-md-block">Derm/ Clinic Treatments </h4>
                    <h4 class="d-block d-md-none">Derm/ Clinic<br>Treatments </h4>
                    <div class="bs_price">
                        <h5><strong>$1,200 +</strong></h5>
                        <p>yearly cost*</p>
                    </div>
                </div>
                <div class="bs_feature incorrectCircle">
                    <ul class="wrongCircle">
                        <li>Time-consuming commute to clinic</li>
                        <li>According to clinic’s availability</li>
                        <li>Limited treatments</li>
                        <li>Ongoing payments required</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- beauty clinical start -- -->



<script src="https://fast.wistia.com/embed/medias/3ahwzg8wjz.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>