<!-- -- trusted section start -- -->
<div class="trusted_bl section">
    <div class="trusted_cl bg_clr_transparent">
        <div class="container">
            <div class="section_header text-start  d-block d-lg-none">
                <h2 class="title-lg">
                    The dermatologist's choice for safety and effectiveness…
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="trusted_cl_m mb-2 mb-md-0">
                        <img src="https://qureskincaredns.com/new/assets/trusted_anthony_main.webp" alt="" class="img-fluid t_m_img">
                        <div class="play_btn">
                            <!-- <a class="popup-youtube"
                                href="https://www.youtube.com/watch?v=JPWycy8cwN8"><span><img
                                        src="https://qureskincaredns.com/new/assets/trusted_play_sm.svg" alt="" class="">
                                    <h6>Watch Video</h6>
                                </span></a> -->

                            <a class="popup-youtube"
                                href="https://www.youtube.com/watch?v=gGVKgTHloXw"><span><img
                                        src="https://qureskincaredns.com/new/assets/trusted_play_sm.svg" alt="" class="">
                                    <h6>Watch Review</h6>
                                </span></a>
                        </div>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-6">
                    <div class="trusted_left">
                        <div class="section_header d-none d-lg-block pt-0">
                            <h2 class="title-lg">
                                The dermatologist's choice for safety and effectiveness…
                            </h2>
                        </div>
                        <div class="t_c_wrapper">
                            <div class="t_c_info mb-3 d-flex">
                                <p class="d-block d-md-none">"The Qure’s System is the closest thing that
                                    you can get to
                                    bringing your
                                    aesthetician home with you!"
                                </p>
                                <div class="c_img">
                                    <img src="https://qureskincaredns.com/new/assets/cl_anthony.webp" alt="">
                                </div>
                                <div class="c_desc ps-2">
                                    <p class="d-none d-md-block">"The Qure’s System is the closest thing that
                                        you can get to
                                        bringing your
                                        aesthetician home with you!"
                                    </p>
                                    <h6><span>Dr Anthony Youn,</span><br> Board-Certified Plastic Surgeon</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="mw-546 mx-auto mt-4 d-block d-md-none">
                <a href="https://www.qureskincare.com/pages/qurify-offer#shop"
                    class="btn btn-lg btn-primary buy_btn">Choose Your Treatment
                </a>
            </div>
        </div>
    </div>
</div>
<!-- -- trusted section end -- -->

<!-- -- safest way start -- -->
<div class="safest_way section">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-6">
                <div class="section_header">
                    <h2 class="title-lg paddingB d-none d-md-block">The safest way to microneedle at home…</h2>
                    <h2 class="title-lg paddingB d-block d-md-none">The safest way to “stamp your skin” at home…
                    </h2>
                    <p class="pb-4">Qure Micro-Infusion system is designed to be as <strong>safe, sterile and,
                            painless as
                            possible.</strong>
                        Each 24k gold plated microneedle head is single use, <strong>limiting any risk of
                            infection.</strong></p>
                    <p>Bypass your skin’s outer defensive layer and stamp your way to younger looking skin.</p>
                </div>
                <div class="safest_way_img d-block d-md-none mb-5">
                    <img src="https://qureskincaredns.com/new/assets/safeest_way.webp" alt="" class="img-fluid">
                </div>
                <div class="trusted_cl bg_clr_transparent p-0">
                    <div class="t_c_info mb-3 d-flex">
                        <p class="d-block d-md-none">"It’s an amazing 5-minute facial with minimal to no
                            downtime! I absolutely
                            love this. Ten out of ten from me."
                        </p>
                        <div class="c_img">
                            <img src="https://qureskincaredns.com/new/assets/cl_doireann.webp" alt="" class="img-fluid">
                        </div>
                        <div class="c_desc ps-2">
                            <p class="d-none d-md-block">"It’s an amazing 5-minute facial with minimal to no
                                downtime! I absolutely
                                love this. Ten out of ten from me."
                            </p>
                            <h6><span>Dr Doireann O’Leary,</span><br> Medical Doctor</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="safest_way_img ps-md-5 d-none d-md-block">
                    <img src="https://qureskincaredns.com/new/assets/safeest_way.webp" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="safest_way_ftr">
            <div class="safest_way_item">
                <img src="https://qureskincaredns.com/new/assets/sw_1.webp" alt="" class="img-fluid">
                <p>Built-in safety mechanism for <strong>safe and even stamping</strong> and effortless 5-minute
                    treatments</p>
            </div>
            <div class="safest_way_item">
                <img src="https://qureskincaredns.com/new/assets/sw_2.webp" alt="" class="img-fluid">
                <p>Sterile 24k gold plated <strong>disposable needleheads</strong> for better hygiene and safety
                </p>
            </div>
            <div class="safest_way_item">
                <img src="https://qureskincaredns.com/new/assets/sw_3.webp" alt="" class="img-fluid">
                <p>Almost painless with <strong>minimal downtime</strong></p>
            </div>
        </div>
    </div>
</div>
<!-- -- safest way start -- -->


<!-- Comparison Section table start -->
<div class="bg-white comparison-section section anti_comparison-section">
    <div class="section_header text-md-center mb-3 px-4">
        <h2 class="title-lg d-none d-md-block pb-2">Why choose Qure?</h2>
        <h2 class="title-lg d-block d-md-none pb-2">
            Why choose Qure?
        </h2>

    </div>
    <div class="container">
        <div class="comparison_row--main">
            <div class="comparison-row border-0">
                <div class="row g-0">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <div class="row g-0">
                            <div class="col-md-3 col-6">
                                <div class="comp-col comp_hdr bg-default py-0">
                                    <div class="comp_mask_img">
                                        <img src="https://qureskincaredns.com/new/assets/compare_micro.webp" alt="" class="img-fluid">
                                        <h6>Qure</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 col-6">
                                <div class="comp-col comp_hdr py-0">
                                    <div class="comp_mask_img">
                                        <img src="https://qureskincaredns.com/new/assets/face_cream.png" alt="" class="img-fluid">
                                        <h6 class="comp_mask--text">Face Creams</h6>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comparison_row-main">
            <div class="comparison-row">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="comp-col comp-row__text-wrapper">
                            <div class="comp-row__title pt-md-4 pt-2">More effective than topical treatments
                            </div>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row g-0 h-100">
                            <div class="col-md-3 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center bg-default">
                                    <span class="g__checkBox"></span>
                                </div>
                            </div>
                            <div class="col-md-9 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center pt-md-4 pt-2">
                                    <span class="cross__checkBox"></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="comparison-row">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="comp-col comp-row__text-wrapper">
                            <div class="comp-row__title">Penetrates the skin barrier</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row g-0 h-100">
                            <div class="col-md-3 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center bg-default">
                                    <span class="g__checkBox"></span>
                                </div>
                            </div>
                            <div class="col-md-9 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center">
                                    <span class="cross__checkBox"></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="comparison-row">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="comp-col comp-row__text-wrapper">
                            <div class="comp-row__title">Deliver ingredients deep into the skin</div>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row g-0 h-100">
                            <div class="col-md-3 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center bg-default">
                                    <span class="g__checkBox"></span>
                                </div>
                            </div>
                            <div class="col-md-9 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center">
                                    <span class="cross__checkBox"></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="comparison-row">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="comp-col comp-row__text-wrapper">
                            <div class="comp-row__title">Visible results after one treatment</div>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row g-0 h-100">
                            <div class="col-md-3 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center bg-default">
                                    <span class="g__checkBox"></span>
                                </div>
                            </div>
                            <div class="col-md-9 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center">
                                    <span class="cross__checkBox"></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="comparison-row">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="comp-col comp-row__text-wrapper">
                            <div class="comp-row__title">Only takes 5 minutes</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row g-0 h-100">
                            <div class="col-md-3 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center bg-default">
                                    <span class="g__checkBox"></span>
                                </div>
                            </div>
                            <div class="col-md-9 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center">
                                    <span class="cross__checkBox"></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="comparison-row">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="comp-col comp-row__text-wrapper">
                            <div class="comp-row__title pb-md-4 pb-2">Reviewed by dermatologists</div>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row g-0 h-100">
                            <div class="col-md-3 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center bg-default rounded-0">
                                    <span class="g__checkBox"></span>
                                </div>
                            </div>
                            <div class="col-md-9 col-6">
                                <div
                                    class="comp-col comp_col-check d-flex align-items-center justify-content-center pb-md-4 pb-2">
                                    <span class="g__checkBox"></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="get_confident-btn mw-452 mx-auto">
            <a class="btn btn-lg btn-primary buy_btn" href="#new-landing-purchase">Try It Now</a>
        </div>
    </div>
</div>
<!-- Comparison Section table end -->

<!-- -- result section start -- -->
<div class="result_s section mi_landing_result" id="result_section">
    <div class="container">
        <div class="section_header text-start text-md-center">
            <h2 class="title-lg d-md-block d-none">
                Results you‘ll see with your own eyes
            </h2>
            <h2 class="title-lg d-md-none">
                Real Women. Real Results.
            </h2>
        </div>
        <div class="result_s_wrapper">
            <div class="swiper dot_pagination result_slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_glorija.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/australia_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Glorija</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Best natural glow</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in Australia</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I was hesitant at first as I didn’t know how much it would hurt but to
                                        my
                                        surprise it was pretty painless. The 2nd day after the treatment, my
                                        skin
                                        has the best natural glow! I was also happy to to see how much my
                                        pigmentation had lightened after
                                        3rd
                                        treatment :) I switch between the serums depending on how my skin is
                                        before
                                        the treatment.”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_ellie.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Ellie V.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>My skin RETURNED to LIFE!</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I just turned 57 years. My skin was extremely dry and while using this
                                        product my skin RETURNED to LIFE! I am so impressed with it! My
                                        Coworkers ask me what I use in my skin.. and I tell them. Product easy
                                        to use and the needles are better that using a pen for microneedling.
                                        This is an amazing product that you will not regret in purchasing it. I
                                        really see the change in my skin. Outstanding job QURE!”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_mona.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Mona P.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Fade after just two treatments</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I personally think my products absorbed better, my skin looks a bit
                                        brighter and that larger acne scar on my right cheek has started to fade
                                        after just TWO treatments!”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_ela.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Ela O.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Shocked at the results</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“Shocked at the results after just one treatment!
                                        I’m not one to usually leave reviews... but I was shocked at how my skin
                                        looked the morning after my first treatment!</p>
                                    <p>Texture was soooo much smoother, my skin looked clear, glowy and healthy.
                                        The system was so easy to use and I can’t wait until my next treatment.”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_ann.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/australia_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Ann</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>I LOVE the results</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in Australia</p>
                                </div>
                                <div class="verified_img">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I heard about micro-infusion in clinics but couldn’t afford to fork out
                                        hundreds of dollars for a treatment. So when I saw this online I jumped
                                        at buying it instantly. Yes, it doesn’t stamp in botox and filler BUT
                                        personally I LOVE the results and how easy it is to use myself at home.
                                        It works great for my skin, I have noticed my skin texture is much
                                        smoother and brighter.”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_chelsea.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Chelsea J.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Amazing results!</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>"Amazing results. I am just in shock at how great my skin is looking.
                                        This stuff has been amazing for hyperpigmentation and also some hormonal
                                        cystic acne. I will be continuing to support this business because it
                                        has brought the skin I know back. I was at my wits end with a hormonal
                                        breakout and bad hyperpigmentation."
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_jess1.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Jess</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>IT REALLY WORKS!!</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I committed to the 3 month saver bundle and after 6 treatments (2 weeks
                                        apart) I’m SO happy with the results!!! My pores are smaller and I have
                                        mainly noticed a difference in my skin texture. My skin goes a little
                                        red straight after the treatment but that quickly
                                        goes away. It’s a little uncomfortable when I do it on my forehead but
                                        it’s fine everywhere else. Totally worth it!!!”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_akina.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Akina M.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>I love this product</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I used three time so far. I can see the results from first time I used.
                                        I love this product but only thing is it’s take time to apply till used
                                        all serum per application. I tried many different way to press to my
                                        skin so the serum come out more but then a lot of time not.”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_andrea-a.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Andrea A.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Absolutely love it!</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I have used many topicals to help with post acne marks. This
                                        micro-infusion system has given me the most consistent results.
                                        Absolutely love it!”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_priya.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/england_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Priya P.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Plumper, more hydrated!</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United Kingdom</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“After the first use of EGF, my skin was plumper, more hydrated and skin
                                        tone improved radically, literally the next day. Love this product, will
                                        definitely be purchasing more as its really helped smooth out the fine
                                        lines also”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_andrea-g.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Andrea G.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Definitely be re-ordering</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“Still a newbie but so far so great! I have dermarolled for more than a
                                        decade -still do with .25 at least one a week. I’ve avoided getting a
                                        pen because there’s so much involved- but the Qure system is just
                                        awesome. So easy and user friendly and my skin loves the serum! Doing my
                                        third treatment Saturday and will definitely be re-ordering 🤗
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_ramandeep.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Ramandeep</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>I definitely see a difference</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in Michigan</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I have done 2 treatments - 1 for rejuvenating and 2 for hydration with 3
                                        week gap in between treatments. I definitely see a difference in before
                                        and after pictures. I am sure I need 4-8 more treatments but this did
                                        make a difference.”
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination_navigation">
                    <div class="swiper-pagination"></div>
                    <div class="qureSlider-swiper-prev swiper-button-prev swiper-button"></div>
                    <div class="qureSlider-swiper-next  swiper-button-next swiper-button"></div>
                </div>
            </div>
        </div>
        <div class="get_confident-btn mw-452 mx-auto">
            <a class="btn btn-lg btn-primary buy_btn" href="#new-landing-purchase">Experience The Difference</a>
        </div>
        <div class="d-flex justify-content-center align-items-center pt-5 gap-3">
            <div class="progressCont">
                <p><span class="progressWrapper">
                        <span class="progessInfo text-dark">90%</span>
                        <svg class="vMQQx" height="77" width="77" viewBox="-29 -29 58 58">
                            <defs>
                                <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                    <stop offset="0%" stop-color="#C7E7DC"></stop>
                                    <stop offset="100%" stop-color="#C7E7DC"></stop>
                                </linearGradient>
                            </defs>
                            <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100" class="K4v4P"
                                r="24" style="stroke-width: 1px;"></circle>
                            <circle visibility="visible" fill="none" pathLength="100" transform="rotate(-90)"
                                class="OKwUu" r="24" stroke="url(#gradient)"
                                style="stroke-dasharray: 100; stroke-dashoffset: 10; stroke-width: 5px;">
                            </circle>
                        </svg>
                    </span>
                </p>
            </div>
            <p>Reported their skin looked better <br>after Micro-Infusion treatments.</p>
        </div>
    </div>
</div>
<!-- -- result section end -- -->

<!-- Video blocks -->
<div class="section videosQure">
    <div class="container">
        <div class="section_header text-start text-md-center mb-3">
            <h2 class="title-lg">
                Confident skin starts here
            </h2>
        </div>
        <div class="videoInfo">
            <div class="swiper twa__swiper qureSlider dot_pagination" id="twa__swiper-qureSliderVideo"
                data-section-id="qureSliderVideo" data-autoplay="false" data-loop="false"
                data-centerslide="false" data-mobile="1.7" data-tablet="6" data-desktop="6" data-spacing="10"
                data-arrowleft="qureSliderVideo-swiper-prev" data-arrowright="qureSliderVideo-swiper-next">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="player">
                            <video poster="https://qureskincaredns.com/new/assets/videosQure_img7.webp" class="player__video viewer"
                                src="https://cdn.shopify.com/videos/c/o/v/8eecfa9e425c4fde9e8f70da1a50e313.mp4"></video>
                            <div class="player__controls">
                                <div class="progress">
                                    <div class="progress__filled"></div>
                                </div>
                                <button class="player__button toggle" title="Toggle Play">►</button>
                                <input type="range" name="volume" class="player__slider" min="0" max="1"
                                    step="0.05" value="1">
                                <input type="range" name="playbackRate" class="player__slider" min="0.5" max="2"
                                    step="0.1" value="1">
                                <button data-skip="-10" class="player__button">« 10s</button>
                                <button data-skip="25" class="player__button">25s »</button>
                                <button class="player__button player__fullscreen">⧉</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="videosQure_exernal">
                            <div class="wistia_responsive_padding" style="position:relative;">
                                <div class="wistia_responsive_wrapper"
                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_0criczgmgg seo=false videoFoam=true"
                                        style="height:100%;position:relative;width:100%">
                                        <div class="wistia_swatch"
                                            style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                            <img src="https://fast.wistia.com/embed/medias/0criczgmgg/swatch"
                                                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                alt="" aria-hidden="true"
                                                onload="this.parentNode.style.opacity=1;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="videosQure_exernal">
                            <div class="wistia_responsive_padding" style="position:relative;">
                                <div class="wistia_responsive_wrapper"
                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_n9cn2onbem seo=false videoFoam=true"
                                        style="height:100%;position:relative;width:100%">
                                        <div class="wistia_swatch"
                                            style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                            <img src="https://fast.wistia.com/embed/medias/n9cn2onbem/swatch"
                                                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                alt="" aria-hidden="true"
                                                onload="this.parentNode.style.opacity=1;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="player">
                            <video poster="https://qureskincaredns.com/new/assets/videosQure_img10.webp" class="player__video viewer"
                                src="https://cdn.shopify.com/videos/c/o/v/71857fdec6b0497294117ed84cab480e.mp4"></video>
                            <div class="player__controls">
                                <div class="progress">
                                    <div class="progress__filled"></div>
                                </div>
                                <button class="player__button toggle" title="Toggle Play">►</button>
                                <input type="range" name="volume" class="player__slider" min="0" max="1"
                                    step="0.05" value="1">
                                <input type="range" name="playbackRate" class="player__slider" min="0.5" max="2"
                                    step="0.1" value="1">
                                <button data-skip="-10" class="player__button">« 10s</button>
                                <button data-skip="25" class="player__button">25s »</button>
                                <button class="player__button player__fullscreen">⧉</button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="player">
                            <video poster="https://qureskincaredns.com/new/assets/videosQure_img11.webp" class="player__video viewer"
                                src="https://cdn.shopify.com/videos/c/o/v/63d872e61dac42fd9e5ff1c04c1ae1d5.mp4"></video>
                            <div class="player__controls">
                                <div class="progress">
                                    <div class="progress__filled"></div>
                                </div>
                                <button class="player__button toggle" title="Toggle Play">►</button>
                                <input type="range" name="volume" class="player__slider" min="0" max="1"
                                    step="0.05" value="1">
                                <input type="range" name="playbackRate" class="player__slider" min="0.5" max="2"
                                    step="0.1" value="1">
                                <button data-skip="-10" class="player__button">« 10s</button>
                                <button data-skip="25" class="player__button">25s »</button>
                                <button class="player__button player__fullscreen">⧉</button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="swiper-slide">
                        <div class="videosQure_exernal">
                            <div class="wistia_responsive_padding" style="position:relative;">
                                <div class="wistia_responsive_wrapper"
                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_albsf16uog seo=false videoFoam=true"
                                        style="height:100%;position:relative;width:100%">
                                        <div class="wistia_swatch"
                                            style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                            <img src="https://fast.wistia.com/embed/medias/albsf16uog/swatch"
                                                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                alt="" aria-hidden="true"
                                                onload="this.parentNode.style.opacity=1;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="swiper-slide">
                        <div class="videosQure_exernal">
                            <div class="wistia_responsive_padding" style="position:relative;">
                                <div class="wistia_responsive_wrapper"
                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_33rxuxyuw4 seo=false videoFoam=true"
                                        style="height:100%;position:relative;width:100%">
                                        <div class="wistia_swatch"
                                            style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                            <img src="https://fast.wistia.com/embed/medias/33rxuxyuw4/swatch"
                                                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                alt="" aria-hidden="true"
                                                onload="this.parentNode.style.opacity=1;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="get_confident-btn mw-452 mx-auto d-md-block d-none">
            <a class="btn btn-lg btn-primary buy_btn" href="#new-landing-purchase">Join Thousands Of Women</a>
        </div>
    </div>
</div>
<!-- Video blocks end-->

<!-- -- get compliment worthy skin start -- -->
<div class="affect_skin section affect_howToUse">
    <div class="dsn-right-container">
        <div class="section_header ms-0 d-block d-md-none">
            <h2 class="title-lg paddingB">How to use Qure’s Micro-Infusion System</h2>
        </div>
        <div class="video_with_slide justify-content-end">
            <div class="actVideo_block">
                <div class="ctmVideo__block">
                    <div class="player">
                        <video poster="https://qureskincaredns.com/new/assets/demo.png" width="640" height="264"
                            class="player__video viewer video-js ctmVideo-js"
                            src="https://cdn.shopify.com/videos/c/o/v/ceec5349f67d4c0787fe34201dfe5300.mp4"></video>
                        <div class="player__controls">
                            <div class="progress">
                                <div class="progress__filled"></div>
                            </div>
                            <button class="player__button toggle" title="Toggle Play">►</button>
                            <input type="range" name="volume" class="player__slider" min="0" max="1" step="0.05"
                                value="1">
                            <input type="range" name="playbackRate" class="player__slider" min="0.5" max="2"
                                step="0.1" value="1">
                            <button data-skip="-10" class="player__button">« 10s</button>
                            <button data-skip="25" class="player__button">25s »</button>
                            <button class="player__button player__fullscreen">⧉</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="affect_skinContent">
                <div class="section_header ms-0 d-none d-md-block">
                    <h2 class="title-lg paddingB">How to use Qure’s Micro-Infusion System</h2>
                    <p>Qure’s Micro-Infusion System is simple and intuitive to use.</p>
                </div>
                <div class="get_compliment_wrap">
                    <div class="tab-content" id="pills-tabContent1">
                        <div class="tab-pane fade active show" id="pills-specs" role="tabpanel"
                            aria-labelledby="pills-specs-tab">
                            <div class="gc_img_wrap">
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp1.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp2.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp10.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp3.webp">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-quick" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <div class="gc_img_wrap">
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp2.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp10.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp3.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp1.webp">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-customize" role="tabpanel"
                            aria-labelledby="pills-customize-tab">
                            <div class="gc_img_wrap">
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp10.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp3.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp1.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp2.webp">
                                </div>
                            </div>
                        </div>
                        {% comment %} <div class="tab-pane fade" id="pills-storage" role="tabpanel"
                            aria-labelledby="pills-customize-tab">
                            <div class="gc_img_wrap">
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp3.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp1.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp2.webp">
                                </div>
                                <div class="gc_img">
                                    <img src="https://qureskincaredns.com/new/assets/howUse_pdp10.webp">
                                </div>
                            </div>
                        </div> {% endcomment %}
                    </div>
                    <ul class="nav nav-pills" id="pills-tab-skin" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-specs-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-specs" type="button" role="tab"
                                aria-controls="pills-specs" aria-selected="true">Prepare</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-quick-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-quick" type="button" role="tab"
                                aria-controls="pills-quick" aria-selected="false">Treatment</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-customize-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-customize" type="button" role="tab"
                                aria-controls="pills-customize" aria-selected="false">Aftercare</button>
                        </li>
                        {% comment %} <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-customize-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-storage" type="button" role="tab"
                                aria-controls="pills-customize" aria-selected="false">Storage</button>
                        </li> {% endcomment %}
                    </ul>
                    <div class="tab-content" id="pills-tabContent2">
                        <div class="tab-pane fade show active" id="pills-specs" role="tabpanel"
                            aria-labelledby="pills-specs-tab">
                            <p>Twist open the chamber of the device and fill with one ampule of serum. <br>Twist
                                on needle head with lid to close it tight.
                            </p>
                            <p>Leave the device upside down for 1-2 minutes. <br>During this time, wash your
                                face and make sure your hands are clean.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-quick" role="tabpanel"
                            aria-labelledby="pills-quick-tab">
                            <p>Once the serum has had enough time to make its way into the needles, you can take
                                off the lid and start micro-infusing!</p>
                            <p>Start at the centre of the face and work your way outward to cover the full face.
                                Perform 2/3 passes. Take any leftover serum from the device and pat it onto your
                                face and neck to leave on overnight.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-customize" role="tabpanel"
                            aria-labelledby="pills-customize-tab">
                            <p>Once treatment is completed, place lid back on the needle head. </p>
                            <p>Twist the lid off and dispose safely.</p>
                            <p>Open a new sterile needle head and put it on the device ready for your next
                                treatment.</p>
                        </div>
                        {% comment %} <div class="tab-pane fade" id="pills-storage" role="tabpanel"
                            aria-labelledby="pills-customize-tab">
                            <p>Once treatment is completed, place lid back on the needle head.</p>
                            <p>Twist the lid off and dispose safely.</p>
                            <p>Open a new sterile needle head and put it on the device ready for your next
                                treatment.</p>
                        </div> {% endcomment %}
                    </div>
                </div>

                <div class="get_confident-btn mw-452 mr-auto">
                    <a class="btn btn-lg btn-primary buy_btn" href="#new-landing-purchase">See How Easy It
                        Is</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- get compliment worthy skin end -- -->

<!-- -- skin barrier start -- -->
<div class="skin_barrier section">
    <div class="container">
        <div class="section_header mw-546 m-0 me-auto">
            <h2 class="title-lg paddingB">Break through your skin’s barrier and rejuvenate from the inside out.
            </h2>
        </div>
        <div class="row align-items-end">
            <div class="col-md-6">
                <div class="sb_img">
                    <img src="https://qureskincaredns.com/new/assets/skin_barrier.webp" alt="" class="img-fluid">
                </div>
            </div>
            <div class="offset-md-1 col-md-5">
                <div class="skin_barrier_wrap">
                    <div class="skin_barrier_item">
                        <img src="https://qureskincaredns.com/new/assets/q_w_derma.svg" alt="" class="img-fluid">
                        <p>Real results after your very first treatment.</p>
                    </div>
                    <div class="skin_barrier_item">
                        <img src="https://qureskincaredns.com/new/assets/q-w_effective.svg" alt="" class="img-fluid">
                        <p>More effective than topical creams.</p>
                    </div>
                    <div class="skin_barrier_item">
                        <img src="https://qureskincaredns.com/new/assets/q_w_plus.svg" alt="" class="img-fluid">
                        <p>Clinic-like skincare without clinic prices.</p>
                    </div>
                    <div class="skin_barrier_item">
                        <img src="https://qureskincaredns.com/new/assets/q_w_time.svg" alt="" class="img-fluid">
                        <p>Saves you time.</p>
                    </div>
                    <div class="skin_barrier_item">
                        <img src="https://qureskincaredns.com/new/assets/q_w_needles.svg" alt="" class="img-fluid">
                        <p>Virtually painless, minimal to no downtime. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- skin barrier start -- -->

<!-- -- reveal your glow start -- -->
<div class="reveal_glow section">
    <div class="container">
        <div class="section_header">
            <h2 class="title-lg paddingB">
                Reveal your glow and renew your confidence.
            </h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="rg_item">
                    <img src="https://qureskincaredns.com/new/assets/rg_item_1.webp" alt="" class="img-fluid">
                    <div class="skincare_percent">
                        <div class="progressCont">
                            <span class="progressWrapper">
                                <span class="progessInfo text-dark">93%</span>
                                <svg class="vMQQx" height="59" width="59" viewBox="-29 -29 58 58">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                        class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                    <circle visibility="visible" fill="none" pathLength="100"
                                        transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
                                        style="stroke-dasharray: 100; stroke-dashoffset: 7; stroke-width: 4px;">
                                    </circle>
                                </svg>
                            </span>
                        </div>
                        <p>noticed a difference in their skin the day after their first treatment.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rg_item">
                    <img src="https://qureskincaredns.com/new/assets/rg_item_2.webp" alt="" class="img-fluid">
                    <div class="skincare_percent">
                        <div class="progressCont">
                            <span class="progressWrapper">
                                <span class="progessInfo text-dark">93%</span>
                                <svg class="vMQQx" height="59" width="59" viewBox="-29 -29 58 58">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                        class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                    <circle visibility="visible" fill="none" pathLength="100"
                                        transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
                                        style="stroke-dasharray: 100; stroke-dashoffset: 7; stroke-width: 4px;">
                                    </circle>
                                </svg>
                            </span>
                        </div>
                        <p>agreed their skin appeared more hydrated and dewy.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rg_item">
                    <img src="https://qureskincaredns.com/new/assets/rg_item_3.webp" alt="" class="img-fluid">
                    <div class="skincare_percent">
                        <div class="progressCont">
                            <span class="progressWrapper">
                                <span class="progessInfo text-dark">87%</span>
                                <svg class="vMQQx" height="59" width="59" viewBox="-29 -29 58 58">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                        class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                    <circle visibility="visible" fill="none" pathLength="100"
                                        transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
                                        style="stroke-dasharray: 100; stroke-dashoffset: 13; stroke-width: 4px;">
                                    </circle>
                                </svg>
                            </span>
                        </div>
                        <p>prefer the convenience of Qure’s Micro-Infusion System to in-clinic treatments.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- reveal your glow start -- -->

<!-- -- faq start -- -->
<div class="faq py-75 bg-lightGrey" id="faq_section">
    <div class="container">
        <div class="section_header text-center mb-3">
            <h2 class="title-lg">
                The answers to your questions
            </h2>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="container">What is the Qure Micro-Infusion System?
                        </div>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="container">
                            <p>The Qure Micro-Infusion System is a skincare device that combines micro-needling
                                with a special serum to rejuvenate your skin, helping to reduce the appearance
                                of fine lines, wrinkles, dark spots, and improve overall skin brightness and
                                plumpness.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <div class="container">How does the Qure Micro-Infusion System work?
                        </div>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="container">
                            <p>It uses 0.5mm 24k gold needles to create microchannels in the skin, allowing our
                                science-backed Rejuvenating Serum to penetrate deeply and be more effective.
                                This process stimulates the skin's natural recovery, promoting a youthful
                                appearance.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <div class="container">Is the Qure Micro-Infusion System safe to use?
                        </div>
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="container">
                            <p>Yes, the system has been tested and reviewed by leading dermatologists and is
                                designed to be sterile and hygienic with minimal downtime, making it a safe
                                option for at-home skin treatment.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <div class="container">How often should I use the Qure Micro-Infusion System?
                        </div>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="container">
                            <p>For best results, we recommend a 10-minute treatment every 2 weeks.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <div class="container">Can I use the Qure Micro-Infusion System if I have sensitive
                            skin?</div>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="container">
                            <p>While the system is designed to be gentle and has been loved by dermatologists,
                                we recommend checking with a healthcare professional if you have concerns about
                                using it on sensitive skin.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <div class="container">What are the benefits of using the Qure Micro-Infusion System?
                        </div>
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="container">
                            <p>Benefits include fading the appearance of fine lines and wrinkles, reducing dark
                                spots and scarring, plumping and brightening dull skin, and activating the
                                body's natural anti-aging mechanisms.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <div class="container">Can’t I just use a derma roller?
                        </div>
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="container">
                            <p>Qure’s Micro-Infusion System features a one time per treatment head. This means
                                it is typically safer and more hygienic than a derma roller. It also infuses the
                                skin at the same time making it much more time efficient and effective than a
                                derma roller. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        <div class="container">How do I use the Qure Micro-Infusion System?
                        </div>
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="container">
                            <p>The process involves filling the device with serum, creating microchannels with
                                the needle head, applying the serum through stamping motions on the face, and
                                disposing of the needle head after use. Detailed instructions are included with
                                the system.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        <div class="container">What makes the Qure Micro-Infusion System different from clinic
                            treatments?</div>
                    </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="container">
                            <p>It offers a convenient, affordable, and less invasive alternative to clinical
                                treatments, allowing you to achieve similar benefits without the need for costly
                                and time-consuming clinic visits.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        <div class="container">What is included in the purchase of a Qure Micro-Infusion System?
                        </div>
                    </button>
                </h2>
                <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="container">
                            <p>You will receive the Micro-Infusion device, sterile 24k gold plated microneedle
                                heads, Qure’s science-backed Rejuvenating Serum, free worldwide shipping over
                                $100, 24/7 customer support, and a 90-day risk-free money-back guarantee.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                        <div class="container">What if I'm not satisfied with my results?</div>
                    </button>
                </h2>
                <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="container">
                            <p>Qure offers a 90-day risk-free money-back guarantee. If you're not satisfied with
                                the results after using the system as recommended, you can return it for a full
                                refund.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- --faq end -- -->


<script src="https://fast.wistia.com/embed/medias/3ahwzg8wjz.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
<script src="https://qureskincaredns.com/new/assets/custom_treatment.js" defer></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        //result slider
        var swiper = new Swiper(".anti_result_slider ", {
            spaceBetween: 15,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".antiSlider-swiper-next",
                prevEl: ".antiSlider-swiper-prev",
            },
            slidesPerView: 1.3,
            breakpoints: {
                556: {
                    slidesPerView: 1.3,
                },
                768: {
                    slidesPerView: 2,
                },
                1024: {
                    slidesPerView: 3,
                },
            },
        });

        document.querySelectorAll(".myButton").forEach(button => {
            button.onclick = function () {
                let targetDiv = document.querySelector(".parentsteps");
                if (targetDiv && !targetDiv.classList.contains("mobile_steps")) {
                    targetDiv.classList.add("mobile_steps");
                }
            };
        });

        $(".landing-next-btn").click(function () {
            $(window).scrollTop($(".new-landing-purchase").offset().top - 100); // Scroll to the top of the section
            return false;
        });
        $(".landing-back-btn").click(function () {
            $(window).scrollTop($(".new-landing-purchase").offset().top - 100); // Scroll to the top of the section
            return false;
        });
    });
</script>