<!-- -- press slider start -- -->
<div class="press_bl">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="ps_wrapper">
                    <div class="ps_item">
                        <img src="https://qureskincaredns.com/new/assets/vogue.svg" alt="" class="img-fluid">
                    </div>
                    <div class="ps_item d-none d-md-block">
                        <img src="https://qureskincaredns.com/new/assets/cosmopolitan.svg" alt="" class="img-fluid">
                    </div>
                    <div class="ps_item">
                        <img src="https://qureskincaredns.com/new/assets/elle.svg" alt="" class="img-fluid">
                    </div>
                    <div class="ps_item">
                        <img src="https://qureskincaredns.com/new/assets/glamour.svg" alt="" class="img-fluid">
                    </div>
                    <div class="ps_item">
                        <img src="https://qureskincaredns.com/new/assets/grazia.svg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- -- press slider end -- -->

<!-- -- 6 reasons section start -- -->
<div class="reasons section bg-transparent pb-md-0" id="reasons_section">
    <div class="container">
        <div class="row">
            <div class="section_header text-md-center mb-3 mw-590">
                <h2 class="title-lg">
                    5 reasons why everyone is using Qure Micro-Infusion System
                </h2>
            </div>
            <div class="reasons_wrapper">
                <div class="rs_item">
                    <div class="r_use_img">
                        <img src="https://qureskincaredns.com/new/assets/mi_pdp-reason1.svg" alt="">
                    </div>
                    <div class="rs_item_content">
                        <p><strong>Saves time, money</strong> and hassle compared to in-clinic treatments</p>
                    </div>
                </div>
                <div class="rs_item">
                    <div class="r_use_img">
                        <img src="https://qureskincaredns.com/new/assets/mi_pdp-reason2.svg" alt="">
                    </div>
                    <div class="rs_item_content">
                        <p><strong>Quick & easy</strong> 5-minute DIY facial from the convenience of home</p>
                    </div>
                </div>
                <div class="rs_item">
                    <div class="r_use_img">
                        <img src="https://qureskincaredns.com/new/assets/mi_pdp-reason4.svg" alt="">
                    </div>
                    <div class="rs_item_content">
                        <p>Virtually <strong>painless,</strong> little to no downtime</p>
                    </div>
                </div>
                <div class="rs_item border-none">
                    <div class="r_use_img">
                        <img src="https://qureskincaredns.com/new/assets/mi_pdp-reason3.svg" alt="">
                    </div>
                    <div class="rs_item_content">
                        <p>Perfect for transforming dull-looking skin <strong>before events</strong>
                        </p>
                    </div>
                </div>
                <div class="rs_item">
                    <div class="r_use_img">
                        <img src="https://qureskincaredns.com/new/assets/mi_pdp-reason6.svg" alt="">
                    </div>
                    <div class="rs_item_content">
                        <p><strong>2-in-1</strong> system rejuvenates skin & infuses serum deeper for
                            <strong>faster results</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- 6 reasons section end -- -->

<!-- -- image with text start -- -->
<div class="imageText section qure_MI_ftr_wrap">
    <div class="container">
        <div class="hollywood_skin mt-0">
            <div class="row align-items-center">
                <div class="col-12 col-md-5">
                    <div class="it_img pb-3 pb-md-0 mw-mob-100">
                        <div class="wistia_responsive_padding d-none d-md-block" style="position:relative;">
                            <div class="wistia_responsive_wrapper"
                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                <div class="wistia_embed wistia_async_a1pykz2tp0 seo=false videoFoam=true"
                                    style="height:100%;position:relative;width:100%">&nbsp;</div>
                            </div>
                        </div>
                        <div class="wistia_responsive_padding d-block d-md-none" style="position:relative;">
                            <div class="wistia_responsive_wrapper"
                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                <div class="wistia_embed wistia_async_6ffu0xdg6l seo=false videoFoam=true"
                                    style="height:100%;position:relative;width:100%">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <div class="it_info p-0 ps-md-5">
                        <h2 class="title-lg mb-4">Qure’s Micro-Infusion goes where your skin cream can’t…</h2>
                        <p>Its tiny, almost painless, 24K gold plated 0.5mm microneedles penetrate
                            <strong>beyond the
                                skin’s surface</strong> to gently create controlled trauma in your skin which
                            help boost the
                            feel of <strong>firmness, smooth texture and reduce the look of fine lines and
                                wrinkles.</strong>
                        </p>
                        <p>The invisible micro-channels then <strong>infuse science-backed serums</strong> into
                            your skin that
                            are tailored to treat your specific skin concerns, increasing absorption and
                            <strong>delivering powerful active ingredients EXACTLY where they’re
                                needed!</strong>
                        </p>
                        <a href="#productSubscription" class="mt-4 btn btn-lg btn-primary mw-268 fw-medium">Shop
                            Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- image with text end -- -->