<!-- -- craetive guide start -- -->
<div class="creative_guide section pt-0 pb-2 mb-md-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7 order-2 order-md-1">
                <div class="c_guide_infos h-100 pe-lg-5 pt-md-0 pt-4">
                    <h1 class="title-lg mb-4 pb-md-1">Neck & Décolletage LED Creative Content Guide</h1>
                    <p>Hey skincare enthusiasts! </p>
                    <p class="pb-3">Ready to take your content to the next level? </p>
                    <p>Unlock the full potential of the Neck & Décolletage LED Device with our creative content
                        guide. This brief will help you craft engaging content that showcases how our innovative
                        tool transforms skincare routines for radiant, glowing skin.</p>
                    <p class="mt-3 text-decoration-underline text-dark"><img src="https://qureskincaredns.com/new/assets/correct_circle.svg"
                            alt="" class="img-fluid me-2"><a
                            href="https://www.qureskincare.com/products/neck-decolletage-led"
                            class="text-decoration-underline text-dark">Learn more about Neck & Décolletage
                            LED</a></p>
                </div>
            </div>
            <div class="col-md-5 order-1 order-md-2 pe-none">
                <div class="c_guide_img mw-mob-100">
                    <div class="wistia_responsive_padding" style="position:relative;">
                        <div class="wistia_responsive_wrapper"
                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                            <div class="wistia_embed wistia_async_f9a8svw294 seo=false videoFoam=true"
                                style="height:100%;position:relative;width:100%">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- craetive guide end -- -->

<!-- -- qure founder start -- -->
<div class="qure_founder">
    <div class="container-fluid">
        <div class="qure_founder_wrap d-none d-md-flex">
            <div class="qure_founder_img text-end"><img src="https://qureskincaredns.com/new/assets/dr.shah.webp" alt="">
            </div>
            <div class="qure_founder_info trusted_bl trustedVerified">
                <div class="trusted_verified"><img src="https://qureskincaredns.com/new/assets/verified_design.svg" alt="">
                    <p>Trusted and recommended by world leading Dermatologists</p>
                </div>
                <h3>"LED light targets fibroblasts to increase collagen production and has anti-aging benefits
                    especially if you are seeing wrinkles and lines on your neck..."</h3>
                <div class="founder_info mt-3 text-end">
                    <p><span class="fw-medium">- Dr. Muneeb Shah, MD, </span> Board certified dermatologist</p>
                </div>
            </div>
        </div>
        <div class="qure_founder_info trusted_bl trustedVerified d-block d-md-none py-0">
            <div class="trusted_verified"><img src="https://qureskincaredns.com/new/assets/verified_design.svg" alt="">
                <p>Trusted and recommended by world leading Dermatologists</p>
            </div>
        </div>
        <div class="qure_founder-wrap-mobile d-block d-md-none">
            <img src="https://qureskincaredns.com/new/assets/Dr_Muneeb.webp" alt="Dr_Muneeb">
            <div class="qure_founder_info">
                <h5>"LED light targets fibroblasts to increase collagen production and has anti-aging benefits
                    especially if you are seeing wrinkles and lines on your neck..."</h5>
                <p>Dr. Muneeb Shah, MD</p>
                <span>Board certified dermatologist</span>
            </div>
        </div>
    </div>
</div>
<!-- -- qure founder end -- -->

<!-- -- amazing content start -- -->
<div class="amazing_content section" id="tabsAccordion">
    <div class="container">
        <div class="section_header mw-680 text-md-center mb-3">
            <h2 class="title-lg">All you need to know before you start creating your amazing content</h2>
        </div>
        <div class="amazing_content_wrap d-none d-md-block">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item active1" role="presentation">
                    <h6>STEP 1</h6>
                    <p>Merge Qure into your creatives</p>
                    <img src="https://qureskincaredns.com/new/assets/ac_step4.webp" alt="" class="img-fluid mt-2">
                    <button class="nav-link active ac_drop_btn" id="content_req-tab" data-bs-toggle="tab"
                        data-bs-target="#content_req" type="button" role="tab" aria-controls="content_req"
                        aria-selected="true">
                        <div class="container">
                            <p>
                                Content
                                Requirements
                            </p>
                        </div>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <h6>STEP 2</h6>
                    <p>Get to know your Neck & Décolletage LED</p>
                    <img src="https://qureskincaredns.com/new/assets/ac_step5.webp" alt="" class="img-fluid mt-2">
                    <button class="nav-link ac_drop_btn" id="product_info-tab" data-bs-toggle="tab"
                        data-bs-target="#product_info" type="button" role="tab" aria-controls="product_info"
                        aria-selected="false">
                        <div class="container">
                            <p>
                                Product Information
                            </p>
                        </div>
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <h6>STEP 3</h6>
                    <p>Get inspired by other content creators</p>
                    <img src="https://qureskincaredns.com/new/assets/ac_step6.webp" alt="" class="img-fluid mt-2">
                    <button class="nav-link ac_drop_btn" id="good_content-tab" data-bs-toggle="tab"
                        data-bs-target="#good_content" type="button" role="tab" aria-controls="good_content"
                        aria-selected="false">
                        <div class="container">
                            <p>Inspiring Content </p>
                        </div>
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade1 active1 show1" id="content_req" role="tabpanel"
                    aria-labelledby="content_req-tab">
                    <div class="ac_desc_grid">
                        <div class="ac_desc faq">
                            <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/key_message.svg" alt=""
                                    class="img-fluid me-2">Key
                                Messages
                            </div>
                            <p>Key Points to include in the messaging:</p>
                            <div class="accordion" id="as_dropdown">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="asHeaderOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#asCollapseOne" aria-expanded="true"
                                            aria-controls="asCollapseOne">
                                            <div class="container">
                                                Advanced Technology
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="asCollapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="asHeaderOne" data-bs-parent="#as_dropdown">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>A combination of Red and Near Infra-Red wavelengths reaches
                                                    deep within the skin to stimulate collagen and elastin
                                                    production. Specifically designed to repair and rejuvenate
                                                    neck and decolletage skin where the first signs of aging
                                                    show.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="asheadingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#ascollapseTwo"
                                            aria-expanded="false" aria-controls="ascollapseTwo">
                                            <div class="container">Time-Saving</div>
                                        </button>
                                    </h2>
                                    <div id="ascollapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="asheadingTwo" data-bs-parent="#as_dropdown">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Reclaim time from your busy schedule as this device requires
                                                    only 10 minutes of your day. Achieve glowing skin without
                                                    lengthy treatments or going to the clinic.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="asheadingThree">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#ascollapseThree"
                                            aria-expanded="false" aria-controls="ascollapseThree">
                                            <div class="container">
                                                Clinical results from home - minus the “clinical” costs
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="ascollapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="asheadingThree" data-bs-parent="#as_dropdown">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Get smoother, firmer, brighter-looking neck and décolletage
                                                    skin with consistent treatment. One-time cost investment of
                                                    the Neck & Décolletage LED Device means unlimited
                                                    treatments, with no ongoing payments or hassle of attending
                                                    in-clinic appointments.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="asheadingFour">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#ascollapseFour"
                                            aria-expanded="false" aria-controls="ascollapseFour">
                                            <div class="container">
                                                Benefits
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="ascollapseFour" class="accordion-collapse collapse"
                                        aria-labelledby="asheadingFour" data-bs-parent="#as_dropdown">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Neck & Décolletage LED Device repairs sun-damaged skin, and
                                                    reduces the appearance of redness, pigmentation, age spots,
                                                    and fine lines and wrinkles. It evens skin tone and boosts
                                                    firmness for radiant younger-looking skin</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="asheadingFive">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#ascollapseFive"
                                            aria-expanded="false" aria-controls="ascollapseFive">
                                            <div class="container">
                                                Portability
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="ascollapseFive" class="accordion-collapse collapse"
                                        aria-labelledby="asheadingFive" data-bs-parent="#as_dropdown">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Our fully portable mask allows you to multitask, whether
                                                    you're working or unwinding, so you never have to compromise
                                                    on self-care.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ac_desc">
                            <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/direction.svg" alt=""
                                    class="img-fluid me-2">Creative Direction
                            </div>
                            <ul>
                                <li>
                                    High-quality, bright lighting and high-resolution imagery/ videography to be
                                    supplied. No obvious filters.</li>
                                <li> Qure Neck & Décolletage LED Device to be the feature of the post. The
                                    background must be clean and bright.</li>
                                <li>When using the device, please do not wear any makeup, or no
                                    visible/noticeable makeup.
                                </li>
                                <li>In cover photos for video content always show yourself using the Neck &
                                    Décolletage LED Device, unless otherwise agreed on with Qure’s team.</li>

                            </ul>
                        </div>
                        <div class="ac_desc">
                            <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/inclusion.svg" alt=""
                                    class="img-fluid me-2">Inclusion
                            </div>
                            <ul>
                                <li>Tag and mention @qureskincare #QureSkincare #QureLEDMask #LEDlighttherapy
                                    #Neck&DécolletageLEDevice</li>
                                <li>Include your affiliate or other links provided by Qure in Instagram Stories
                                    and content captions. If the link can’t be placed in BIO, include it in
                                    linktr.ee or similar.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="product_info" role="tabpanel" aria-labelledby="product_info-tab">
                    <div class="ac_desc_grid">
                        <div class="ac_desc faq">
                            <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/search.svg" alt=""
                                    class="img-fluid me-2">Product Details
                            </div>
                            <ul>
                                <li><b>TREATMENT TIME: </b>10 minutes</li>
                                <li><b>USE: </b>5-7 times per week</li>
                                <li><b>WAVELENGTH: </b>633nm (Red), 830nm (Near-Infrared)</li>
                                <li><b>CHARGING TIME: </b>4 hours</li>
                                <li><b>LEDs: </b>55 dual core</li>
                            </ul>
                            <a href="https://www.qureskincare.com/products/neck-decolletage-led"
                                class="text-decoration-underline text-dark mt-4">Learn more about the Neck &
                                Décolletage LED ></a>
                        </div>
                        <div class="ac_desc faq">
                            <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/usage_dir.svg" alt=""
                                    class="img-fluid me-2">Usage Instructions
                            </div>
                            <div class="accordion" id="as_dropdown">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="asHeaderOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#asCollapseOne" aria-expanded="true"
                                            aria-controls="asCollapseOne">
                                            <div class="container">
                                                Prepare & set
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="asCollapseOne" class="accordion-collapse collapse show"
                                        aria-labelledby="asHeaderOne" data-bs-parent="#as_dropdown">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Cleanse and dry your skin to prepare it for ultimate LED
                                                    light absorption.</li>
                                                <li>Secure the device around your neck using the adjustable
                                                    velcro straps.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="asHeaderTwo">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#asCollapseTwo"
                                            aria-expanded="false" aria-controls="asCollapseTwo">
                                            <div class="container">
                                                Quick Start
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="asCollapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="asHeaderTwo" data-bs-parent="#as_dropdown">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Press & hold to start your 10-minute treatment.</li>
                                                <li>With a hands-free controller & clip-on, you can either relax
                                                    or go about your day.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="asHeaderThree">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#asCollapseThree"
                                            aria-expanded="false" aria-controls="asCollapseThree">
                                            <div class="container">
                                                Aftercare
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="asCollapseThree" class="accordion-collapse collapse"
                                        aria-labelledby="asHeaderThree" data-bs-parent="#as_dropdown">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>The device will automatically shut off after 10 minutes.
                                                    Remove the device and gently wipe it down. Follow up with
                                                    your usual skincare routine. That’s it!</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ac_desc">
                            <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/product_claims.svg" alt=""
                                    class="img-fluid me-2">Product Claims
                            </div>
                            <ul>
                                <li>This device features LED lights placed in the center of the chest where most
                                    fine lines appear.</li>
                                <li>Our LED uses clinical-grade technology to deliver safe, concentrated
                                    wavelengths deep into the layers of the skin where even the best creams and
                                    serums can’t reach. That’s where the magic happens.</li>
                                <li>Your skin absorbs the natural light, kickstarting production of elastin,
                                    collagen, and fibroblasts – known to enhance skin firmness and smoothness.
                                    It’s truly working to repair and rejuvenate your skin from the inside out!
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="good_content" role="tabpanel" aria-labelledby="good_content-tab">
                    <div class="ac_desc_grid d-block">
                        <div class="row g-md-5">
                            <div class="col-md-6">
                                <div class="ac_desc">
                                    <div class="as_desc_header">Show how it works
                                    </div>
                                    <div class="ac_desc_grid_video d-flex gap-2">
                                        <div class="banner_img position-relative">
                                            <img src="https://qureskincaredns.com/new/assets/ac_video35.webp" alt="" class="img-fluid tab_img">
                                            <a
                                                class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                <div class="wistia_responsive_padding"
                                                    style="position:relative;">
                                                    <div class="wistia_responsive_wrapper"
                                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                        <span
                                                            class="wistia_embed wistia_async_00xu5jy96f popover=true videoFoam=true"
                                                            style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                    </div>
                                                    <span class="d-flex justify-content-end p-2"><img
                                                            src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt=""
                                                            class="w-auto">
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="banner_img position-relative">
                                            <img src="https://qureskincaredns.com/new/assets/ac_video36.webp" alt="" class="img-fluid tab_img">
                                            <a
                                                class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                <div class="wistia_responsive_padding"
                                                    style="position:relative;">
                                                    <div class="wistia_responsive_wrapper"
                                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                        <span
                                                            class="wistia_embed wistia_async_xqaygwj7nv popover=true videoFoam=true"
                                                            style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                    </div>
                                                    <span class="d-flex justify-content-end p-2"><img
                                                            src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt=""
                                                            class="w-auto">
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="banner_img position-relative">
                                            <img src="https://qureskincaredns.com/new/assets/ac_video37.webp" alt="" class="img-fluid tab_img">
                                            <a
                                                class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                <div class="wistia_responsive_padding"
                                                    style="position:relative;">
                                                    <div class="wistia_responsive_wrapper"
                                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                        <span
                                                            class="wistia_embed wistia_async_yrv6jnsupt popover=true videoFoam=true"
                                                            style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                    </div>
                                                    <span class="d-flex justify-content-end p-2"><img
                                                            src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt=""
                                                            class="w-auto">
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="ac_desc">
                                    <div class="as_desc_header">What experts say
                                    </div>
                                    <div class="ac_desc_grid_video d-flex gap-2">
                                        <div class="banner_img position-relative">
                                            <img src="https://qureskincaredns.com/new/assets/ac_video38.webp" alt="" class="img-fluid tab_img">
                                            <a
                                                class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                <div class="wistia_responsive_padding"
                                                    style="position:relative;">
                                                    <div class="wistia_responsive_wrapper"
                                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                        <span
                                                            class="wistia_embed wistia_async_yql55cz3yz popover=true videoFoam=true"
                                                            style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                    </div>
                                                    <span class="d-flex justify-content-end p-2"><img
                                                            src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt=""
                                                            class="w-auto">
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="banner_img position-relative">
                                            <img src="https://qureskincaredns.com/new/assets/ac_video39.webp" alt="" class="img-fluid tab_img">
                                            <a
                                                class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                <div class="wistia_responsive_padding"
                                                    style="position:relative;">
                                                    <div class="wistia_responsive_wrapper"
                                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                        <span
                                                            class="wistia_embed wistia_async_ha3jsau5v8 popover=true videoFoam=true"
                                                            style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                    </div>
                                                    <span class="d-flex justify-content-end p-2"><img
                                                            src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt=""
                                                            class="w-auto">
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="banner_img position-relative">
                                            <img src="https://qureskincaredns.com/new/assets/ac_video40.webp" alt="" class="img-fluid tab_img">
                                            <a
                                                class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                <div class="wistia_responsive_padding"
                                                    style="padding:177.78% 0 0 0;position:relative;">
                                                    <div class="wistia_responsive_wrapper"
                                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                        <span
                                                            class="wistia_embed wistia_async_in5j96xz0d popover=true videoFoam=true"
                                                            style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                    </div>
                                                    <span class="d-flex justify-content-end p-2"><img
                                                            src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt=""
                                                            class="w-auto">
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 pe-0">
                                            <div class="ac_desc pt-3">
                                                <div class="ac_desc_grid_video d-flex gap-2">
                                                    <div class="banner_img position-relative">
                                                        <img src="https://qureskincaredns.com/new/assets/ac_video41.webp" alt="" class="img-fluid tab_img">
                                                        <a
                                                            class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                            <div class="wistia_responsive_padding"
                                                                style="position:relative;">
                                                                <div class="wistia_responsive_wrapper"
                                                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                                    <span
                                                                        class="wistia_embed wistia_async_k857b7n6ze popover=true videoFoam=true"
                                                                        style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                                </div>
                                                                <span class="d-flex justify-content-end p-2"><img
                                                                        src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt=""
                                                                        class="w-auto">
                                                                </span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="amazing_content_wrap d-block d-md-none">
            <div class="accordion" id="acAccordion">
                <div class="accordion-item" id="mob_item1">
                    <h2 class="accordion-header" id="acheadingOne">
                        <h6>STEP 1</h6>
                        <p>Merge Qure into your creatives</p>
                        <img src="https://qureskincaredns.com/new/assets/ac_step4.webp" alt="" class="img-fluid mt-2">
                        <button class="accordion-button ac_drop_btn collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#ac_collapseOne" aria-expanded="true"
                            aria-controls="ac_collapseOne">
                            Content
                            Requirements
                        </button>
                    </h2>
                    <div id="ac_collapseOne" class="accordion-collapse collapse" aria-labelledby="acheadingOne">
                        <div class="accordion-body">
                            <div class="ac_desc_grid">
                                <div class="ac_desc faq">
                                    <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/key_message.svg" alt=""
                                            class="img-fluid me-2">Key
                                        Messages
                                    </div>
                                    <p>Key Points to include in the messaging:</p>
                                    <div class="accordion" id="as_dropdown">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="asHeaderOne">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#asCollapseOne" aria-expanded="true" aria-controls="asCollapseOne">
                                                    <div class="container">
                                                        Advanced Technology
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="asCollapseOne" class="accordion-collapse collapse" aria-labelledby="asHeaderOne" data-bs-parent="#as_dropdown">
                                                <div class="accordion-body">
                                                    <ul>
                                                        <li>A combination of Red and Near Infra-Red wavelengths reaches
                                                            deep within the skin to stimulate collagen and elastin
                                                            production. Specifically designed to repair and rejuvenate
                                                            neck and decolletage skin where the first signs of aging
                                                            show.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="asheadingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ascollapseTwo" aria-expanded="false" aria-controls="ascollapseTwo">
                                                    <div class="container">Time-Saving</div>
                                                </button>
                                            </h2>
                                            <div id="ascollapseTwo" class="accordion-collapse collapse" aria-labelledby="asheadingTwo" data-bs-parent="#as_dropdown">
                                                <div class="accordion-body">
                                                    <ul>
                                                        <li>Reclaim time from your busy schedule as this device requires
                                                            only 10 minutes of your day. Achieve glowing skin without
                                                            lengthy treatments or going to the clinic.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="asheadingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ascollapseThree" aria-expanded="false" aria-controls="ascollapseThree">
                                                    <div class="container">
                                                        Clinical results from home - minus the “clinical” costs
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="ascollapseThree" class="accordion-collapse collapse" aria-labelledby="asheadingThree" data-bs-parent="#as_dropdown">
                                                <div class="accordion-body">
                                                    <ul>
                                                        <li>Get smoother, firmer, brighter-looking neck and décolletage
                                                            skin with consistent treatment. One-time cost investment of
                                                            the Neck &amp; Décolletage LED Device means unlimited
                                                            treatments, with no ongoing payments or hassle of attending
                                                            in-clinic appointments.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="asheadingFour">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ascollapseFour" aria-expanded="false" aria-controls="ascollapseFour">
                                                    <div class="container">
                                                        Benefits
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="ascollapseFour" class="accordion-collapse collapse" aria-labelledby="asheadingFour" data-bs-parent="#as_dropdown">
                                                <div class="accordion-body">
                                                    <ul>
                                                        <li>Neck &amp; Décolletage LED Device repairs sun-damaged skin, and
                                                            reduces the appearance of redness, pigmentation, age spots,
                                                            and fine lines and wrinkles. It evens skin tone and boosts
                                                            firmness for radiant younger-looking skin</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="asheadingFive">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ascollapseFive" aria-expanded="false" aria-controls="ascollapseFive">
                                                    <div class="container">
                                                        Portability
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="ascollapseFive" class="accordion-collapse collapse" aria-labelledby="asheadingFive" data-bs-parent="#as_dropdown">
                                                <div class="accordion-body">
                                                    <ul>
                                                        <li>Our fully portable mask allows you to multitask, whether
                                                            you're working or unwinding, so you never have to compromise
                                                            on self-care.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ac_desc">
                                    <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/direction.svg" alt=""
                                            class="img-fluid me-2">Creative Direction
                                    </div>
                                    <ul>
                                        <li>
                                            High-quality, bright lighting and high-resolution imagery/ videography to be
                                            supplied. No obvious filters.</li>
                                        <li> Qure Neck &amp; Décolletage LED Device to be the feature of the post. The
                                            background must be clean and bright.</li>
                                        <li>When using the device, please do not wear any makeup, or no
                                            visible/noticeable makeup.
                                        </li>
                                        <li>In cover photos for video content always show yourself using the Neck &amp;
                                            Décolletage LED Device, unless otherwise agreed on with Qure’s team.</li>

                                    </ul>
                                </div>
                                <div class="ac_desc">
                                    <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/inclusion.svg" alt=""
                                            class="img-fluid me-2">Inclusion
                                    </div>
                                    <ul>
                                        <li>Tag and mention @qureskincare #QureSkincare #QureLEDMask #LEDlighttherapy
                                            #Neck&amp;DécolletageLEDevice</li>
                                        <li>Include your affiliate or other links provided by Qure in Instagram Stories
                                            and content captions. If the link can’t be placed in BIO, include it in
                                            linktr.ee or similar.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" id="mob_item2">
                    <h2 class="accordion-header" id="acheadingTwo">
                        <h6>STEP 2</h6>
                        <p>Get to know your Neck & Décolletage LED</p>
                        <img src="https://qureskincaredns.com/new/assets/ac_step5.webp" alt="" class="img-fluid mt-2">
                        <button class="accordion-button collapsed ac_drop_btn" type="button"
                            data-bs-toggle="collapse" data-bs-target="#ac_collapseTwo" aria-expanded="false"
                            aria-controls="ac_collapseTwo">
                            Product Information
                        </button>
                    </h2>
                    <div id="ac_collapseTwo" class="accordion-collapse collapse" aria-labelledby="acheadingTwo">
                        <div class="accordion-body">
                            <div class="ac_desc_grid">
                                <div class="ac_desc faq">
                                    <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/search.svg" alt=""
                                            class="img-fluid me-2">Product Details
                                    </div>
                                    <ul>
                                        <li><b>TREATMENT TIME: </b>10 minutes</li>
                                        <li><b>USE: </b>5-7 times per week</li>
                                        <li><b>WAVELENGTH: </b>633nm (Red), 830nm (Near-Infrared)</li>
                                        <li><b>CHARGING TIME: </b>4 hours</li>
                                        <li><b>LEDs: </b>55 dual core</li>
                                    </ul>
                                    <a href="https://www.qureskincare.com/products/neck-decolletage-led"
                                        class="text-decoration-underline text-dark mt-3">Learn more about the Neck & Décolletage LED ></a>
                                </div>
                                <div class="ac_desc faq">
                                    <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/usage_dir.svg" alt=""
                                            class="img-fluid me-2">Usage Instructions
                                    </div>
                                    <div class="accordion" id="as_dropdown">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="asHeaderOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#asCollapseOne" aria-expanded="true" aria-controls="asCollapseOne">
                                                    <div class="container">
                                                        Prepare &amp; set
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="asCollapseOne" class="accordion-collapse collapse show" aria-labelledby="asHeaderOne" data-bs-parent="#as_dropdown">
                                                <div class="accordion-body">
                                                    <ul>
                                                        <li>Cleanse and dry your skin to prepare it for ultimate LED
                                                            light absorption.</li>
                                                        <li>Secure the device around your neck using the adjustable
                                                            velcro straps.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="asHeaderTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#asCollapseTwo" aria-expanded="false" aria-controls="asCollapseTwo">
                                                    <div class="container">
                                                        Quick Start
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="asCollapseTwo" class="accordion-collapse collapse" aria-labelledby="asHeaderTwo" data-bs-parent="#as_dropdown">
                                                <div class="accordion-body">
                                                    <ul>
                                                        <li>Press &amp; hold to start your 10-minute treatment.</li>
                                                        <li>With a hands-free controller &amp; clip-on, you can either relax
                                                            or go about your day.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="asHeaderThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#asCollapseThree" aria-expanded="false" aria-controls="asCollapseThree">
                                                    <div class="container">
                                                        Aftercare
                                                    </div>
                                                </button>
                                            </h2>
                                            <div id="asCollapseThree" class="accordion-collapse collapse" aria-labelledby="asHeaderThree" data-bs-parent="#as_dropdown">
                                                <div class="accordion-body">
                                                    <ul>
                                                        <li>The device will automatically shut off after 10 minutes.
                                                            Remove the device and gently wipe it down. Follow up with
                                                            your usual skincare routine. That’s it!</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ac_desc">
                                    <div class="as_desc_header"> <img src="https://qureskincaredns.com/new/assets/product_claims.svg" alt=""
                                            class="img-fluid me-2">Product Claims
                                    </div>
                                    <ul>
                                        <li>This device features LED lights placed in the center of the chest where most
                                            fine lines appear.</li>
                                        <li>Our LED uses clinical-grade technology to deliver safe, concentrated
                                            wavelengths deep into the layers of the skin where even the best creams and
                                            serums can’t reach. That’s where the magic happens.</li>
                                        <li>Your skin absorbs the natural light, kickstarting production of elastin,
                                            collagen, and fibroblasts – known to enhance skin firmness and smoothness.
                                            It’s truly working to repair and rejuvenate your skin from the inside out!
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" id="mob_item3">
                    <h2 class="accordion-header" id="ac_headingThree">
                        <h6>STEP 3</h6>
                        <p>Get inspired by other content creators</p>
                        <img src="https://qureskincaredns.com/new/assets/ac_step6.webp" alt="" class="img-fluid mt-2">
                        <button class="accordion-button collapsed ac_drop_btn" type="button"
                            data-bs-toggle="collapse" data-bs-target="#ac_collapseThree" aria-expanded="false"
                            aria-controls="ac_collapseThree">
                            Inspiring Content
                        </button>
                    </h2>
                    <div id="ac_collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="ac_desc_grid d-block">
                                <div class="row g-4 g-md-5">
                                    <div class="col-md-6">
                                        <div class="ac_desc">
                                            <div class="as_desc_header">Show how it works
                                            </div>
                                            <div class="ac_desc_grid_video d-flex gap-2">
                                                <div class="banner_img position-relative">
                                                    <img src="https://qureskincaredns.com/new/assets/ac_video35.webp" alt="" class="img-fluid tab_img">
                                                    <a class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                        <div class="wistia_responsive_padding" style="position: relative; padding: 177.778% 0px 0px;">
                                                            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                                <span class="wistia_embed wistia_async_00xu5jy96f popover=true videoFoam=true wistia_embed_initialized" style="display:inline-block;height:100%;position:relative;width:100%" id="wistia-00xu5jy96f-1"><div id="wistia_67.thumb_container" class="wistia_click_to_play" style="position: relative; height: 187.438px; width: 166.672px;"><div id="wistia_376.thumbnail" tabindex="0" style="cursor: pointer; border-radius: 0px; display: block; height: 187.438px; overflow: hidden; outline: none; position: relative; width: 166.672px;"><div id="wistia_376.thumbnail_focus_indicator" style="height: 100%; left: 0px; pointer-events: none; position: absolute; top: 0px; width: 100%; z-index: 1;"></div><div id="wistia_392.big_play_button_background" style="border-radius: 0px; height: 38px; position: absolute; width: 60px; z-index: 1; background-color: rgba(23, 75, 210, 0.8); left: 53px; top: 75px;"></div><div id="wistia_392.big_play_button_graphic" tabindex="-1" role="button" aria-label="Play" style="background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAmCAYAAACYsfiPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJNJREFUeNrs1ksNhEAURNGWgAQkjAQkIAUJ7QApIwEJSEACEh6PBatJhmZJ1T1JCahU+lMKAACAioj4Zjqnwqc9MzoVvszya8evLTM4FdZeO/7TWzva6Kwd7dbMx6nwpboV3l99rh+WXV5/lh+sOrlcWueqvcOzpLNqQ2GtVW8KT0WZ3MeisXAtLixWBQAAQDoEGACTzSwy3SX7YgAAAABJRU5ErkJggg==&quot;) 0px 0px / 60px 38px no-repeat transparent; cursor: pointer; display: block; height: 38px; outline: none; position: absolute; width: 60px; z-index: 1; left: 53px; top: 75px;"></div><img id="wistia_376.thumbnail_img" alt="Wistia video thumbnail" src="https://embed-ssl.wistia.com/deliveries/ed559209dc1ea39183821de71e80b0249b158d7b.webp?image_crop_resized=640x1138" style="border: 0px; display: block; float: none; height: 296px; margin: 0px; max-height: none; max-width: none; padding: 0px; pointer-events: none; position: absolute; width: 166.672px; left: 0px; top: -54px;"></div></div></span>
                                                            </div>
                                                            <span class="d-flex justify-content-end p-2"><img src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt="" class="w-auto">
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="banner_img position-relative">
                                                    <img src="https://qureskincaredns.com/new/assets/ac_video36.webp" alt="" class="img-fluid tab_img">
                                                    <a class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                        <div class="wistia_responsive_padding" style="position: relative; padding: 177.778% 0px 0px;">
                                                            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                                <span class="wistia_embed wistia_async_xqaygwj7nv popover=true videoFoam=true wistia_embed_initialized" style="display:inline-block;height:100%;position:relative;width:100%" id="wistia-xqaygwj7nv-1"><div id="wistia_77.thumb_container" class="wistia_click_to_play" style="position: relative; height: 187.438px; width: 166.672px;"><div id="wistia_738.thumbnail" tabindex="0" style="cursor: pointer; border-radius: 0px; display: block; height: 187.438px; overflow: hidden; outline: none; position: relative; width: 166.672px;"><div id="wistia_738.thumbnail_focus_indicator" style="height: 100%; left: 0px; pointer-events: none; position: absolute; top: 0px; width: 100%; z-index: 1;"></div><div id="wistia_753.big_play_button_background" style="border-radius: 0px; height: 38px; position: absolute; width: 60px; z-index: 1; background-color: rgba(23, 75, 210, 0.8); left: 53px; top: 75px;"></div><div id="wistia_753.big_play_button_graphic" tabindex="-1" role="button" aria-label="Play" style="background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAmCAYAAACYsfiPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJNJREFUeNrs1ksNhEAURNGWgAQkjAQkIAUJ7QApIwEJSEACEh6PBatJhmZJ1T1JCahU+lMKAACAioj4Zjqnwqc9MzoVvszya8evLTM4FdZeO/7TWzva6Kwd7dbMx6nwpboV3l99rh+WXV5/lh+sOrlcWueqvcOzpLNqQ2GtVW8KT0WZ3MeisXAtLixWBQAAQDoEGACTzSwy3SX7YgAAAABJRU5ErkJggg==&quot;) 0px 0px / 60px 38px no-repeat transparent; cursor: pointer; display: block; height: 38px; outline: none; position: absolute; width: 60px; z-index: 1; left: 53px; top: 75px;"></div><img id="wistia_738.thumbnail_img" alt="Wistia video thumbnail" src="https://embed-ssl.wistia.com/deliveries/6711a6f13f6ea5582e50035a22fb76e5280519bd.webp?image_crop_resized=640x1138" style="border: 0px; display: block; float: none; height: 296px; margin: 0px; max-height: none; max-width: none; padding: 0px; pointer-events: none; position: absolute; width: 166.672px; left: 0px; top: -54px;"></div></div></span>
                                                            </div>
                                                            <span class="d-flex justify-content-end p-2"><img src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt="" class="w-auto">
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="banner_img position-relative">
                                                    <img src="https://qureskincaredns.com/new/assets/ac_video37.webp" alt="" class="img-fluid tab_img">
                                                    <a class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                        <div class="wistia_responsive_padding" style="position: relative; padding: 177.778% 0px 0px;">
                                                            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                                <span class="wistia_embed wistia_async_yrv6jnsupt popover=true videoFoam=true wistia_embed_initialized" style="display:inline-block;height:100%;position:relative;width:100%" id="wistia-ao0jik85yh-1"><div id="wistia_87.thumb_container" class="wistia_click_to_play" style="position: relative; height: 187.438px; width: 166.672px;"><div id="wistia_723.thumbnail" tabindex="0" style="cursor: pointer; border-radius: 0px; display: block; height: 187.438px; overflow: hidden; outline: none; position: relative; width: 166.672px;" class=""><div id="wistia_723.thumbnail_focus_indicator" style="height: 100%; left: 0px; pointer-events: none; position: absolute; top: 0px; width: 100%; z-index: 1;"></div><img id="wistia_723.thumbnail_img" alt="Wistia video thumbnail" src="https://embed-ssl.wistia.com/deliveries/8e4237c2690d53a505af32c64f7c3536.webp?image_crop_resized=457x515" style="border: 0px; display: block; float: none; height: 187.438px; margin: 0px; max-height: none; max-width: none; padding: 0px; pointer-events: none; position: absolute; width: 166.672px; left: 0px; top: 0px;"></div></div></span>
                                                            </div>
                                                            <span class="d-flex justify-content-end p-2"><img src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt="" class="w-auto">
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ac_desc">
                                            <div class="as_desc_header">What experts say
                                            </div>
                                            <div class="ac_desc_grid_video d-flex gap-2">
                                                <div class="banner_img position-relative">
                                                    <img src="https://qureskincaredns.com/new/assets/ac_video38.webp" alt="" class="img-fluid tab_img">
                                                    <a
                                                        class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                        <div class="wistia_responsive_padding"
                                                            style="position:relative;">
                                                            <div class="wistia_responsive_wrapper"
                                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                                <span
                                                                    class="wistia_embed wistia_async_yql55cz3yz popover=true videoFoam=true"
                                                                    style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                            </div>
                                                            <span class="d-flex justify-content-end p-2"><img
                                                                    src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt=""
                                                                    class="w-auto">
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="banner_img position-relative">
                                                    <img src="https://qureskincaredns.com/new/assets/ac_video39.webp" alt="" class="img-fluid tab_img">
                                                    <a
                                                        class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                        <div class="wistia_responsive_padding"
                                                            style="position:relative;">
                                                            <div class="wistia_responsive_wrapper"
                                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                                <span
                                                                    class="wistia_embed wistia_async_ha3jsau5v8 popover=true videoFoam=true"
                                                                    style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                            </div>
                                                            <span class="d-flex justify-content-end p-2"><img
                                                                    src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt=""
                                                                    class="w-auto">
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="banner_img position-relative">
                                                    <img src="https://qureskincaredns.com/new/assets/ac_video40.webp" alt="" class="img-fluid tab_img">
                                                    <a
                                                        class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                        <div class="wistia_responsive_padding"
                                                            style="padding:177.78% 0 0 0;position:relative;">
                                                            <div class="wistia_responsive_wrapper"
                                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                                <span
                                                                    class="wistia_embed wistia_async_in5j96xz0d popover=true videoFoam=true"
                                                                    style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                            </div>
                                                            <span class="d-flex justify-content-end p-2"><img
                                                                    src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt=""
                                                                    class="w-auto">
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4 pe-0">
                                                    <div class="ac_desc pt-3">
                                                        <div class="ac_desc_grid_video d-flex gap-2">
                                                            <div class="banner_img position-relative">
                                                                <img src="https://qureskincaredns.com/new/assets/ac_video41.webp" alt="" class="img-fluid tab_img">
                                                                <a
                                                                    class="popup-youtube position-absolute top-0 bottom-0 start-0 end-0">
                                                                    <div class="wistia_responsive_padding"
                                                                        style="position:relative;">
                                                                        <div class="wistia_responsive_wrapper"
                                                                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                                            <span
                                                                                class="wistia_embed wistia_async_k857b7n6ze popover=true videoFoam=true"
                                                                                style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                                                        </div>
                                                                        <span class="d-flex justify-content-end p-2"><img
                                                                                src="https://qureskincaredns.com/new/assets/trusted_play_eesm.svg" alt=""
                                                                                class="w-auto">
                                                                        </span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- amazing content end -- -->

<script src="https://fast.wistia.com/embed/medias/3ahwzg8wjz.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>

<style>
    .dek-menu ul {
        gap: 12px !important;
    }
    .dek-menu .menu {
        width: 38.33% !important;
    }
    .dek-menu .logo {
        width: 28.33% !important;
    }
    @media(max-width:767px) {
        #video_mobile {
            min-height: 430px;
        }
    }
</style>

<script>
    // for making the amazing content inactive all tabs by default
    document.addEventListener('DOMContentLoaded', function () {
        // Ensure no tab is active
        document.querySelectorAll('#myTab .nav-link').forEach(function (tab) {
            tab.classList.remove('active');
            tab.setAttribute('aria-selected', 'false');
        });

        // Ensure no tab content is active
        document.querySelectorAll('#myTabContent .tab-pane').forEach(function (content) {
            content.classList.remove('show', 'active');
        });

        $('a[href^="#"]').on('click', function (event) {
            event.preventDefault();
            var target = $(this.getAttribute('href'));
            if (target.length) {
                $('html, body').stop().animate({
                    scrollTop: target.offset().top - 100
                }, 100);
            }
        });
    });
</script>