<style>
    .dek-menu ul {
        gap: 12px !important;
    }
    .dek-menu .menu {
        width: 38.33% !important;
    }
    .dek-menu .logo {
        width: 28.33% !important;
    }
    @media(max-width:767px) {
        #video_mobile {
            min-height: 430px;
        }
    }
</style>

<!-- -- main banner start -- -->
<div class="faq_banner">
    <div class="container">
        <div class="faq_banner_wrap">
            <div class="section_header mw-100">
                <h2 class="title-xl paddingB">Enjoy Smoother, Healthier Skin at Home in Just 5 Minutes with Our
                    Micro-Infusion System</h2>
                <h5>Created In Partnership With <strong>Leading Dermatologists</strong> And Trusted By
                    <strong>Skincare Experts</strong> Worldwide
                </h5>
                <div class="mt-4 mw-mob-100">
                    <img src="https://qureskincaredns.com/new/assets/qure_mi_faq1.webp" alt="" class="img-fluid d-md-block d-none">
                    <img src="https://qureskincaredns.com/new/assets/qure_mi_faq1mob.webp" alt="" class="img-fluid d-md-none d-block">
                </div>
            </div>
            <div class="section_header mi_faq_ques mw-100 ">
                <div class="title-lg paddingB">What Is the Qure Micro-Infusion System?</div>
                <p>The Qure Micro-Infusion System is a simple yet <strong>powerful skincare device</strong> that
                    brings the
                    benefits of micro-needling to your home. It helps to reduce the appearance of fine lines,
                    smooths skin texture, and enhances the effectiveness of your serums to improve your skin’s
                    appearance and boost your confidence.</p>

                <p>Use it for just 5 minutes every 2 weeks to infuse active ingredients deep into your skin,
                    promoting a brighter, more radiant complexion.</p>
            </div>
            <div class="section_header mi_faq_ques mw-100 ">
                <div class="title-lg paddingB">How Fast Can I See Results?</div>
                <p>With the Qure Micro-Infusion System, many users notice improvements in their skin’s
                    appearance after the first use. While it won’t transform your skin overnight, <strong>you’ll
                        likely
                        see a brighter, more hydrated complexion the next day.</strong>
                </p>

                <p> With consistent use every 2 weeks, you can expect to see a significant reduction in fine
                    lines and a smoother skin texture within a month, helping you achieve a more youthful and
                    radiant look. Dermatologists recommend using the device every 2 weeks for a minimum of 3
                    months for optimal results. Consistency is key!</p>
            </div>
            <div class="mi_faq_ques section_header mw-100 ">
                <div class="title-lg paddingB">How Does the Qure Micro-Infusion System Work?</div>
                <p>The Qure Micro-Infusion System is designed to revitalize your skin through a precise and
                    effective process:</p>
                <div class="how_work">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="stamping_skin-gif  d-none d-md-block">
                                <div class="wistia_responsive_padding" style="position:relative;">
                                    <div class="wistia_responsive_wrapper"
                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                        <div class="wistia_embed wistia_async_womq9t497b seo=false videoFoam=true"
                                            style="height:100%;position:relative;width:100%">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="stamping_skin-row">
                                <div class="stamping_skin-gif d-block d-md-none mb-5">
                                    <div class="wistia_responsive_padding" style="position:relative;">
                                        <div class="wistia_responsive_wrapper"
                                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                            <div class="wistia_embed wistia_async_womq9t497b seo=false videoFoam=true"
                                                style="height:100%;position:relative;width:100%">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="stamping_content-main">
                                    <div class="stamping_skin-content">
                                        <p><b>Micro-Needles:</b> Tiny, gold needles (thinner than a human hair)
                                            create micro-channels
                                            in your skin. This helps stimulate collagen production and triggers
                                            your skin’s natural healing process.</p>
                                    </div>
                                    <div class="stamping_skin-content">
                                        <p><b>Serum Delivery:</b> The micro-channels allow our
                                            scientifically-backed
                                            serums to penetrate deeply, delivering active ingredients exactly
                                            where they are needed to reduce the appearance of wrinkles, fine
                                            lines, and dark spots.</p>
                                    </div>
                                    <div class="stamping_skin-content">
                                        <p><b>Hydration and Plumping:</b> The infusion process enhances your
                                            skin's ability
                                            to retain moisture, resulting in a plumper, more hydrated, and
                                            radiant looking complexion.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>Use the Qure Micro-Infusion System for just 5 minutes every 2 weeks for a minimum of 3 months
                    and <strong>enjoy smoother looking more youthful skin and a more confident you.</strong></p>
            </div>
            <div class="section_header mw-100 ">
                <div class="title-lg paddingB">Can I Use the Qure Micro-Infusion System If I Have Sensitive
                    Skin?</div>
                <p>Absolutely! The Qure Micro-Infusion System is designed to be <strong>gentle and
                        effective for
                        all skin types.</strong></p>
                <p>We know that everyone's skin is unique, and that's why our device is crafted to minimize
                    irritation while maximizing results. The 24k gold plated micro-needles are designed to be
                    virtually painless, and our serums are formulated to soothe and nourish even the most
                    delicate skin.</p>
            </div>
            <div class="mi_faq_ques section_header mw-100 miLP_faq_use">
                <div class="title-lg paddingB">How Do I Use the Qure Micro-Infusion System?</div>
                <p>Using the Qure Micro-Infusion System is simple and convenient. Just follow these steps:</p>
                <div class="how_work">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="videosQure_exernal">
                                <div class="wistia_responsive_padding d-md-block d-none"
                                    style="position:relative;">
                                    <div class="wistia_responsive_wrapper"
                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                        <div class="wistia_embed wistia_async_i4a51d8k7u seo=false videoFoam=true"
                                            style="height:100%;position:relative;width:100%">
                                            <div class="wistia_swatch"
                                                style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                <img src="https://fast.wistia.com/embed/medias/i4a51d8k7u/swatch"
                                                    style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                    alt="" aria-hidden="true"
                                                    onload="this.parentNode.style.opacity=1;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="wistia_responsive_padding d-md-none d-block"
                                    style="position:relative;">
                                    <div class="wistia_responsive_wrapper"
                                        style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                        <div class="wistia_embed wistia_async_58aic0anst seo=false videoFoam=true"
                                            style="height:100%;position:relative;width:100%">
                                            <div class="wistia_swatch"
                                                style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                <img src="https://fast.wistia.com/embed/medias/i4a51d8k7u/swatch"
                                                    style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                    alt="" aria-hidden="true"
                                                    onload="this.parentNode.style.opacity=1;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="stamping_skin-row p-0">
                                <div class="stamping_content-main d-none d-md-block">
                                    <div class="stamping_skin-content">
                                        <img src="https://qureskincaredns.com/new/assets/mi_faq_use_1.webp" alt="" class="img-fluid">
                                        <p><b>Prep Your Skin:</b> Cleanse your face thoroughly to remove any
                                            makeup or
                                            impurities. Pat
                                            dry with a clean towel.</p>
                                    </div>
                                    <div class="stamping_skin-content">
                                        <img src="https://qureskincaredns.com/new/assets/mi_faq_use_2.webp" alt="" class="img-fluid">
                                        <p><b>Prepare the Device:</b> Twist open the chamber and fill it with
                                            one ampule of
                                            your chosen serum. Secure the micro-needle head by twisting it on
                                            tightly.</p>
                                    </div>
                                    <div class="stamping_skin-content">
                                        <img src="https://qureskincaredns.com/new/assets/mi_faq_use_3.webp" alt="" class="img-fluid">
                                        <p><b>Activate the Device:</b> Leave the device upside down for 1-2
                                            minutes to
                                            allow
                                            the serum to flow into the micro-needles.</p>
                                    </div>
                                    <div class="stamping_skin-content">
                                        <img src="https://qureskincaredns.com/new/assets/mi_faq_use_4.webp" alt="" class="img-fluid">
                                        <p><b>Micro-Infuse:</b> Remove
                                            the lid and gently press the device onto your skin, starting at the
                                            center of your face and working outward. Use a stamping motion to
                                            ensure even coverage.</p>
                                    </div>
                                    <div class="stamping_skin-content">
                                        <img src="https://qureskincaredns.com/new/assets/mi_faq_use_5.webp" alt="" class="img-fluid">
                                        <p><b>Aftercare:</b> Pat any
                                            remaining serum onto your face and neck. Once done, place the lid
                                            back on the needle head, twist it off, and dispose of it safely.</p>
                                    </div>
                                </div>
                                <div class="stamping_content-main d-block d-md-none mt-4">
                                    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                                        class="swiper mySwiperFAQ2">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img src="https://qureskincaredns.com/new/assets/mi_faq_use_1.webp" alt="" class="img-fluid">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="https://qureskincaredns.com/new/assets/mi_faq_use_2.webp" alt="" class="img-fluid">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="https://qureskincaredns.com/new/assets/mi_faq_use_3.webp" alt="" class="img-fluid">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="https://qureskincaredns.com/new/assets/mi_faq_use_4.webp" alt="" class="img-fluid">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="https://qureskincaredns.com/new/assets/mi_faq_use_5.webp" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                    <div thumbsSlider="" class="swiper mySwiperFAQ dot_pagination">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="stamping_skin-content d-block">
                                                    <a href="#"
                                                        class="fw-bold text-decoration-underline text-dark">Prep
                                                        Your
                                                        Skin</a>
                                                    <p>Cleanse your face thoroughly to remove any
                                                        makeup or
                                                        impurities. Pat
                                                        dry with a clean towel.</p>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="stamping_skin-content d-block">
                                                    <a href="#"
                                                        class="fw-bold text-decoration-underline text-dark">Prepare
                                                        the
                                                        Device</a>
                                                    <p>Twist open the chamber and fill it with one
                                                        ampule
                                                        of
                                                        your chosen serum. Secure the micro-needle head by
                                                        twisting
                                                        it on
                                                        tightly.</p>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="stamping_skin-content d-block">
                                                    <a href="#"
                                                        class="fw-bold text-decoration-underline text-dark">Activate
                                                        the
                                                        Device</a>
                                                    <p>Leave the device upside down for 1-2
                                                        minutes
                                                        to
                                                        allow
                                                        the serum to flow into the micro-needles.</p>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="stamping_skin-content d-block">
                                                    <a href="#"
                                                        class="fw-bold text-decoration-underline text-dark">Micro-Infuse</a>
                                                    <p>Remove
                                                        the lid and gently press the device onto your skin,
                                                        starting
                                                        at the
                                                        center of your face and working outward. Use a stamping
                                                        motion to
                                                        ensure even coverage.</p>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="stamping_skin-content d-block">
                                                    <a href="#"
                                                        class="fw-bold text-decoration-underline text-dark">Aftercare</a>
                                                    <p> Pat any
                                                        remaining serum onto your face and neck. Once done,
                                                        place
                                                        the lid
                                                        back on the needle head, twist it off, and dispose of it
                                                        safely.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pagination_navigation">
                                            <div class="swiper-pagination"></div>
                                            <div class="swiper-button-prev swiper-button"></div>
                                            <div class="swiper-button-next swiper-button"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="video_cnt d-block d-md-none">
                                    <p>Enjoy a brighter, smoother complexion with just <strong>5 minutes of
                                            treatment</strong>
                                        every 2 weeks.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section_header mw-100 mi_infusion-system">
                <div class="title-lg paddingB">Will the Qure Micro-Infusion System Work for Wrinkles?</div>
                <img src="https://qureskincaredns.com/new/assets/qure_mi_faq2.webp" alt="" class="img-fluid mb-3 d-md-block d-none">
                <img src="https://qureskincaredns.com/new/assets/qure_mi_faq2_mob.webp" alt="" class="img-fluid mb-3 d-md-none d-block">
                <p>Absolutely! The Qure Micro-Infusion System is designed to be <strong>gentle and
                        effective for all skin types</strong>, including <strong>sensitive skin.</strong></p>
                <p>We know that everyone's skin is unique, and that's why our device is crafted to
                    minimize
                    irritation while maximizing results. The 24k gold plated micro-needles are designed to be
                    virtually painless, and our serums are formulated to soothe and nourish even the most
                    delicate skin.</p>
                <p>So, if you have sensitive skin, you can confidently use our micro-infusion system to achieve
                    a healthier, more radiant complexion.</p>
            </div>
            <div class="section_header mw-100 ">
                <img src="https://qureskincaredns.com/new/assets/qure_mi_faq3.webp" alt="" class="img-fluid mb-3 d-md-block d-none">
                <img src="https://qureskincaredns.com/new/assets/qure_mi_faq3mob.webp" alt="" class="img-fluid mb-3 d-md-none d-block">
                <div class="title-lg paddingB">Will the Qure Micro-Infusion System Work for Dark Spots and
                    Hyperpigmentation?</div>
                <p><strong>Yes, it will!</strong> The Qure Micro-Infusion System is specifically
                    designed to address a variety of
                    skin concerns, including dark spots and hyperpigmentation.</p>
                <p>Our micro-needling process, combined with our rejuvenating serum, <strong>helps
                        to penetrate deeply
                        into the skin, reducing pigmentation and evening out skin tone.</strong> The system
                    delivers active
                    ingredients directly to the areas where they are needed most, promoting a clearer, more
                    radiant complexion.</p>

                <p>With consistent use, you’ll notice a significant reduction in dark spots and a more even skin
                    tone, helping you to reveal your natural glow.</p>
            </div>
            <div class="section_header mw-100 ">
                <img src="https://qureskincaredns.com/new/assets/qure_mi_faq4.webp" alt="" class="img-fluid mb-3 d-md-block d-none">
                <img src="https://qureskincaredns.com/new/assets/qure_mi_faq4mob.webp" alt="" class="img-fluid mb-3 d-md-none d-block">
                <div class="title-lg paddingB">How Much Does the Qure Micro-Infusion System Cost?</div>
                <p>At Qure, we are dedicated to making advanced skincare solutions accessible and
                    affordable for everyone.</p>
                <p>We’ve priced our Micro-Infusion System competitively because we understand that
                    quality skincare shouldn’t break the bank. Professional treatments can be costly and
                    time-consuming, but with Qure, <strong>you can achieve similar results at home for a
                        fraction of the
                        cost.</strong></p>
                <p>The Qure Micro-Infusion System, which includes the device and a 3-month supply
                    of serums, typically retails at $297. However, for a limited time, you can get it for just
                    <strong>$149 when you choose our best value bundle, saving you 50%.</strong>
                </p>

                <p>We believe everyone deserves to look and feel their best without the high costs of
                    professional treatments.</p>
            </div>
            <div class="section_header mw-100 ">
                <div class="title-lg paddingB">Where Can I Purchase the Qure Micro-Infusion System?</div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="laptop_img">
                            <img src="https://qureskincaredns.com/new/assets/qure_mi_faq5.webp" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="stamping_content-main">
                            <div class="stamping_skin-content">
                                <p>You can purchase the Qure Micro-Infusion System directly from our official
                                    website. This ensures you get the authentic product with the quality and
                                    results you expect.</p>
                            </div>
                            <div class="stamping_skin-content">
                                <p>Avoid imitations and knockoffs by buying only from our site. We’ve designed
                                    our system to be effective and safe, and only our official website can
                                    guarantee you’re getting the real thing.</p>
                            </div>
                            <div class="stamping_skin-content">
                                <p><a href="https://www.qureskincare.com/pages/qure-microinfusion-offer"
                                        class="text-decoration-underline text-dark">Visit our website to order
                                        your
                                        Qure Micro-Infusion System today.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section_header mw-100 ">
                <div class="title-lg paddingB">Is the Qure Micro-Infusion System Safe?</div>
                <p>Yes, the Qure Micro-Infusion System is very safe to use. It has been thoroughly
                    tested and reviewed by leading dermatologists to ensure it meets the highest safety
                    standards.</p>
                <p>Our device uses gentle, 24k gold micro-needles and carefully formulated serums to provide
                    effective results with minimal risk of irritation. You can confidently incorporate it into
                    your skincare routine, knowing it’s designed with your skin’s health in mind.</p>
            </div>
            <div class="section_header mw-100 ">
                <div class="title-lg paddingB">What If I Am Not Happy With My Purchase?</div>
                <p>We want you to love your Qure Micro-Infusion System. That’s why we offer a
                    90-day money-back guarantee on all purchases.</p>
                <p>You have 90 days from the date your order arrives to try the product and see the
                    results for yourself. If you’re not completely satisfied, simply contact our customer
                    support team at <a class="text-decoration-underline text-dark"
                        href="mailto:support@qureskincare.com">support@qureskincare.com</a>, and we’ll issue you
                    a full refund—no questions
                    asked.</p>
                <p>Your satisfaction is our priority, and we’re here to ensure you have a positive experience
                    with Qure.</p>
            </div>
            <div class="section_header try_yourself mw-100 ">
                <div class="title-lg">Try it Yourself And Enjoy Simple Skincare Created To Support Real
                    Women Look And Feel Their Best.</div>
                <p class="d-md-none d-block">If you're tired of dealing with fine lines, dark spots, and dull
                    skin, the Qure Micro-Infusion System is here to help.
                </p>
                <p class="d-md-none d-block">Getting started is simple:</p>
                <p><span>Step 1</span> Click the "Check Availability" button below to see if we’re
                    in stock. (Due to high demand, we sell out quickly.)</p>
                <p><span>Step 2</span> If we have stock, you’ll be directed to our secure checkout
                    where you can choose the bundle that best fits your needs. We recommend the 3 month bundle
                    for best results (and the best price!)</p>
                <p><span>Step 3</span> Enter your shipping and billing information on our secure checkout, and
                    we'll pack your order and send it out to you the following day.</p>
                <p><span>Step 4</span> Your Qure Micro-Infusion System will be delivered to your door, typically
                    shipping from our local warehouse within 7 working days. It's that straightforward!</p>
                <p class="d-md-block d-none">With competitive prices, responsive support, and flexible payment
                    plans, Qure is committed to
                    your skincare success.</p>
            </div>
            <div class="section_header mw-100 ">
                <div class="title-lg paddingB">Flexible Payment Plans</div>
                <p>We offer easy payment plans through Sezzle, AfterPay, and Klarna. Spread your
                    payments over four interest-free monthly installments and start your skincare transformation
                    today without the upfront cost.</p>
                <p>Trust Qure to support you on your journey to healthier, more radiant skin. Click
                    "Check Availability" now, and let's start transforming your skin together!</p>
            </div>
            <div class="section_header mw-100 limited_offer_faq">
                <div class="title-lg paddingB text-center">Take Charge Of Your Skincare With Qure. 
                    Limited Time Offer:</div>
                <div class="limited_offer_wrap">
                    <div class="limited_offer_wrap_img">
                        <img src="https://qureskincaredns.com/new/assets/limited_offer_wrap_img.webp" alt="" class="img-fluid">
                    </div>
                    <div class="limited_offer_wrap_list">
                        <ul>
                            <li>Unlock Exclusive Savings on the Qure Micro-Infusion System!</li>

                            <li>For a limited time, <strong>enjoy up to 43% off</strong> when you choose our
                                best bundle.</li>

                            <li>Click "Check Availability" below to see our current stock and secure your
                                discount!</li>
                        </ul>
                    </div>
                </div>
                <a href="#new-landing-purchase" class="black_btn btn buy_btn w-100 mt-3 mt-md-5">Check Availability Now</a>
            </div>
        </div>
    </div>
</div>
<!-- -- main banner end -- -->

<div class="shopify-section section">
    {% render 'serums-months-image-form-v2' with section_id: 'micro-infusion-faq-page-2' %}
    {% comment %} {% render 'serums-months-image-landing-form-special' with section_id: 'micro-infusion-faq-page-2' %} {% endcomment %}
</div>

{% comment %} <div class="section" id="productSubscription">
    {% render 'pdm_product-social-proof-data-snippet' %}
    {% render 'pdm_landing-page-purchase-process' %}
    <script defer src="{{ '__app_treatment-form.js' | asset_url }}"></script>
</div> {% endcomment %}

<!-- -- result section start -- -->
<div class="result_s section mi_landing_result" id="result_section">
    <div class="container">
        <div class="section_header text-start text-md-center">
            <h2 class="title-lg d-none d-md-block">
                Results you‘ll see with your own eyes
            </h2>
            <h2 class="title-lg d-block d-md-none">
                Real Women. Real Results.
            </h2>
        </div>
        <div class="result_s_wrapper">
            <div class="swiper dot_pagination result_slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_glorija.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/australia_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Glorija</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Best natural glow</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in Australia</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I was hesitant at first as I didn’t know how much it would hurt but to
                                        my
                                        surprise it was pretty painless. The 2nd day after the treatment, my
                                        skin
                                        has the best natural glow! I was also happy to to see how much my
                                        pigmentation had lightened after
                                        3rd
                                        treatment :) I switch between the serums depending on how my skin is
                                        before
                                        the treatment.”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_ellie.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Ellie V.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>my skin RETURNED to LIFE!</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I just turned 57 years. My skin was extremely dry and while using this
                                        product my skin RETURNED to LIFE! I am so impressed with it! My
                                        Coworkers ask me what I use in my skin.. and I tell them. Product easy
                                        to use and the needles are better that using a pen for microneedling.
                                        This is an amazing product that you will not regret in purchasing it. I
                                        really see the change in my skin. Outstanding job QURE!”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_mona.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Mona P.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Fade after just two treatments</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I personally think my products absorbed better, my skin looks a bit
                                        brighter and that larger acne scar on my right cheek has started to fade
                                        after just TWO treatments!”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_ela.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Ela O.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Shocked at the results</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“Shocked at the results after just one treatment!
                                        I’m not one to usually leave reviews... but I was shocked at how my skin
                                        looked the morning after my first treatment!</p>
                                    <p>Texture was soooo much smoother, my skin looked clear, glowy and healthy.
                                        The system was so easy to use and I can’t wait until my next treatment.”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_ann.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/australia_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Ann</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>I LOVE the results</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in Australia</p>
                                </div>
                                <div class="verified_img">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I heard about micro-infusion in clinics but couldn’t afford to fork out
                                        hundreds of dollars for a treatment. So when I saw this online I jumped
                                        at buying it instantly. Yes, it doesn’t stamp in botox and filler BUT
                                        personally I LOVE the results and how easy it is to use myself at
                                        home.<br>
                                        It works great for my skin, I have noticed my skin texture is much
                                        smoother and brighter.”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_chelsea.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Chelsea J.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Amazing results!</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>"Amazing results. I am just in shock at how great my skin is looking.
                                        This stuff has been amazing for hyperpigmentation and also some hormonal
                                        cystic acne. I will be continuing to support this business because it
                                        has brought the skin I know back. I was at my wits end with a hormonal
                                        breakout and bad hyperpigmentation."
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_jess1.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Jess</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>IT REALLY WORKS!!</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I committed to the 3 month saver bundle and after 6 treatments (2 weeks
                                        apart) I’m SO happy with the results!!! My pores are smaller and I have
                                        mainly noticed a difference in my skin texture. My skin goes a little
                                        red straight after the treatment but that quickly
                                        goes away. It’s a little uncomfortable when I do it on my forehead but
                                        it’s fine everywhere else. Totally worth it!!!”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_akina.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Akina M.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>I love this product</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I used three time so far. I can see the results from first time I used.
                                        I love this product but only thing is it’s take time to apply till used
                                        all serum per application. I tried many different way to press to my
                                        skin so the serum come out more but then a lot of time not.”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_andrea-a.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Andrea A.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Absolutely love it!</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I have used many topicals to help with post acne marks. This
                                        micro-infusion system has given me the most consistent results.
                                        Absolutely love it!”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_priya.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/england_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Priya P.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Plumper, more hydrated!</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United Kingdom</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“After the first use of EGF, my skin was plumper, more hydrated and skin
                                        tone improved radically, literally the next day. Love this product, will
                                        definitely be purchasing more as its really helped smooth out the fine
                                        lines also”
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_andrea-g.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Andrea G.</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>Definitely be re-ordering</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in United States</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“Still a newbie but so far so great! I have dermarolled for more than a
                                        decade -still do with .25 at least one a week. I’ve avoided getting a
                                        pen because there’s so much involved- but the Qure system is just
                                        awesome. So easy and user friendly and my skin loves the serum! Doing my
                                        third treatment Saturday and will definitely be re-ordering 🤗
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="result_item">
                            <div class="result_img_m">
                                <img src="https://qureskincaredns.com/new/assets/results_ramandeep.webp" alt="" class="img-fluid">
                            </div>
                            <div class="result_c_info">
                                <div class="r_flag">
                                    <div class="flag_img">
                                        <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                    </div>
                                    <p class="r_c_name pe-2">Ramandeep</p>
                                </div>
                                <div class="star_gp">
                                    <img src="https://qureskincaredns.com/new/assets/results_star-full.svg" alt="">
                                    <p>I definitely see a difference</p>
                                </div>
                                <div class="reviewed">
                                    <p>Reviewed in Michigan</p>
                                </div>
                                <div class="verified_img">
                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                    <p>Verified customer</p>
                                </div>
                            </div>
                            <div class="result_item_info">
                                <div class="result_content">
                                    <p>“I have done 2 treatments - 1 for rejuvenating and 2 for hydration with 3
                                        week gap in between treatments. I definitely see a difference in before
                                        and after pictures. I am sure I need 4-8 more treatments but this did
                                        make a difference.”
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination_navigation">
                    <div class="swiper-pagination"></div>
                    <div class="qureSlider-swiper-prev swiper-button-prev swiper-button"></div>
                    <div class="qureSlider-swiper-next swiper-button-next swiper-button"></div>
                </div>
            </div>
        </div>
        <div class="w-100 text-center">
            <a href="#new-landing-purchase" class="black_btn btn buy_btn mw-525 mt-3 mx-auto w-100">Check Availability And Apply Discount Now</a>
        </div>
    </div>
</div>
<!-- -- result section end -- -->
<div class="offering_period_bl mw-855 mb-5">
    <div class="container">
        <div class="offering_period bg-grey">
            <p><strong>As of 07/30/24:</strong></p>
            <p>
                To celebrate more women saying no to the hype and yes to simple skincare that works, we're
                offering a
                limited-time discount of up to 43% for this month only.</p>
        </div>
    </div>
</div>


<script src="https://qureskincaredns.com/new/assets/custom_treatment.js" defer="defer"></script>
<script src="https://fast.wistia.com/embed/medias/3ahwzg8wjz.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var swiperT = new Swiper(".mySwiperFAQ", {
            spaceBetween: 10,
            slidesPerView: 1,
            watchSlidesProgress: true,
            touchRatio: 0,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
        var swiper2 = new Swiper(".mySwiperFAQ2", {
            spaceBetween: 20,
            slidesPerView: 1.2,
            touchRatio: 0,
            thumbs: {
                swiper: swiperT,
            },
            breakpoints: {
                768: {
                    slidesPerView: 1,
                }
            },
        });
        swiperT.on('slideChange', function () {
            swiper2.slideTo(swiperT.activeIndex);
        });

        swiper2.on('slideChange', function () {
            swiperT.slideTo(swiper2.activeIndex);
        });
    });
</script>