<!-- -- trusted section start -- -->
<div class="anti_cream-trusted trusted_bl section pb-0 trustedVerified1">
    <div class="container">
        <div class="section_header text-start text-md-center mw-100 pb-0">
            <h2 class="title-lg d-md-block d-none">
                Dermatologist's go-to choice for their own skin
            </h2>
            <h2 class="title-lg d-md-none d-block">
                Reviewed & approved by leading dermatologists…
            </h2>
        </div>
        <div class="trusted_wrapper pt-3 videosQure_dropdown faq">
            <div class="swiper dot_pagination trustedSwipper twa__swiper" id="twa__swiper-trustedSwipper"
                data-section-id="trustedSwipper" data-autoplay="false" data-loop="false"
                data-centerslide="false" data-mobile="1.3" data-tablet="3" data-desktop="4" data-spacing="20"
                data-arrowleft="trustedSwipper-swiper-prev" data-arrowright="trustedSwipper-swiper-next">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="">
                            <div class="trust_img">
                                <img src="https://qureskincaredns.com/new/assets/trusted_dr1.webp" alt="" class="img-fluid">
                                <div class="play_btn">
                                    <a class="popup-youtube">
                                        <div class="wistia_responsive_padding" style="position:relative;">
                                            <div class="wistia_responsive_wrapper"
                                                style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                <span
                                                    class="wistia_embed wistia_async_9bv0lzoi1d popover=true videoFoam=true"
                                                    style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                            </div>
                                            <span><img src="https://qureskincaredns.com/new/assets/trusted_play_md.svg" alt="">
                                                <h6>Watch Review</h6>
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="trusted_doctor-info">
                                <h2>
                                    Dr Maxfield and Dr Shah
                                </h2>
                                <p class="vQ_desc">Board-Certified Dermatologists</p>
                                <p class="vq_txt">"...[Qure's Micro-Infusion] will help your products penetrate
                                    better"</p>
                            </div>
                            <div class="trusted_tag_sm">
                                <img src="https://qureskincaredns.com/new/assets/trusted_play_esm.svg" alt="">2.8M Subscribers
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="">
                            <div class="trust_img">
                                <img src="https://qureskincaredns.com/new/assets/trusted_dr2.webp" alt="" class="img-fluid">
                                <div class="play_btn">
                                    <a class="popup-youtube"
                                        href="https://www.youtube.com/watch?v=gGVKgTHloXw"><span><img
                                                src="https://qureskincaredns.com/new/assets/trusted_play.svg" alt="" class="w-auto">
                                            <h6>Watch Review</h6>
                                        </span></a>
                                </div>
                            </div>
                            <div class="trusted_doctor-info">
                                <h2>
                                    Dr Anthony Youn
                                </h2>
                                <p class="vQ_desc">Board-Certified Plastic Surgeon</p>
                                <p class="vq_txt">“Qure’s System is the closest thing that you can get to
                                    bringing ..."</p>
                            </div>
                            <div class="trusted_tag_sm">
                                <img src="https://qureskincaredns.com/new/assets/trusted_play_esm.svg" alt="">5.1M Subscribers
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="">
                            <div class="trust_img">
                                <img src="https://qureskincaredns.com/new/assets/trusted_dr3.webp" alt="" class="img-fluid">
                                <div class="play_btn">
                                    <a class="popup-youtube"
                                        href="https://cdn.shopify.com/videos/c/o/v/71857fdec6b0497294117ed84cab480e.mp4"><span><img
                                                src="https://qureskincaredns.com/new/assets/trusted_play.svg" alt="" class="w-auto">
                                            <h6>Watch Review</h6>
                                        </span></a>
                                </div>
                            </div>
                            <div class="trusted_doctor-info">
                                <h2>
                                    Dr Mona Patel
                                </h2>
                                <p class="vQ_desc">Internal Medicine Doctor</p>
                                <p class="vq_txt">"My skin is brighter, more hydrated, and my products absorb
                                    better..."</p>
                            </div>
                            <div class="trusted_tag_sm">
                                <img src="https://qureskincaredns.com/new/assets/trusted_play_esm.svg" alt="">2.1M Views
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="">
                            <div class="trust_img">
                                <img src="https://qureskincaredns.com/new/assets/trusted_dr4.webp" alt="" class="img-fluid">
                                <div class="play_btn">
                                    <a class="popup-youtube"
                                        href="https://cdn.shopify.com/videos/c/o/v/d5d0c051b43e4117be7b6308e06e8f66.mp4"><span
                                            class="justify-content-center"><img src="https://qureskincaredns.com/new/assets/trusted_play_md.svg"
                                                alt="" class="w-auto">
                                            <h6>Watch Review</h6>
                                        </span></a>
                                </div>
                            </div>
                            <div class="trusted_doctor-info">
                                <h2>
                                    Dr Aleksandra Brown
                                </h2>
                                <p class="vQ_desc">Board-Certified Dermatologist</p>
                                <p class="vq_txt">"I have liked this in between my in-office treatments. It’s
                                    convenient..."</p>
                            </div>
                            <div class="trusted_tag_sm">
                                <img src="https://qureskincaredns.com/new/assets/trusted_play_esm.svg" alt="">150K Followers
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination_navigation">
                    <div class="swiper-pagination"></div>
                    <div class="trustedSwipper-swiper-prev swiper-button-prev swiper-button"></div>
                    <div class="trustedSwipper-swiper-next  swiper-button-next swiper-button"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- trusted section end -- -->