<!-- -- qure uses start -- -->
<div class="q_uses_bl section">
    <div class="container">
        <div class="section_header mb-3 text-center">
            <h2 class="title-lg paddingB">{{ section.settings.heading }}</h2>
            <p>{{ section.settings.top_heading }}</p>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 q_uses_item-outer">
                <div class="q_uses_item px-3">
                    <div class="q_uses_res">
                        <div class="q_use_img">
                            <img src="https://qureskincaredns.com/new/assets/cus_acc_1.webp" alt="" class="img-fluid">
                        </div>
                        <div class="q_uses_header">
                            <p>Trusted by world-leading dermatologists</p>
                            <div class="arrow text-end">
                                <img src="https://qureskincaredns.com/new/assets/arrow-down.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="q_uses_desc">
                        <p>Dr. Shah, an MD Board Certified Dermatologist, reviewed that it’s "the best LED mask
                            the market, in my opinion.”
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 q_uses_item-outer">
                <div class="q_uses_item px-3">
                    <div class="q_uses_res">
                        <div class="q_use_img">
                            <img src="https://qureskincaredns.com/new/assets/cus_acc_2.webp" alt="" class="img-fluid">
                        </div>
                        <div class="q_uses_header">
                            <p>Proven results in less than 12 weeks</p>
                            <div class="arrow text-end">
                                <img src="https://qureskincaredns.com/new/assets/arrow-down.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="q_uses_desc">
                        <p>Customers have reported reduced redness, diminished fine lines & wrinkles, and a
                            glowing, younger-looking complexion after several weeks of consistent use.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 q_uses_item-outer">
                <div class="q_uses_item px-3">
                    <div class="q_uses_res">
                        <div class="q_use_img">
                            <img src="https://qureskincaredns.com/new/assets/cus_acc_3.webp" alt="" class="img-fluid">
                        </div>


                        <div class="q_uses_header">
                            <p>Alleviates many different skin concerns</p>
                            <div class="arrow text-end">
                                <img src="https://qureskincaredns.com/new/assets/arrow-down.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="q_uses_desc">
                        <p>Choose between an anti-aging treatment, an anti-breakout treatment, or customized
                            treatment modes for each facial area.</p>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3 q_uses_item-outer">
                <div class="q_uses_item px-3">
                    <div class="q_uses_res">
                        <div class="q_use_img">
                            <img src="https://qureskincaredns.com/new/assets/cus_acc_4.webp" alt="" class="img-fluid">
                        </div>
                        <div class="q_uses_header">
                            <p>Track your treatments with Qure mobile app</p>
                            <div class="arrow text-end">
                                <img src="https://qureskincaredns.com/new/assets/arrow-down.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="q_uses_desc">
                        <p>Seamlessly pairs with our mobile app (iPhone and Android) for easy treatment
                            planning, tracking, and scheduling. Never miss a treatment with in-app phone
                            reminders, too.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- -- qure uses end -- -->

{% schema %}
    {
        "name": "Uses Dropdown",
        "class": "section-main",
        "settings": [
            {
                "type": "richtext",
                "id": "top_heading",
                "label": "t:common.heading.label"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.heading.label"
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name": "t:common.image.label",
                "limit": 12,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "t:common.image.label"
                    }
                ]
		    },
            {
                "type": "button",
                "name": "t:common.button.name",
                "limit": 1,
                "settings": [
                    {
                        "type": "text",
                        "id": "button_label",
                        "default": "Button label",
                        "label": "t:common.button.label",
                        "info": "t:common.button.info"
                    },
                    {
                        "type": "url",
                        "id": "button_url",
                        "label": "t:common.button.url.label"
                    },
                    {
                        "type": "text",
                        "id": "text_first",
                        "label": "t:common.text.label",
                        "default": "Dermatologist-Reviewed"
                    },
                    {
                        "type": "image_picker",
                        "id": "btn2_icon",
                        "label": "Icon"
                    },
                    {
                        "type": "image_picker",
                        "id": "btn1_icon",
                        "label": "Icon"
                    },
                    {
                        "type": "text",
                        "id": "text_second",
                        "label": "t:common.text.label",
                        "default": "30-Day Money-Back Guarantee"
                    }
                ]
		    }
        ],
        "presets":[
            {
            "name": "Uses Dropdown",
        }
        ]
    }
{% endschema %}