/* Start Side Cart: Upsell Carousel by samu3le*/
.my-floating-cart {
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
}

.my-floating-cart .drawer__overlay {
  opacity: .8;
  z-index: 999;
}

@media (max-height: 778px) {
  .my-floating-cart .drawer__wrapper {
    overflow-y: visible !important;
  }
}


@media screen and (min-width: 1180px) {
  .my-floating-cart form.my-cart {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
  }

  .my-floating-cart form.my-cart .my-cart__info {
    overflow-y: auto;
    flex: 1;
  }
}

.my-floating-cart form.my-cart .custom_upsell {
  background: #C8E6DC;
  padding: 14px 20px;
  display: block;
}

.my-floating-cart form.my-cart .custom_upsell .upsell_title {
  font-family: "Canela Web", sans-serif;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 200% */
  letter-spacing: 0.14px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  gap: 0;
  padding: 0;
  margin-bottom: 8px;
}

.my-floating-cart form.my-cart .custom_upsell > div {
  display: flex;
  align-items: flex-start;
  gap: 13px;
  height: auto;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .my-floating-cart form.my-cart .custom_upsell > div {
    justify-content: center;
  }
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #C8E6DC;
  gap: 8px;
  padding: 0;
  border: none;
  flex: auto;
  max-height: 215px;
  height: 215px;
  max-width: 127px;
  width: 127px;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_main > div {
  align-items: flex-start;
  gap: 8px;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image {
  flex-direction: column;
  padding-top: 0;
  flex: 1;
  width: 100%;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_product {
  max-width: none;
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_product img {
  max-width: 127px;
  max-height: 92px;
  width: 127px;
  height: 92px;
  background: #FFF;
  border-radius: 8px;
  object-fit: contain;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  color: #000;
  font-family: "Canela Web", sans-serif;
  max-width: 127px;
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.14px;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content h4,
.my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content p {
  width: 100%;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content h4 {
  color: #000;
  font-family: "Canela Web";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.14px;
  opacity: 0.8;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content p {
  opacity: 0.8;
  color: #000;
  font-family: Poppins;
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0.1px;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_price .upsell_amt {
  display: none;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_price a {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 18.683px; /* 169.849% */
  letter-spacing: 0.11px;
  width: auto;
  display: flex;
  align-items: center;
  padding: 6px 10px;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_price a .upsell_amt {
  display: flex;
  margin: 0;
  text-align: start;
  min-width: 0 !important;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_price a .upsell_amt span {
  color: #D7D9D9;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.683px;
  letter-spacing: 0.11px;
  text-decoration-line: strikethrough;
  -moz-text-decoration-line: strikethrough;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_price a .upsell_amt i {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 18.683px; /* 169.849% */
  letter-spacing: 0.11px;
}

.my-floating-cart form.my-cart .custom_upsell > div::-webkit-scrollbar {
  display: none;
}

.my-floating-cart form.my-cart .custom_upsell .align-slide {
  justify-content: flex-start;
}

@media screen and (min-width: 1180px) {
  .my-floating-cart form.my-cart .custom_upsell {
    position: fixed;
    transform: translate(-100%, 0%);
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    overflow-y: hidden;
    background: transparent;
    padding-right: 1vw;
  }

  .my-floating-cart form.my-cart .custom_upsell .upsell_title {
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.28px;
    margin-bottom: 0;
  }

  .my-floating-cart form.my-cart .custom_upsell > div {
    gap: 20px;
  }

  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main {
    max-width: 186px;
    width: 186px;
    padding: 12px;
    gap: 0;
    justify-content: space-between;
    border-radius: 8px;
    flex: 1;
    max-height: 281px;
    height: 281px;
  }

  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main > div {
    gap: 18px;
  }

  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image {
    gap: 12px;
    max-height: 213px;
  }

  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_product {
    border-radius: 6px;
  }

  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_product img {
    width: 162px;
    max-width: 162px;
    height: 108px;
    max-height: 108px;
    border-radius: 6px;
    object-fit: contain;
  }

  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: none;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.16px;
  }

  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content h4 {
    color: #000;
    font-family: "Canela Web";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.16px;
  }

  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content p {
    color: #000;
    font-family: Poppins;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 12px; /* 145.455% */
  }

  .my-floating-cart form.my-cart .custom_upsell > div .upsell_price {
    margin-top: 0;
    justify-content: space-between;
  }

  .my-floating-cart form.my-cart .custom_upsell > div .upsell_price .upsell_amt {
    display: none;
  }

  .my-floating-cart form.my-cart .custom_upsell > div .upsell_price a {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 18.683px; /* 169.849% */
    letter-spacing: 0.11px;
    width: auto;
    display: flex;
    align-items: center;
  }

  .my-floating-cart form.my-cart .custom_upsell > div .upsell_price a .upsell_amt {
    display: flex;
    margin: 0;
    text-align: start;
    min-width: 0 !important;
  }

  .my-floating-cart form.my-cart .custom_upsell > div .upsell_price a .upsell_amt span {
    color: #D7D9D9;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.683px;
    letter-spacing: 0.11px;
    text-decoration-line: strikethrough;
    -moz-text-decoration-line: strikethrough;
  }

  .my-floating-cart form.my-cart .custom_upsell > div .upsell_price a .upsell_amt i {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 18.683px; /* 169.849% */
    letter-spacing: 0.11px;
  }

  .my-floating-cart form.my-cart .custom_upsell .align-slide {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1203px) {
  .my-floating-cart form.my-cart .custom_upsell {
    padding-right: 80px;
  }
}

.my-floating-cart form.my-cart .custom_upsell .swiper-pagination {
  display: block;
  margin: 0px;
}

@media screen and (min-width: 1180px) {
  .my-floating-cart form.my-cart .custom_upsell .swiper-pagination {
    display: none;
  }
}

.my-floating-cart form.my-cart .custom_upsell .swiper-pagination .swiper-pagination-bullet {
  background: #FFF;
  opacity: 1;
}

.my-floating-cart form.my-cart .custom_upsell .swiper-pagination .swiper-pagination-bullet-active {
  background: #000;
}

.my-floating-cart form.my-cart .custom_upsell.notVisible {
  display: none;
}

@media screen and (min-width: 1140px) {
  .cart_total-checkout .drawer__cart-checkout-btn {
    padding: 3px 20px;
  }
}

.my-floating-cart form.my-cart .custom_upsell .swiper-button-next,
.my-floating-cart form.my-cart .custom_upsell .swiper-button-prev {
  display: none !important;
}


/* data test price upsell */

.my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content.upsell_content_desktop{
  display: none;
}

.my-floating-cart form.my-cart .custom_upsell{
  padding: 14px 20px 30px;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_main{
  height: 236px;
  max-height: 236px;
}


.my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content{
  height: 100%;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content .upsell_content-text{
  height: 89px;
  max-height: 89px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content .upsell_content-text h4{
  color: #000;
  font-family: "Canela Web", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.14px;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content .upsell_content-text p{
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: 16px; /* 160% */
  letter-spacing: 0.1px;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content .upsell_content-price-wrapper{
  display: none;
  flex-direction: row;
  gap: 6px;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content .upsell_content-price-wrapper .upsell_content-price-wrapper--full{
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.12px;
  color: #b3b3b3;
  text-decoration: line-through;
}

.my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content .upsell_content-price-wrapper .upsell_content-price-wrapper--real{
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.12px;
  color: black;
}

@media screen and (width >= 1025px) {
  .my-floating-cart form.my-cart .custom_upsell{
    padding: 14px 80px 30px 20px;
  }

  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main{
    height: 288px;
    max-height: 288px;
  }

  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content{
    gap: 0;
    height: 100%;
    justify-content: space-between;
    gap: 6px;
  }

  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content.upsell_content_mobile{
    display: none;
  }
  
  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content.upsell_content_desktop{
    display: flex;
  }
  
  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content.upsell_content_desktop .upsell_content-price-wrapper{
    display: flex;
  }
  
  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content .upsell_content-text{
    height: 78px;
    max-height: 78px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  
  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content .upsell_content-text h4{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.16px;
  }
  
  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content .upsell_content-text p{
    align-self: stretch;
    font-size: 10px;
    font-style: italic;
    font-weight: 400;
    line-height: 16px; /* 145.455% */
  }
  
  .my-floating-cart form.my-cart .custom_upsell > div .upsell_price a .upsell_amt{
    display: none;
  }
  
  .my-floating-cart form.my-cart .custom_upsell > div .upsell_price .upsell_amt .money{
    display: none;
  }
}

/* end data test price upsell */

/* Start gamification */
.drawer_top_sticky{
  box-shadow: 0px -11px 20px 0px #000;
}

.drawer__cart-total .drawer__cart-total-price.pdm-Total-Checkout {
  display: block;
}

.progress-container.pdm-gamification {
  display: flex;
  padding: 8px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  align-self: stretch;
  background: #fff;
  @media screen and (min-width: 769px){
    padding: 8px 80px;
  }
}

.progress-container.pdm-gamification .progress-container__message > p {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.55px;

  @media screen and (min-width: 769px){
    letter-spacing: 0.33px;
  }
}

.progress-container.pdm-gamification .progress-container__message > p strong{
  font-weight: 600;
}

.progress-container.pdm-gamification .progress-bar-container {
  height: 58px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.progress-container.pdm-gamification .progress-bar-container .progress-bar {
  height: 4px;
  background-color: #e0e0e0;
  border-radius: 4px;
  position: relative;
  overflow: visible;
  width: 100%;
}

.progress-container.pdm-gamification .progress-bar-container .progress-bar .progress {
  height: 100%;
  background-color: #000;
  border-radius: 4px;
  transition: width 0.3s ease;
}

.progress-container.pdm-gamification .progress-bar-container .milestone {
  position: absolute;
  top: 0.6em;
  transform: translateX(-50%);
}

.progress-container.pdm-gamification .progress-bar-container .milestone .milestone-icon {
  font-size: 20px;
  line-height: 1;
  border-radius: 50%;
  background: #E2E2E2;
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.progress-container.pdm-gamification .progress-bar-container .milestone .milestone-icon.backgound-black {
  background: #000;
}

.progress-container.pdm-gamification .progress-bar-container .milestone .milestone-label {
  color: #A6A6A6;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.progress-container.pdm-gamification .progress-bar-container .milestone.first-milestone {
  left: 20%;
}

.progress-container.pdm-gamification .progress-bar-container .milestone.second-milestone {
  left: 80%;
}

/* End gamification */
/* new sidecart timer  */

.sidecart-timer-container {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
}

.sidecart-timer-container .sidecart-timer-container__label { 
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.12px;
  margin-right: 6px;
} 

.sidecart-timer-container .sidecart-timer-container__timer { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidecart-timer-container .sidecart-timer-container__timer .amount-wrapper { 
  width: 60px;
  display: flex;
  padding: 0 12px;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #C92127;
}

.sidecart-timer-container .sidecart-timer-container__timer .sidecart-timer-container__timer--seconds {
  border-right: unset;
} 

.sidecart-timer-container .sidecart-timer-container__timer .amount-wrapper .sidecart-timer-container__timer--days-amount, 
.sidecart-timer-container .sidecart-timer-container__timer .amount-wrapper .sidecart-timer-container__timer--hours-amount, 
.sidecart-timer-container .sidecart-timer-container__timer .amount-wrapper .sidecart-timer-container__timer--minutes-amount, 
.sidecart-timer-container .sidecart-timer-container__timer .amount-wrapper .sidecart-timer-container__timer--seconds-amount {
  height: 24px;
  color: #C92127;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.2px;
} 

.sidecart-timer-container .sidecart-timer-container__timer .amount-wrapper .sidecart-timer-container__timer--days-label, 
.sidecart-timer-container .sidecart-timer-container__timer .amount-wrapper .sidecart-timer-container__timer--hours-label, 
.sidecart-timer-container .sidecart-timer-container__timer .amount-wrapper .sidecart-timer-container__timer--minutes-label, 
.sidecart-timer-container .sidecart-timer-container__timer .amount-wrapper .sidecart-timer-container__timer--seconds-label {
  color: #C92127;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; 
  letter-spacing: 0.09px;
} 

@media screen and (max-width: 768px) {
  .sidecart-timer-container .sidecart-timer-container__label { 
    margin-right: 0;
  } 
}

@media screen and (max-width: 400px) {

  .sidecart-timer-container { 
    justify-content: space-evenly;
  } 

  .sidecart-timer-container .sidecart-timer-container__label { 
    margin-left: 5px;
  } 

  .sidecart-timer-container .sidecart-timer-container__timer .amount-wrapper { 
    width: 48px;
    padding: 0 10px;
  }
}

/* end new sidecart time */