/* GENERAL CSS */
.hidden {
  display: none !important;
}

/* navbar fix for ab test */

.header-new.new-hp-header{
  width: 100%;
  max-width: none !important;
  padding: 5px 2rem !important;
}

.header-new .menu{
  justify-content: space-around;
}

.header-new .menu li {
  padding-right: 14px !important;
}


/* buttons banner abt test */

.btn-container-sunil {
  display: flex;
  gap: 10px;
}

 #btn-hero-sunil {
  width: 50% !important;
  font-size: 20px;
}

.order-home-sunil > p {
  visibility: hidden;
}

@media screen and (max-width: 768px) {

  /* navbar */
  .mobile-menu-custome ul#menu li.title:first-child {
    margin-top: 25px !important;
  }

  .mobile-menu-custome ul#menu li.title {
    margin-bottom: 22px!important;
  }

  /* hero */
  
  .btn-container-sunil{
    flex-direction: column;
  }
    
  #btn-hero-sunil{
    width: 100% !important;
  }

  .order-home-sunil{
    order: 1 !important;
  }

  
}


/* INFO CARD */

.info-card .info-card__mobile-image {
  display: none;
}
.info-card .info-card__desktop-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
@media screen and (max-width: 768px) {

  .info-card .info-card__desktop-image {
    display: none;
  }

  .info-card .info-card__mobile-image {
    display: block;
  }
  
}
/* PDP Social Proof Data*/
.social-proof-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: -20px;
  z-index: 98;
  border-radius: 16px 16px 0px 0px;
  border-top: 1px solid #C92127;
  border-right: 1px solid #C92127;
  border-left: 1px solid #C92127;
  background: #D44D52;
  transform: translate(-50%, -50%);
  padding: 9px 12px 8px 16px;
  gap: 16px;
}
.social-proof-data-container.hidden { 
  display: none;
}
.social-proof-data-container .text-container { 
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; 
  letter-spacing: 1px;
}
.social-proof-data-container .close-icon { 
  color: #870B0F;  
  cursor: pointer;
}
.social-proof-data-container .circle-container {
  position: relative;
  width: 20px; 
  height: 20px; 
}
.social-proof-data-container .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; 
  height: 10px; 
  background-color: #C8E6DC;
  border-radius: 50%;
}
.social-proof-data-container .shine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; 
  height: 10px; 
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(200, 230, 220); 
  animation: shine 2s linear infinite; 
}

@keyframes shine {
  0% {
    box-shadow: 0 0 10px rgba(200, 230, 220); 
  }
  50% {
    box-shadow: 0 0 20px rgba(200, 230, 220, 1), 0 0 20px rgba(200, 230, 220, 1), 0 0 20px rgba(200, 230, 220, 1); 
  }
  100% {
    box-shadow: 0 0 10px rgba(200, 230, 220); 
  }
}

@media screen and (max-width: 768px) {
  .social-proof-data-container { 
    width: 85%;
    padding-bottom: 18px;
    bottom: -25px;
  }
  iframe#launcher.new-bottom { 
    bottom: 40px !important;
  }
  .button_sticky_wrapper.new-bottom { 
    bottom: 60px !important;
  }

}
@media screen and (max-width: 400px) {
  .social-proof-data-container { 
    bottom: -30px;
    padding-bottom: 18px;
    gap: 8px;
  }
}

/* ORDER BY RECEIVE BY */

.orderby-receiveby {
  display: flex;
  text-align: center;
  margin: 20px 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mi_refill1 .orderby-receiveby {
  margin-bottom: 0;
}

.orderby-receiveby svg {
  margin: 0 6px;
}

.orderby-receiveby .orderby-receiveby__today-text {
  margin-right: 6px;
}
.orderby-receiveby .orderby-receiveby__today-text,
.orderby-receiveby .orderby-receiveby__shipping-text {
  color:#000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@media screen and (max-width: 834px) {
  .orderby-receiveby .orderby-receiveby__today-text {
    margin-right: 6px;
  }
  .orderby-receiveby .orderby-receiveby__today {
    margin-right: 8px;
  }
  .orderby-receiveby .orderby-receiveby__today-text,
  .orderby-receiveby .orderby-receiveby__shipping-text {
    font-size: 12px;
    line-height: 16px;
  }
  .orderby-receiveby svg {
    margin: 0;
    width: 22px;
    height: 22px;
  } 
}

@media screen and (min-width: 767px) {
  .orderby-receiveby {
    display: none;
  }
}


/*   PDP: Before & After First Image  */

@keyframes fadeInBa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

  body.body.product.sunil-q-urify #info-product{
    height: 472px;
  }
  @media screen and (max-width: 768px){
    body.body.product.sunil-q-urify #info-product{
      height: 350px;
    }
  }
  @media screen and (max-width: 640px){
    body.body.product.sunil-q-urify #info-product{
      height: 330px;
    }
  }
  @media screen and (max-width: 375px){
    body.body.product.sunil-q-urify #info-product{
      height: 310px;
    }
  }
  @media screen and (max-width: 320px){
    body.body.product.sunil-q-urify #info-product{
      height: 265px;
    }
  }
  body.body.product.sunil-q-urify #info-product .swiper-products{
    width: 100%;
  }
  body.body.product.sunil-q-urify #info-product .swiper-products .swiper-slide{
    height: 472px;
  }
  @media screen and (max-width: 768px){
    body.body.product.sunil-q-urify #info-product .swiper-products .swiper-slide{
      height: 350px;
    }
  }
  @media screen and (max-width: 640px){
    body.body.product.sunil-q-urify #info-product .swiper-products .swiper-slide{
      height: 330px;
    }
  }
  @media screen and (max-width: 375px){
    body.body.product.sunil-q-urify #info-product .swiper-products .swiper-slide{
      height: 310px;
    }
  }
  @media screen and (max-width: 320px){
    body.body.product.sunil-q-urify #info-product .swiper-products .swiper-slide{
      height: 265px;
    }
  }
  body.body.product.sunil-q-urify #info-product .swiper-products .swiper-slide .popup-youtube{
    height: 472px;
  }
  @media screen and (max-width: 768px){
    body.body.product.sunil-q-urify #info-product .swiper-products .swiper-slide .popup-youtube{
      height: 350px;
    }
  }
  @media screen and (max-width: 640px){
    body.body.product.sunil-q-urify #info-product .swiper-products .swiper-slide .popup-youtube{
      height: 330px;
    }
  }
  @media screen and (max-width: 375px){
    body.body.product.sunil-q-urify #info-product .swiper-products .swiper-slide .popup-youtube{
      height: 310px;
    }
  }
  @media screen and (max-width: 320px){
    body.body.product.sunil-q-urify #info-product .swiper-products .swiper-slide .popup-youtube{
      height: 265px;
    }
  }
  body.body.product.sunil-q-urify #info-product #image-id{
    display: flex;
    width: 100%;
    height: 100%;
  }
  body.body.product.sunil-q-urify #info-product #image-id .img-fluid{
    border-radius: 0 0 16px 16px;
    padding: 0 2px 2px 2px;
    object-fit: contain;
    max-width: fit-content;
    margin: 0 auto;
  }
  body.body.product.sunil-q-urify #info-product .banner-popup-link #image-id{
    display: flex;
    width: 100%;
    height: 100%;
  }
  body.body.product.sunil-q-urify #info-product .banner-popup-link #image-id .img-fluid{
    max-width: fit-content;
    margin: 0 auto;
    border-radius: 0 0 16px 16px;
    padding: 0 2px 2px 2px;
    object-fit: contain;
  }
  body.body.product.sunil-q-urify #info-product .banner-popup-link::before{
    content: none;
  }
  body.body.product.sunil-q-urify #info-product .swiper-pagination-products{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 15px;
    z-index: 2;
  }
  body.body.product.sunil-q-urify #info-product .swiper-pagination-products .swiper-pagination-bullet-active{
    background-color: black;
  }


  /* main container */
  .before-after-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .before-after-container .before-after-container-wrapper{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 0 10px 2rem 10px;
  }

  @media screen and (max-width: 768px){
    .before-after-container .before-after-container-wrapper{
      gap: 8px;   
    }
  }
  @media screen and (max-width: 640px){
    .before-after-container .before-after-container-wrapper{
      padding: 0px 0px 10px 0px;
    }
  }
  .before-after-container .panel__container{
    width: 100%;
    max-width: 521px;
    height: 100%;
    max-height: 472px;
  }

  @media screen and (max-width: 1024px){
    .before-after-container .panel__container{
      max-width: 500px;
    }
  }
  @media screen and (max-width: 768px){
    .before-after-container .panel__container{
      max-width: calc(768px - (768px * 0.55 ));
    }
  }
  @media screen and (max-width: 640px){
    .before-after-container .panel__container{
      max-width: calc(425px - (425px * 0.1 ));
    }
  }
  @media screen and (max-width: 375px){
    .before-after-container .panel__container{
      max-width: calc(375px - (375px * 0.1 ));
    }
  }
  @media screen and (max-width: 320px){
    .before-after-container .panel__container{
      max-width: calc(320px - (320px * 0.1 ));
    }
  }

  .before-after-container .panel{
    display: none;
  }
  .before-after-container .panel.active{
    display: block;
    animation: fadeInBa 1s linear;
  }

  #info-product{
    height: 472px;
  }
  @media screen and (max-width: 768px){
    #info-product{
      height: 350px;
    }
  }
  @media screen and (max-width: 640px){
    #info-product{
      height: 330px;
    }
  }
  @media screen and (max-width: 375px){
    #info-product{
      height: 310px;
    }
  }
  @media screen and (max-width: 320px){
    #info-product{
      height: 265px;
    }
  }
  #info-product .swiper-products{
    width: 100%;
  }
  #info-product .swiper-products .swiper-slide{
    height: 472px;
  }
  @media screen and (max-width: 768px){
    #info-product .swiper-products .swiper-slide{
      height: 350px;
    }
  }
  @media screen and (max-width: 640px){
    #info-product .swiper-products .swiper-slide{
      height: 330px;
    }
  }
  @media screen and (max-width: 375px){
    #info-product .swiper-products .swiper-slide{
      height: 310px;
    }
  }
  @media screen and (max-width: 320px){
    #info-product .swiper-products .swiper-slide{
      height: 265px;
    }
  }
  #info-product .swiper-products .swiper-slide .popup-youtube{
    height: 472px;
  }
  @media screen and (max-width: 768px){
    #info-product .swiper-products .swiper-slide .popup-youtube{
      height: 350px;
    }
  }
  @media screen and (max-width: 640px){
    #info-product .swiper-products .swiper-slide .popup-youtube{
      height: 330px;
    }
  }
  @media screen and (max-width: 375px){
    #info-product .swiper-products .swiper-slide .popup-youtube{
      height: 310px;
    }
  }
  @media screen and (max-width: 320px){
    #info-product .swiper-products .swiper-slide .popup-youtube{
      height: 265px;
    }
  }

  #info-product #image-id{
    display: flex;
    width: 100%;
    height: 100%;
  }
  #info-product #image-id .img-fluid{
    border-radius: 0 0 16px 16px;
    padding: 0 2px 2px 2px;
    object-fit: contain;
    max-width: fit-content;
    margin: 0 auto;
  }

  #info-product .banner-popup-link #image-id{
    display: flex;
    width: 100%;
    height: 100%;
  }
  #info-product .banner-popup-link #image-id .img-fluid{
    max-width: fit-content;
    margin: 0 auto;
    border-radius: 0 0 16px 16px;
    padding: 0 2px 2px 2px;
    object-fit: cover;
  }
  #info-product .banner-popup-link::before{
    content: none;
  }
  #info-product .swiper-pagination-products{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 15px;
    z-index: 2;
  }
  #info-product .swiper-pagination-products .swiper-pagination-bullet-active{
    background-color: black;
  }

  #info-product{
    height: 472px;
  }
  @media screen and (max-width: 768px){
    #info-product{
      height: 350px;
    }
  }
  @media screen and (max-width: 640px){
    #info-product{
      height: 330px;
    }
  }
  @media screen and (max-width: 375px){
    #info-product{
      height: 310px;
    }
  }
  @media screen and (max-width: 320px){
    #info-product{
      height: 265px;
    }
  }
  
  #info-product .banner_img{
    width: 100%;
    height: 100%;
  }
  #info-product .banner_img .img-fluid{
    width: 100%;
    height: 100%;
    border-radius: 0 0 16px 16px;
    padding: 0 3px 3px 3px;
  }
  #info-product .swiper-page-product{
    width: 100%;
  }
  #info-product .swiper-page-product .swiper-slide{
    height: 472px;
  }
  @media screen and (max-width: 768px){
    #info-product .swiper-page-product .swiper-slide{
      height: 350px;
    }
  }
  @media screen and (max-width: 640px){
    #info-product .swiper-page-product .swiper-slide{
      height: 330px;
    }
  }
  @media screen and (max-width: 375px){
    #info-product .swiper-page-product .swiper-slide{
      height: 310px;
    }
  }
  @media screen and (max-width: 320px){
    #info-product .swiper-page-product .swiper-slide{
      height: 265px;
    }
  }
  #info-product .swiper-page-product .banner-popup-link .img-fluid{
    border-radius: 0 0 16px 16px;
    padding: 0 5px 5px 5px;
  }
  #info-product .swiper-page-product .banner-popup-link::before{
    content: none;
  }
  #info-product .swiper-page-product .swiper-pagination-product-page{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 15px;
    z-index: 2;
  }

  #info-product .swiper-page-product .swiper-pagination-product-page .swiper-pagination-bullet-active{
    background-color: black;
  }

  #info-result{
    height: 472px;
  }
  @media screen and (max-width: 768px){
    #info-result{
      height: 350px;
    }
  }
  @media screen and (max-width: 640px){
    #info-result{
      height: 330px;
    }
  }
  @media screen and (max-width: 375px){
    #info-result{
      height: 310px;
    }
  }
  @media screen and (max-width: 320px){
    #info-result{
      height: 265px;
    }
  }
  #info-result .info-result__wrapper{
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  #info-result .info-result__wrapper .swiper-info-result{
    width: 100%;
  }
  #info-result .info-result__wrapper .swiper-info-result .swiper-slide{
    padding: 0 10px;
  }
  #info-result .info-result__wrapper .swiper-info-result .swiper-pagination-real-result{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #info-result .info-result__wrapper .swiper-info-result .swiper-pagination-real-result .swiper-pagination-bullet-active{
    background-color: black;
  }

  #info-derma{
    height: 472px;
  }
  @media screen and (max-width: 768px){
    #info-derma{
      height: 350px;
    }
  }
  @media screen and (max-width: 640px){
    #info-derma{
      height: 330px;
    }
  }
  @media screen and (max-width: 375px){
    #info-derma{
      height: 310px;
    }
  }
  @media screen and (max-width: 320px){
    #info-derma{
      height: 265px;
    }
  }
  #info-derma .derma-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  #info-derma .derma-wrapper .video-container{
    padding: 10px;
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  @media screen and (max-width: 640px){
    #info-derma .derma-wrapper .video-container{
      padding: 0;
    }
  }
  #info-derma .derma-wrapper .video-container .derma-video{
    width: 100%;
    height: auto;
    border-radius: 16px;
  }

  .selector-container{
    padding: 5px;
    width: 100%;
  }
  .selector-container .nav-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .selector-container .nav-wrapper .nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  .selector-container .nav-wrapper .nav-item .nav-button{
    border: 1px solid #D0D0D0;
    width: 169px;
    height: 32px;
    border-radius: 40px;
    background-color: white;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: black;
  }
  @media screen and (max-width: 1024px){
    .selector-container .nav-wrapper .nav-item .nav-button{
      width: 150px;
    }
  }
  @media screen and (max-width: 768px){
    .selector-container .nav-wrapper .nav-item .nav-button{
      width: 100%;
      height: 24px;
      font-size: 12px;
      line-height: 16px;
      padding: 0 10px;
    }
  }
  @media screen and (max-width: 640px) {
    .selector-container .nav-wrapper .nav-item .nav-button{
      padding: 0 15px;
    }
  }
  @media screen and (max-width: 375px) {
    .selector-container .nav-wrapper .nav-item .nav-button{
      padding: 0 10px;
    }
  }
  @media screen and (max-width: 320px){
    .selector-container .nav-wrapper .nav-item .nav-button{
      width: 100%;
      height: 42px;
      font-size: 10px;
    }
  }
  .selector-container .nav-wrapper .nav-item .nav-button:visited{
    color: black;
  }
  .selector-container .nav-wrapper .nav-item .nav-button:hover{
    background-color: black;
    color: white;
  }
  .selector-container .nav-wrapper .nav-item .nav-button.active{
    background-color: black;
    color: white;
  }

/* end PDP: Before & After First Image  */
/* CROSS SELL */
  .cross-sell {
    max-width: 550px;
    margin: 0 auto 40px;
  }

  .cross-sell .cross-sell__products {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 520px;
  }
  .cross-sell .cross-sell__title {
    font-family: "Canela Web", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #000;
    margin-bottom: 16px;
  }
  .cross-sell .cross-sell__product {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
    border-radius: 16px;
    border: 1px solid #C8E6DC;
    background: #E7F3EE;
    overflow: hidden;
  }
  .cross-sell .cross-sell__product-content-image {
    background: white;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    align-self: auto;
    width: 100px;
    min-width: 100px;
    display: flex;
  }
  .cross-sell .cross-sell__product--image {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
  }

  .cross-sell .cross-sell__product-content {
    flex: 1 1 auto;
    align-self: auto;
    padding: 8px 24px 8px 16px;
    align-content: center;
    min-height: 100px;
  }

  .cross-sell .cross-sell__product-content__top {
    margin-bottom: 6px;
  }
  .cross-sell .cross-sell__product-content--title {
    color: #000;
    font-family: "Canela Web";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
  .cross-sell .cross-sell__product-content--subtitle {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
  }

  .cross-sell .cross-sell__product-content__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .cross-sell .cross-sell__product-content--price {
    color: #000;
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  .cross-sell .cross-sell__product-content--button {
    display: flex;
    padding: 8px 24px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 12px;
  }

  @media screen and (max-width:767px) {
    .cross-sell .cross-sell__title {
      font-size: 20px;
    }
    .cross-sell .cross-sell__product-content--title.small-text {
      font-size: 14px;
    }
  }
  @media screen and (min-width: 992px) {
  /* Just for microinfusion page */
    body[class~="page.sunil-micro-infusion-pdp"] .cross-sell {
      margin: 0 0 40px 40px;
    } 
  /* Just for microinfusion page */
  }
/* CROSS SELL END */

/* PRICE BELOW REVIEWS PDP - TEST */


body:not([data-price-test="true"]) .price-test {
  display: none !important;
}
[data-price-test="true"] .price-test-original {
  display: none !important;
}
[data-price-test="true"] .price-test {
  display: block !important;
}

[data-price-test="true"] #sale-price {
  display: none;
}
body[class~="page.sunil-mi-landing"] .product-price{
  display: none !important;
}

.product-price {
  margin-top: 16px;
}

.subscriptionType:not(.active)[data-subscription="no-subscription"] .price-test {
  display: none !important;
}
.subscriptionType.active[data-subscription="no-subscription"] ~ form.form-test-id .price-test {
  display: none !important;
}

.product-price, .product-price .subscriptions-prices {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; 
}
.product-price .subscriptions-prices del {
  margin-right: 5px;
  color: #BABDBC;
}

/* PRICE BELOW REVIEWS PDP - TEST ---  END*/

/* pdm_product-landing-sales */
.pdm-mobile-product-landing-sales{
  display: block;
  background: linear-gradient(to right, white 50%, #F5F5F5 50%);
}
.desktop-product-landing-sales{
  display: none;
}
@media screen and (min-width: 769px) {
  .pdm-mobile-product-landing-sales{
    display: none;
  }
  .desktop-product-landing-sales{
    display: block;
  }
}

@media screen and (max-width: 768px){
   .pdm-mobile-product-landing-sales{
    background: white;
  }
}

@media screen and (max-width: 640px){
  .pdm-mobile-product-landing-sales .container{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.pdm-mobile-product-landing-sales .container .pdm_product-landing-sales-wrapper{
  display: flex;
  flex-direction: row;
  height: auto;
}
@media screen and (max-width: 768px){
  .pdm-mobile-product-landing-sales .container .pdm_product-landing-sales-wrapper{
    flex-direction: column;
    height: auto;
  }
}

.pdm_product-landing-sales-wrapper  .left-panel{
  width: 41.67%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 1144px) {
  .pdm_product-landing-sales-wrapper  .left-panel{
    justify-content: center;
  }
}
@media screen and (max-width: 768px){
  .pdm_product-landing-sales-wrapper  .left-panel{
    width: 100%;
  }
}

.pdm_product-landing-sales-wrapper .left-panel .product-landing-information{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  width: 350px;
}
@media screen and (max-width: 768px){
  .pdm_product-landing-sales-wrapper .left-panel .product-landing-information{
    align-items: center;
    padding: 31px 0;
    gap: 16px;
  }
}

.pdm_product-landing-sales-wrapper .left-panel .product-landing-information .product-landing-information-text{
  display: flex;
  flex-direction: column-reverse;
}

.pdm_product-landing-sales-wrapper .left-panel .product-landing-information .product-landing-information-text h3{
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.5px;
  text-align: left;
  padding-bottom: 0px;
  margin: 0;
}
@media screen and (max-width: 768px){
  .pdm_product-landing-sales-wrapper .left-panel .product-landing-information .product-landing-information-text h3{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 1.5px;
    text-align: center;
    margin: 0;
    padding-bottom: 0px;
  }
}

.pdm_product-landing-sales-wrapper .left-panel .product-landing-information .product-landing-information-text h2{
  font-family: 'Canela Web';
  font-size: 48px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 1.5px;
  text-align: left;
  margin: 0;
  white-space: normal;
  padding-bottom: 10px; 
}

@media screen and (max-width: 768px){
  .pdm_product-landing-sales-wrapper .left-panel .product-landing-information .product-landing-information-text h2{
    font-size: 38px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 1.5px;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
  }
}

.pdm_product-landing-sales-wrapper .left-panel .product-landing-information .product-landing-information-anchor a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 236px;
  height: 48px;
  padding: 8px 32px 8px 32px;
  border-radius: 100px;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: center;
  background-color: black;
  color: white;
}

@media screen and (max-width: 768px){
  .pdm_product-landing-sales-wrapper .left-panel .product-landing-information .product-landing-information-anchor a{
    height: 42px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: center;
  }
}

.pdm_product-landing-sales-wrapper .right-panel{
  width: 58.33%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #F5F5F5;
}

@media screen and (max-width: 1144px){
  .pdm_product-landing-sales-wrapper .right-panel{
    justify-content: center;
  }
}
@media screen and (max-width: 768px){
  .pdm_product-landing-sales-wrapper .right-panel{
    width: 100%;
    height: 100%;
  }
}

.pdm_product-landing-sales-wrapper .right-panel .container-swiper-product-landing{
  position: relative;
  width: 472px;
  height: 100%;
}
@media screen and (max-width: 640px){
  .pdm_product-landing-sales-wrapper .right-panel .container-swiper-product-landing{
    width: 100%;
    height: 100%;
    padding: 0 16px;
  }
}
.pdm_product-landing-sales-wrapper .right-panel .container-swiper-product-landing .swiper-pdm-landing-sales-prev{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .pdm_product-landing-sales-wrapper .right-panel .container-swiper-product-landing .swiper-pdm-landing-sales-prev{
    left: 5px;
  }
}

.pdm_product-landing-sales-wrapper .right-panel .container-swiper-product-landing .swiper-pdm-landing-sales-prev svg{
  width: 20px;
  height: 20px;
}

.pdm_product-landing-sales-wrapper .right-panel .container-swiper-product-landing .swiper-pdm-landing-sales-next{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .pdm_product-landing-sales-wrapper .right-panel .container-swiper-product-landing .swiper-pdm-landing-sales-next{
    right: 5px;
  }
}

.pdm_product-landing-sales-wrapper .right-panel .container-swiper-product-landing .swiper-pdm-landing-sales-next svg{
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 640px){
  .container-swiper-product-landing .pdm_swiper_product_landing{
    width: 100%;
    height: 100%;
  }
}

.container-swiper-product-landing .pdm_swiper_product_landing .swiper-pdm-landing-sales-pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding-top: 26px;
  padding-bottom: 16px;
}
@media screen and (max-width: 768px){
  .container-swiper-product-landing .pdm_swiper_product_landing .swiper-pdm-landing-sales-pagination{
    padding-top: 0;
    padding-bottom: 14px;
  }
}

.container-swiper-product-landing .pdm_swiper_product_landing .swiper-pdm-landing-sales-pagination .swiper-pagination-bullet{
  width: 6px;
  height: 6px;
  margin: 0;
}

.container-swiper-product-landing .pdm_swiper_product_landing .swiper-pdm-landing-sales-pagination .swiper-pagination-bullet-active{
  width: 6px;
  height: 6px;
  background-color: black;
}

.container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-text-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 32px;
  position: relative;
}
@media screen and (max-width: 640px){
  .container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-text-container{
  padding: 16px 32px 0;
  }    
}
@media screen and (max-width: 360px) {
  .container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-text-container{
  padding: 16px 0;
  }
}

.container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-information-item{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media screen and (max-width: 640px){
  .container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-information-item{
    gap: 10px
  }
}
.container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-information-item span{
  display: block;
  height: 34px;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #797D7C;
}
@media screen and (max-width: 768px){
  .container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-information-item span{
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.0273523330688477px;
    height: 16px;
  }
}

.container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-information-item h3{
  font-family: 'Canela Web';
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-information-item h3{
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
    white-space: nowrap;
  }
}
.container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-save-price {
  position: absolute;
  top: 32px;
  right: 0;
  z-index: 10;
} 
@media screen and (max-width: 640px){
  .container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-save-price {
    top: 16px;
    right: 7%;
  }
}

@media screen and (max-width: 360px){
  .container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-save-price {
    top: 16px;
    right: 0;
  }
}

.container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-save-price p{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3B8566;
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-align: left;
  color: white;
  width: 92px;
  height: 20px;
  border-radius: 16px;
  padding-top: 4.5px;
  padding-bottom: 3.5px;
}
@media screen and (max-width: 768px){
  .container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-save-price p{
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0.05em;
    text-align: left;
    width: 92px;
  }
}

.container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-img-container{
  width: 100%;
  height: 350px;
}

@media screen and (max-width: 640px){
  .container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-img-container{
    width: 100%;
    height: 200px;
  }
}
@media screen and (max-width: 321px){
  .container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-img-container{
    height: 200px;
  }
}

.container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 768px){
  .container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-footer{
    margin-top: 10px;
    padding: 32px 32px 10px;
  }
}

.container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-footer .product-landing-footer-price{
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.pdm-product-landing-card-container .product-landing-footer .product-landing-footer-price  .product-landing-footer-price_full{
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-decoration: line-through;
}
.pdm-product-landing-card-container .product-landing-footer .product-landing-footer-price .product-landing-footer-price_discount{
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}

.container-swiper-product-landing .pdm_swiper_product_landing .pdm-product-landing-card-container .product-landing-footer a{
  width: 108px;
  height: 32px;
  padding: 8px 24px 8px 24px;
  border-radius: 100px;
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: center;
  background-color: black;
  color: white;

}

/* end pdm_product-landing-sales */

/* Dermatologist Section AB test  */

.homepage .quote_original_dermatologist{
  display: none;
}

.homepage .popyoutube_original_dermatologist{
  background-color: unset !important;
  max-width: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage .popyoutube_original_dermatologist > span > h6{
  display: none;
}

.homepage .popyoutube_original_dermatologist > span > img{
  height: 54px;
}

@media screen and (max-width: 768px) {
  .homepage .trusted_bl.new_trusted_bl {
    background: unset;
  }
  
}

.homepage .trusted_bl.new_trusted_bl .trusted_cl .container .section_header{
  display: none !important;
}

.homepage .trusted_bl.new_trusted_bl .trusted_cl{
  background: unset;
  background-color: white;
}

.homepage .original-dermatologist{
  display: none;
}

.homepage #new-dermatolgist{
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .homepage #new-dermatolgist{
    flex-direction: column-reverse;
    gap: 32px;
  }
}

.homepage #new-dermatolgist .new_trusted_left{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 55.28%;
}

@media screen and (max-width: 768px) {
  .homepage #new-dermatolgist .new_trusted_left{
    width: 100%;
  }
}

#new-dermatolgist .new_trusted_left .new_trusted_left--wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#new-dermatolgist .new_trusted_left .new_trusted_left--wrapper .trusted_recomendation_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  border: 1px solid #D7D9D9;
  border-radius: 8px;
  padding: 12px 16px 12px 12px;
  gap: 8px;
}
#new-dermatolgist .new_trusted_left .new_trusted_left--wrapper .trusted_recomendation_container > img{
  display: block;
  width: 20px;
  height: 20px;
}
#new-dermatolgist .new_trusted_left .new_trusted_left--wrapper .trusted_recomendation_container > p{
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #797D7C
}
@media screen and (max-width: 768px) {
  #new-dermatolgist .new_trusted_left .new_trusted_left--wrapper .trusted_recomendation_container > p{
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-align: left;
  }
}

#new-dermatolgist .new_trusted_left .new_trusted_left--wrapper .trusted_opinon_container > p{
  font-family: 'Poppins';
  font-size: 26px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #new-dermatolgist .new_trusted_left .new_trusted_left--wrapper .trusted_opinon_container > p{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
  }
}

#new-dermatolgist .new_trusted_right{
  width: 46.11%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  #new-dermatolgist .new_trusted_right{
    width: 100%;
    justify-content: center;
  }
}

#new-dermatolgist .new_trusted_right .new_trusted_right_wrapper{
  width: 488px;
  height: 538px;
  border-radius: 24px;
  background-position: unset;
}

@media screen and (max-width: 768px) {
  #new-dermatolgist .new_trusted_right .new_trusted_right_wrapper{
    width: 342px;
    height: 325px;
    border-radius: 24px;
  }
}

#new-dermatolgist .new_trusted_right .new_trusted_right_wrapper .new_trusted_right_wrapper-information{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  padding: 24px 24px 24px 24px;
}

#new-dermatolgist .new_trusted_right .new_trusted_right_wrapper .new_trusted_right_wrapper-information .new_trusted_right_wrapper-information-text > h3{
  color: white;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #new-dermatolgist .new_trusted_right .new_trusted_right_wrapper .new_trusted_right_wrapper-information .new_trusted_right_wrapper-information-text > h3{
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  }
}

#new-dermatolgist .new_trusted_right .new_trusted_right_wrapper .new_trusted_right_wrapper-information .new_trusted_right_wrapper-information-text > p{
  color: white;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-align: left;
}

@media screen and (max-width: 768px) {
  #new-dermatolgist .new_trusted_right .new_trusted_right_wrapper .new_trusted_right_wrapper-information .new_trusted_right_wrapper-information-text > p{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: left;
  }
}
#new-dermatolgist .new_trusted_right .new_trusted_right_wrapper .new_trusted_right_wrapper-information .play_btn .popup-youtube{
  background-color: unset;
}
/* end Dermatologist Section AB test  */


/* MI LP Science Section */

.science-section-container{
  display: block;
  padding: 56px 0;
}
@media screen and (max-width: 768px){
  .science-section-container{
    padding: 0px 0px 12px;
  }
  .science-section-container .container{
    padding: 0 !important;
  }
}

.science-section-container .container .science-section-wrapper{
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px){
  .science-section-container .container .science-section-wrapper{
    flex-direction: column;
  }
}

.science-section-container .container .science-section-wrapper .left-panel{
  width: 50%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px){
  .science-section-container .container .science-section-wrapper .left-panel{
    width: 100%;
    justify-content: center;
  }
}

.science-section-container .container .science-section-wrapper .left-panel .science-video-container-horizontal{
  display: none;
  justify-content: center;
  align-items: center;
  width: 95%;
}

@media screen and (max-width: 768px) {
  .science-section-container .container .science-section-wrapper .left-panel .science-video-container-horizontal{
    display: none;
    width: 100%;
  }
}

.science-section-container .container .science-section-wrapper .left-panel .science-video-container-horizontal video{
  width: 100%;
  height: auto;
}

.science-section-container .container .science-section-wrapper .left-panel .science-video-container-vertical{
  width: 472px;
  height: 482px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px){
  .science-section-container .container .science-section-wrapper .left-panel .science-video-container-vertical{
    display: flex;
    width: 100%;
    height: 282px;
  }
}

.science-section-container .container .science-section-wrapper .left-panel .science-video-container-vertical video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.science-section-container .container .science-section-wrapper .right-panel{
  width: 50%;
  display: flex;
}

@media screen and (max-width: 768px){
  .science-section-container .container .science-section-wrapper .right-panel{
    width: 100%;
    padding: 24px 16px 24px;
  }
}

.science-section-container .container .science-section-wrapper .right-panel .science-text-container{
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 592px;
  flex-shrink: 0;
}

@media screen and (max-width: 1024px){
  .science-section-container .container .science-section-wrapper .right-panel .science-text-container{
    width: 100%;
    gap: 16px;
  }
}

.science-section-container .container .science-section-wrapper .right-panel .science-text-container .science-text-container-information {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (max-width: 768px){
  .science-section-container .container .science-section-wrapper .right-panel .science-text-container .science-text-container-information {
    gap: 8px;
  }
}

.science-section-container .container .science-section-wrapper .right-panel .science-text-container .science-text-container-information h2{
  margin: 0;
  font-family: 'Canela Web';
  font-size: 36px;
  font-weight: 500;
  line-height: 46px;
}

@media screen and (max-width: 768px){
  .science-section-container .container .science-section-wrapper .right-panel .science-text-container .science-text-container-information h2{
    font-family: 'Canela Web';
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
  }
}

.science-section-container .container .science-section-wrapper .right-panel .science-text-container .science-text-container-information p{
  margin: 0;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

@media screen and (max-width: 768px){
  .science-section-container .container .science-section-wrapper .right-panel .science-text-container .science-text-container-information p{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
}

.science-section-container .container .science-section-wrapper .right-panel .science-text-container .science-text-container-value-props{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 18px;
}

@media screen and (max-width: 768px){
  .science-section-container .container .science-section-wrapper .right-panel .science-text-container .science-text-container-value-props{
    gap: 16px;
  }
}

.science-section-container .container .science-section-wrapper .right-panel .science-text-container .science-text-container-value-props .value-prop-card{
  width: 278px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 1024px){
  .science-section-container .container .science-section-wrapper .right-panel .science-text-container .science-text-container-value-props .value-prop-card{
    width: 100%;
  }
}

.science-section-container .container .science-section-wrapper .right-panel .science-text-container .science-text-container-value-props .value-prop-card .value-prop-card__img{
  width: 54px;
  height: 54px;
  flex-shrink: 0;
}

.science-section-container .container .science-section-wrapper .right-panel .science-text-container .science-text-container-value-props .value-prop-card .value-prop-card__img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.science-section-container .container .science-section-wrapper .right-panel .science-text-container .science-text-container-value-props .value-prop-card .value-prop-card__text > p{
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.science-section-container .container .science-section-wrapper .right-panel .science-text-container .science-text-anchor-container > a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 268px;
  height: 56px;
  border-radius: 100px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: center;
}

@media screen and (max-width: 768px){
  .science-section-container .container .science-section-wrapper .right-panel .science-text-container .science-text-anchor-container > a{
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.01em;
  }
}

@media screen and (max-width: 767px) {
  .science-section-container .container .science-section-wrapper .right-panel .science-text-container .science-text-anchor-container{
    padding-top: 8px;
  }
}

/* end MI LP Science Section */

/* LP Science section Mens */
.mi_landing.mi_landing_men .science-section-container {
  display: none;
}

/* reduced-copy pro led mask */
.reduced-copy {
  display: none !important;
}
[data-reduced-copy] .original-copy {
  display: none !important;
}
[data-reduced-copy] .reduced-copy {
  display: block !important;
}

[data-reduced-copy] .led-light-container .reduced-copy {
  padding-left: 58px;
}

[data-reduced-copy] .clinical-grade-container .reduced-copy { 
  padding-left: 38px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
[data-reduced-copy] .clinical-grade-container .reduced-copy .title { 
  margin-bottom: 12px !important;
}
[data-reduced-copy] .clinical-grade-container .reduced-copy .sub-title,
[data-reduced-copy] .qure-mobile-app-container .reduced-copy .sub-title { 
  color: #000;
  font-family: "Canela Web", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.28px;
}
[data-reduced-copy] .clinical-grade-container .reduced-copy .accordion-item {  
  width: 472px;
}
[data-reduced-copy] .qure-mobile-app-container .reduced-copy {  
  order: -1;
  padding-right: 36px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
} 
[data-reduced-copy] .qure-mobile-app-container .reduced-copy .ss_list {
  padding: 0; 
}
[data-reduced-copy] .section-easy-guide .reduced-copy .see_item_info ol li { 
  opacity: 0.8;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
[data-reduced-copy] .section-product-box .subtitle.reduced-copy p { 
  max-width: unset;
} 
@media screen and (min-width: 768px) { 
  [data-reduced-copy] .section-trusted .trusted_cl .section_header.reduced-copy:not(.d-lg-block) {  
    display: none !important;
  }
  [data-reduced-copy] .section-compare .title-lg.reduced-copy { 
    width: 700px;
  } 
  [data-reduced-copy] .section-compare .subtitle.reduced-copy { 
    width: 670px;
    margin-left: auto;
    margin-right: auto;
  } 
}
@media screen and (max-width: 768px) {
  [data-reduced-copy] .section-trusted .trusted_cl { 
    padding-top: 20px !important;
  } 
  [data-reduced-copy] .section-trusted .trusted_cl .section_header.reduced-copy .title-lg { 
    padding: 0 50px;
    text-align: center;
  } 
  [data-reduced-copy] .section-trusted .trusted_left .title-lg { 
    display: none;
  }
  [data-reduced-copy] .section-trusted .trusted_left .section_header.reduced-copy {
    padding: 0 !important;
  }
  [data-reduced-copy] .section-results .section_header { 
    display: flex;
    justify-content: center;
  } 
  [data-reduced-copy] .section-results .section_header .title-lg.reduced-copy { 
    width: 293px;
    text-align: center;
  } 
  [data-reduced-copy] .section-two-column-box .led-light-container .reduced-copy { 
    padding-left: 24px;
  }
  [data-reduced-copy] .section-two-column-box .led-light-container .reduced-copy .title { 
    margin-top: 30px !important;
    margin-bottom: 50px !important;
  } 

  [data-reduced-copy] .section-two-column-box .led-light-container .reduced-copy .ss_list { 
    padding-top: 30px;
  } 
  [data-reduced-copy] .section-two-column-box .clinical-grade-container .reduced-copy { 
    padding-left: 12px;
  }
  [data-reduced-copy] .section-two-column-box .clinical-grade-container .reduced-copy .it_info .sub-title { 
    font-family: "Canela Light",sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; 
    letter-spacing: 0.22px;
    position: relative;
    padding-bottom: 310px;
    padding-right: 67px;
  } 
  [data-reduced-copy] .section-two-column-box .clinical-grade-container .reduced-copy .it_info .sub-title img { 
    padding-top: 20px;
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
    height: 320px !important;
  } 
  [data-reduced-copy] .section-two-column-box .clinical-grade-container .reduced-copy .accordion-item { 
    width: auto;
  } 
  [data-reduced-copy] .section-two-column-box .qure-mobile-app-container .reduced-copy .sub-title {
    font-family: "Canela Light",sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.22px;
  } 
  [data-reduced-copy] .section-two-column-box .qure-mobile-app-container .reduced-copy .it_info img { 
    padding-left: 24px;
  } 
  [data-reduced-copy] .section-easy-guide .reduced-copy .container .title-lg { 
    padding-bottom: 0;
    margin-bottom: 0;
  }
  [data-reduced-copy] .section-compare .section_header { 
    margin-left: 0;
    max-width: unset;
  } 
  [data-reduced-copy] .section-compare .title-lg.reduced-copy { 
    text-align: start;
    padding-right: 100px;
  } 
  [data-reduced-copy] .section-compare .subtitle.reduced-copy { 
    text-align: start;
    width: 100%;
    padding-right: 40px;
  } 
}

/* end reduced-copy pro led mask */

/* Holiday LP Hero Banner Copy  */

.bfBundle__bannerBlock .bfBundle__content{
  max-width: 750px;
}

.bfBundle_bnr_hdr{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bfBundle_bnr_hdr .bfHeading{
  text-align: left;
}

.bfBundle_bnr_hdr .bfSubheading-text{
  color: #000;
  text-align: center;
  font-family: 'Poppins';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: left;
}

/* end Holiday LP Hero Banner Copy  */


/* start confidence slider */
.skincare_slider_n,
.science-section-container .container .science-section-wrapper .right-panel .science-text-container .science-text-container-value-props.new,
.science-section-container .container .science-section-wrapper .right-panel .science-text-container .science-text-container-information .new_heading {
  display: none;
}
/* end confidence slider */